// common

html  
    -ms-text-size-adjust: 100% 
    -webkit-text-size-adjust: 100% 

html
    font-family: 'GOSTUI2';
    box-sizing: border-box;


html, body
    height 100%

*, *:before, *:after
    box-sizing: inherit;

body 
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    color $textFirst
    overflow-x hidden // temp
    font-size: 16px;
    line-height: 26px;
    &.modal-active
        overflow: hidden;


h1, .h1
    font-size 36px
    line-height 36px
    line-height 1
    font-weight 700
    text-transform uppercase
    margin-bottom 20px
    @media $s
        font-size 24px

h2, .h2
    font-size 21px
    line-height 1
    font-weight 700
    text-transform uppercase
    margin-bottom 30px

h3, .h3
    font-size 18px
    line-height 1
    font-weight 700
    text-transform uppercase
    margin-bottom 26px

a
button
    text-decoration none 
    outline 0
    -webkit-appearance: none;

p
    margin 0 0 20px

a
    color $first
    font-weight 500
    &:hover
        filter brightness(110%)

a.back-link
    display inline-block
    color $second
    margin-bottom 5px
    font-size 14px
    &:before
        content '← '
    &:hover
        color $first
i
    color #000
    font-weight 500
    
.t-center
    text-align center

.t-right
    text-align right

.page-content__inner
.modal
    h3, .h3
        margin-top 50px
    b, strong
        font-weight bold
    sup
        vertical-align super
        font-size 12px
    sub
        vertical-align sub
        font-size 12px
    ul:not([class])
        list-style-type: disc; 
        list-style-position: outside;
        padding-left: 15px;
        margin-bottom 20px
        li
            margin-bottom 8px
    ol 
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;

    ol > li
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;

    ol > li:before 
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;    

    li ol > li
        margin: 0;

    li ol > li:before
        content: counters(item, ".") " ";
    
.btn
    display inline-block
    border 1px solid $first
    background $first
    color #fff
    padding 15px 20px
    font-weight 500
    transition all 0.3s ease 
    -webkit-appearance: none;
    &_l
        display flex
        align-items center
        font-size 16px
        text-transform uppercase
        font-weight 700
        justify-content center
    &_second
        border 1px solid $second
        background $second
    &:hover
        filter brightness(110%)

.label
    color $textFirst
    font-weight 500
    font-size 14px
    line-height 17px
    color rgba(0,0,0,0.6)

ul.list
    margin-bottom 30px
    li
        color $textFirst
        padding-left 20px
        position relative
        margin-bottom 10px
        &:before
            content ''
            width 5px
            height 5px
            border-radius 50%
            background $textFirst
            display inline-block
            margin-right 8px
            position absolute
            top 8px
            left 0

[class$="__inner"]
    max-width 1120px
    margin 0 auto
    padding 0 20px
    @media $m
        max-width 100%

.header
    background rgba(35, 42, 53, 0.9)
    background #232A36
    height 100px
    position sticky
    top 0
    z-index 1001
    box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.12)
    @media $m960
        height 65px
    &__inner
        display flex
        align-items center
        height 100%
    &-top
        height 100%
        width 100%
        display flex
        flex-flow column wrap
        justify-content space-between
        &-menu
            display flex
            align-items center
            background #fff
            height 65px
            padding 20px 0 20px 100px
            margin-left -20px
            @media $m
                padding-left 65px
            @media $m960
                padding-left 60px
                height 65px
            &:after
                content ''
                background #fff
                height inherit
                width 100%
                position absolute
                z-index -1
                right 0
            &__list
                display flex
                width 100%
                justify-content space-between
                @media $m960
                    display none
                .dropdown-menu
                    display none
                    position absolute
                    width 265px
                    right 0
                    top 100%
                    background #fff
                li
                    //margin-right 30px
                    display flex
                    align-items center
                    position relative
                    @media $m
                        margin-right 20px
                    &:last-child
                        margin-right 0
                a
                    display block
                    width 100%
                    color #222
                    text-decoration none
                    text-transform uppercase
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: 700;
                    white-space nowrap
                    font-style: normal;
                    @media $m
                        font-size 14px
                    &:hover
                        color $first
                    &.dropdown-toggle#menu-item-dropdown-47
                        font-size 30px
                        padding-bottom 16px
                    span 
                        padding 5px 16px
                a:hover span
                    background url('../i/brush.svg') no-repeat center
                    background-size 110% 300%
                    color #fff!important
                a.dropdown-toggle#menu-item-dropdown-47:hover span
                    background-size 110% 200%
                    background-position -3px -19px

            .dropdown-toggle:hover + .dropdown-menu, .dropdown-menu:hover, .dropdown-menu.hover
                display block
            .dropdown-menu
                padding 10px 0
                box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.12)
                margin-top -4px
            .dropdown-menu li
                padding 10px 20px
            &__mobile
                display none
                justify-content space-between
                align-items center
                width 100%
                @media $s
                    .hamburger
                        margin-left auto
                @media $m960
                    display flex
                &-col
                    @media $s
                        display none
                &-link
                    color #232a36
                    font-weight bold
                    font-size 18px
                &-icon
                    fill currentColor
                    margin 0 10px
        &__info
            display flex
            justify-content space-between
            height calc(100% - 65px)
            align-items center
            color #fff
            padding-left 100px
            font-size 14px
            @media $m
                width calc(100% + 180px)
                padding-left 0
                margin-left -180px
            @media $m960
                display none
            &-item
                padding 0 10px
                color rgba(255,255,255,0.8)
                text-decoration none
                display flex
                align-items center
                a&:hover
                    color $first
                &:last-child
                    padding-right 0
                &-icon
                    fill currentColor
            &-section
                display flex
                align-items center
                position relative
                &:after
                    contnet ''
                    display block
                    height 20px
                    width 2px 
                    background red
                    position absolute
                    right 0
    &__logo
        position relative
        height 100%
        display flex
        flex-flow column wrap
        justify-content center
        margin-left -10px
        padding-top 10px
        color $textFirst
        @media $m
            background #fff
            height 65px
            align-self flex-end
            margin-left -20px
            padding-left 20px
            padding-top 0
        @media $m960
            align-self flex-start
            height 65px
        &:before
            position: absolute;
            content: '';
            right: -40px;
            top: 0px;
            height: 100%;
            width: 10000%;
            background-color: #ffffff;
            transform: skewX(-45deg);
            border-right: 2px solid rgba(35, 42, 53, 0.9)
            @media $m
                display none
        &-image
            width 224px
            position relative
            z-index 1
            margin-top -14px
            margin-bottom -6px
            @media $m
                display none 
                margin-top 0px
            &_mobile
                display none
                @media $m
                    display block
                    width 180px
                    margin-bottom 0px
        &-text
            position relative
            z-index 1
            width 186px
            text-transform uppercase
            font-size 12.8px
            font-weight 500
            padding-top 4px
            letter-spacing: 0.42px
            opacity 0.9
            width 224px
            text-align center
            @media $m
                width 186px
                padding-top 0


// mobile menu
.mobile-menu
    position fixed
    top 80px
    left 0
    width 100%
    height 100%
    background #fff
    top 60px
    z-index 100
    padding 20px
    overflow auto
    touch-action: none
    z-index: 1000;
    visibility: hidden;
    opacity: 1;
    transform translateX(100%)
    transition: all 0.3s ease
    background-image linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
    touch-action none
    &__inner
        positon relative
        padding 10px 0 0
        overflow auto
    &-col
        margin-bottom 10px
        line-height: 21px
    &-link
        display inline-block
        font-weight bold
        font-size 18px
        color #242424
        padding 10px 0
        margin-bottom 5px
    &-icon
        margin 0 10px
    &__contacts
        border-top 1px solid #ccc
        padding 30px 0 40px
        text-align center
    ul 
        margin-bottom 20px
        li
            margin-bottom 10px
            a
                display block
                color #000
                text-transform uppercase
                font-weight 600
                font-size 16px
                padding 5px 0
        .dropdown-menu li
            margin-bottom 5px
            &:first-child
                padding-top 20px
                border-top 1px solid #ccc
            a
                font-size 14px
                padding 0
                text-transform none
                font-weight 500
    p
        margin 0
    .dropdown-menu
        display none
    #menu-item-dropdown-47
        display none
        + .dropdown-menu
            display block

// modals

body
    &.modal-active
        overflow: hidden;
        .mobile-menu.active
            visibility: visible;
            opacity: 1;
            overflow: auto;
            transform translateX(0%)



.mainpage-slider
    position relative
    top 0
    width 100%
    height calc(100vh - 150px)
    &__inner
        height 100%
        display flex
        flex-flow column
        justify-content center
        padding 0 20px
        @media $s
            justify-content center
            align-items center
            padding-top 20px
    &__item
        height calc(100vh - 150px)
        background-size cover
        background-position center
    &__item_right &__inner
        align-items flex-end
    &__item_left &__inner
        align-items flex-start
    h2
        font-size 6vmin
        color #0b0b0b
        background rgba(255,255,255,0.8)
        padding 16px 30px
        margin-bottom 10px
        opacity 0
        transform translate3d(0,50px,0)
        transition all 0.6s 0.2s ease-out
        font-weight 600
        @media $s
            font-size 24px
        + p
            opacity 0
            font-size 3.5vmin
            transform translate3d(0,50px,0)
            background rgba(0,0,0,0.8)
            color #fff
            letter-spacing 0.5px
            padding 10px 20px
            line-height 21px
            transition all 0.6s 0.2s ease-out
            margin-bottom 10px
    img
        max-width 100%
    .slick-active h2, .slick-active p
        opacity 1
        transform translate3d(0,0,0)
    .slick-active h2:empty
    .slick-active p:empty
        display none
.section-links
    margin 0 auto 30px
    padding 0
    z-index 1
    max-width 1080px
    max-width 100%
    width 100%
    display flex
    @media $s
        margin-bottom 0
        flex-flow row wrap
        .show-modal
            display none
    &.bottom
        margin-bottom 0
    &__item
        width 100%
        @media $xs
            flex 0 0 auto
    &.cols2 &__item
        width 50%

    &__inner
        margin 0
        width 100%

    .swiper-container 
        width: 100%
        overflow visible
    &__slider
        //display flex
        width 100%
        opacity 1
        transition background-color 0.3s 0.3s ease
        position relative
        border 4px solid #fff
        border-left-width 3px
        &-before
        &-after
            position absolute
            content ''
            width 10%
            height 100%
            z-index 1
            top 0
            transition background-color 0.3s ease
            cursor pointer
            background: linear-gradient(90deg,rgba(244,247,251,0), #f4f7fb);
            @media $xs
                width 20%
                opacity 0.8
            &:hover
                background-image url("../i/right-arrow.svg")
                background-size: 40px;
                background-position: 90% center;
                background-color: transparent;
                background-repeat: no-repeat;
                filter: invert(1);
            &.slick-arrow.slick-disabled
                opacity 0
                cursor default
        &-before
            left -5px
            transform: scale(-1, 1);
            @media $xs
                display none
        &-after
            right -5px
        &.slick-initialized
            opacity 1
        &-next
        &-prev
            position absolute
            top 50%
            width 150px
            @media $l
                font-size 0
                span.arrow
                    font-size 26px
                    font-weight 500
            &:hover
                cursor pointer
                color $first
        &-prev
            left -150px
            text-align right
            padding-right 20px
            @media $l
                padding-right 10px
        &-next
            right -150px
            padding-left 20px
            @media $l
                padding-left 10px
    .slick-arrow
        filter invert(0)
        z-index 3
        display none
    &__inner
        position relative
        display flex
        flex-flow row wrap
        border-style: solid;
        padding 0
        max-width 1124px
        max-width 100%
        overflow hidden
    &__item
        height 250px
        position relative
        overflow hidden
        white-space nowrap
        border 1px solid #fff
        border-width 0 2px
        @media $l
            height 210px
        @media $s
            height 160px
        &-bg
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            background-size cover
            background-position center
            filter brightness(90%)
            transition all 0.3s ease
            &:after
                position absolute
                content ''
                display block
                width 100%
                height 100%
                background rgba(0,0,0,0.1)
        &-title
            color rgba(35,42,53,0.9)
            font-weight 500
            font-size 18px
            position absolute
            bottom 20px
            background: rgba(255,255,255,0.8)
            padding 12px 20px
            overflow-y hidden
            transition all 0.3s ease
            width 100%
            text-align center
            box-sizing border-box
            @media $m
                font-size 18px
                width 100%
                text-align center
                padding 12px
            &-bg
                background rgba(35,42,53,0.9)
                height: 100%;
                width: 100%;
                position: absolute;
                left: -100%;
                top: 0px;
                z-index: 1;
                transition: all 300ms ease;
                opacity: 0;
            &-text
                position relative
                z-index 1
        @media (hover: hover)
            &:hover &-title
                background transparent
                padding-right 90px
                color #fff
            &:hover &-title-bg
                opacity: 1;
                left: 0;
            &:hover &-bg
                filter brightness(100%)
                transform scale(1.1)
.main-content
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
.section-news
    //background url('../i/bg-lines-2.png') no-repeat center top;
    background-size 580px
    background-position calc(50% - 545px) 0
    padding 20px 0 50px
    @media $m
        padding-bottom 100px
    @media $s
        padding-bottom 50px
    h3
        margin-bottom 15px
        border-bottom 1px solid #ccc
        padding-bottom 15px
    &__title
        color $second
        &:hover
            color $first
    &__inner
        position relative
        padding 0 26px
    &__content
        display flex
        justify-content space-between
        @media $s
            flex-flow column 
    &__col
        width 33.33%
        min-height 150px
        @media $s
            width 100%
            min-height 0
            &:not(:last-child)
                margin-bottom 30px
        &-text
            padding 20px
            line-height 24px


.last-news
    height 100%
    &__item
        color $textFirst
        transition all 0.3s ease
        padding-right 50px
        &:last-child
            border-bottom 0
            margin-bottom 10px
        &-date
            font-size 14px
        &-text
            margin-bottom 10px
            h4
                display block
                font-weight 500
                font-size 18px
                line-height 21px
                margin-bottom 10px
            img
                margin-bottom 20px
            p
                font-size 14px
                line-height 20px
                opacity 0.6
                @media $m
                    display none
    &__item:hover h4
        color $first

.section-offer
    display block
    color #fff
    &.section-offer__text-mobile
        display none
        @media $s
            display block
    &__inner
        display flex
        justify-content space-between
        align-items center
        height 110px
        padding 0
        max-width 100%
        position relative
        @media $s
            flex-flow column
            height auto
    h4
        font-size 21px
        font-weight 500
        margin-bottom 5px
        @media $s
            font-size 16px
    p
        opacity 0.7
        font-weight 500
        font-size 14px
        line-height 17px
        margin-bottom 0
        @media $m
            display none
    &__icon
        fill #fff
        margin 0 30px
        opacity 0.3
        flex 0 0 auto
        @media $l
            width 50px
            height 50px
        @media $m
            width 40px
            height 40px
    &__text
        position relative
        z-index 1
        display flex
        height 100%
        align-items center
        padding 24px 50px
        background $first
        width 46%
        display flex
        transition all 0.3s ease
        color #fff
        @media $s
            padding-right 20px
        &:hover, &.hover
            filter brightness(110%)
        &_left
            justify-content flex-end
            padding-right 186px
            text-align right
            background $second
            @media $s
                flex-flow row-reverse
                justify-content flex-start
                padding-right 20px
                text-align left
                padding-left 20px
        &_left .section-offer__icon
            margin-left 0
            margin-right auto
            @media $s
                margin-right 0
                margin-left auto
        &_right .section-offer__icon
            margin-right 0
        &_right
            padding-left 156px
            @media $s
                padding-left 20px
        &-forhover
            display block
            position absolute
            width 210px
            height 100%
            z-index 10
            cursor pointer
            @media $s
                display none
            &_left
                left 50%
                margin-left -220px
            &_right
                right 50%
                margin-right -220px
                width 210px
    &__text-left &__icon
        margin-left 0
        margin-right auto
    &__text_right &__icon
        margin-left auto
        margin-right 0
    &-mobile
        display flex
        align-items center
        width 100%
        padding 12px 30px
    &__text
        @media $s
            display none
    &__text-mobile
        @media $s
            display flex 
            width 100%
            margin-bottom 4px
    &__image
        height 450px
        position absolute
        left 50%
        transform translateX(-50%)
        margin-top -70px
        z-index 2
        @media $s
            display none

.section-tour
    //background url('../i/bg-lines.png') no-repeat -120px top;
    background-size 500px
    background-position calc(50% + 630px) 0
    display flex
    flex-flow row wrap
    position relative
    overflow hidden
    z-index 3
    background #fff
    &__inner
        display flex
        flex-flow row wrap
        max-width 100%
    &__item
        width 25%
        height 280px
        display flex
        color $textFirst
        position relative
        @media $l
            height 250px
        @media $m
            height 220px
        @media $m960
            width 50%
            height 240px
        @media $xs
            width 100%
        &_rev
            flex-flow row-reverse wrap
        &-text
            display flex
            flex-flow column
            position relative
            padding 46px 30px 6px
            width 100%
            height inherit
            display flex
            flex-flow column nowrap
            justify-content flex-start
            color #fff
            transition all 0.3s ease
            h4
                position relative
                font-size 18px
                letter-spacing 0.5px
                line-height 23px
                font-weight 700
                text-transform uppercase
                margin-bottom 20px
                margin-top auto
            p
                visibility hidden
                opacity 0
                display none
                font-size: 14px;
                line-height: 21px;
                height: 0;
                overflow: hidden;
                transition all 0.1s 0.3s ease
                font-weight 500
        &-image
            position absolute
            top 0 
            left 0
            height 100%
            width 100%
            overflow hidden
        &-img
            position relative
            width 100%
            height 100%
            background-size cover
            background-position center
            transition all 0.3s 0.3s ease
            filter: contrast(100%);
            will-change filter
            &:after
            &:before
                content ''
                display block
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(0,0,0,0.1)
                transition all 0.3s ease
            &:after
                background: linear-gradient(180deg,rgba(0,0,0,0.2) 50%,rgba(0,0,0,.55));
    &__item:hover &__item-img:before
        background: rgba(0,0,0,0.65)
    &__item:hover h4
        top 5%
        bottom 100%
        margin-bottom 30px
    &__item:hover p
        visibility: visible;
        opacity: 0.9;
        height: 45%;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media $l
            height 40%
            -webkit-line-clamp: 4;
        @media $m
            height 50%
        @media $m960
            height 45%
.footer
    min-height 510px
    position relative
    background-size cover
    background-position center 0
    background-attachment: fixed
    color #fff
    padding 30px 0
    &__overlay
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(35, 42, 53, 0.5)
        background rgba(3, 4, 9, 0.8)
    &__inner
        position relative
        z-index 1
    &__logo
        display block
        width 240px
        margin 0 auto 40px
    &__map
        width 100%
        height 150px
        background-position center
        color rgba(0,0,0,0.5)
        display flex
        align-items center
        justify-content center
    &__cols
        display flex
        justify-content space-between
        @media $s
            flex-flow column
            align-items center
    &__col
        padding 0 0 20px
        width 33.33%
        @media $s
            width 100%
            justify-content: center
            text-align center
        &:nth-child(2)
            justify-content: center
            text-align center
        &:last-child
            text-align right
            justify-content: flex-end
            @media $s
                text-align center
                justify-content: center
        &:last-child &-item-icon
            top 5px
            margin-left -5px
            transform translateX(100%)
        &:last-child &-item-icon_email
            top 2px
        &-item
            margin-bottom 29px
            color rgba(255,255,255,0.8)
            position relative
            line-height 24px
            &-icon
                position relative
                fill rgba(255,255,255,0.7)
                position absolute
                transform translateX(-100%)
                margin-left -17px
                opacity 0
            &-link
                display block
                color rgba(255,255,255,0.7)
                font-weight 600
                &:hover
                    color $first
            &_soc
                display flex
                margin-left -32px
                justify-content flex-end
                @media $s
                    margin-left 0
                    justify-content center
    &__social
        color rgba(255,255,255,0.7)
        margin-left 49px
        @media $s
            margin 0 30px
        &:hover
            color $first
        &-icon
            fill currentColor
    &__app
        margin-left 10px
        @media $s
            margin-bottom 10px
    &-menu
        &__list
            columns 4
            padding-top 30px
            margin-bottom 30px
            border-top 1px solid rgba(255,255,255,0.3)
            @media $s
                display none
            li
                display block
                break-inside: avoid;
            a
                display block
                color rgba(255,255,255,0.7)
                display block
                padding 12px 0
                font-size 14px
                &:hover
                    color $first
    p
        margin 0



.breadcrumbs
    position absolute
    display flex
    align-items center
    font-size 18px
    &__arrow
        margin 0 10px


table:not(.fl-table)
    font-size 16px
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border 0
    width 100%!important
    max-width 100%
    overflow-y hidden
    overflow-x auto
    border-left 1px solid #fff
    margin-bottom 30px
    box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
    caption 
        color: #000;
        padding: 1em 0;
        text-align: center;
    td, th 
        border: 1px solid #fff
        margin: 0;
        overflow: visible;
        padding: 16px 20px
        word-wrap: break-word;
        &:first-child
            border-left 0
    td
        border-right: 1px solid #f8f8f8;
        font-size: 14px;
        line-height: 20px;
    th
        background #3db39e
        color #fff
        font-weight: 500;
        vertical-align: middle;
        text-align center
        padding 8px 20px
        &:nth-child(odd)
            background: #324960;
    thead
        color: #000;
        text-align: left;
        vertical-align: bottom;
    tr
        background-color: #fff;
        &:nth-child(even)
            background: #f8f8f8;
    p
        margin 0


