.gallery
    margin-bottom -20px
    &__header
        display flex
        justify-content space-between
        align-items center
    &__inner
        max-width 100%
        padding 0
    &__tags
        margin-bottom 30px
        display flex
        flex-flow row wrap
        button
            display inline-block
            padding 5px 14px
            margin 0 5px 5px
            border-radius 2px
            color $textFirst
            font-size 16px
            border 1px solid $second
            color $second
            background transparent
            cursor pointer
            font-family: 'GOSTUI2';
            &.active
                background $second
                color #fff
    &__viewmode
        display flex
        justify-content: flex-end
        align-items center
        margin-bottom 30px
        select 
            margin-left 10px
    &__content
        display flex
        flex-flow row wrap
    &__item
        width 25%
        height 250px
        flex 0 0 auto
        box-shadow: #fff 0 0 0
        background-size cover
        position relative
        cursor pointer
        object-fit: cover;
        color $textFirst
        @media $m
            width 33.33%
        @media $s
            height 200px
        @media $xs
            width 50%
            height 150px
        img
            object-fit: cover;
            width: 100%;
            height 100%
        &:not(&_text):before
            content ''
            display block
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(0,0,0,0.05)
            transition background-color 0.3s ease
        &:not(&_text):hover:before
            background url('../i/lense.svg') no-repeat center rgba(0,0,0,0.5)
        &-title
            display flex
            padding-top 14px
        &-icon
           position absolute
           width 120px
           height 120px
           top 50%
           left 50%
           transform translate(-50%, -50%)
           opacity 0.1
           fill $textFirst
        &_text
            display none
            padding 30px 
            background #fff
            font-size 14px
            position relative
            &:after
                background: #fff;
                right: 0;
                top: 50%;
                content: "";
                height: 24px;
                position: absolute;
                transform: rotate(45deg) translateY(-50%);
                width: 24px;
                z-index 10
            &:nth-child(4n):after
                top calc(100% - 12px)
                left 50%
                transform: rotate(45deg);
            p
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @media $m960
                     -webkit-line-clamp: 4;
                @media $s
                     -webkit-line-clamp: 3;
                @media $xs
                    display none



.cards-slider 
    &__item
        &-preview
            width 300px
            height 250px
            background-size contain
            background-repeat no-repeat 
            margin-right 40px
        &-top
            display flex
            justify-content flex-start
            &-info
                display none
        &-content
            display none
            margin-bottom 50px
        &.slick-current &-content
            display block
        .slick-current &-top-info
            display block


.cards-slider-nav
    font-size 14px
    display flex
    justify-content: space-between

.cards-list
    display flex
    flex-flow row wrap
    justify-content space-between
    margin 0 -10px
    &__item
        width 33.33%
        margin-bottom 10px
        border-radius 15px
        overflow hidden
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        transition: text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
        transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
        transition: transform 0.14s ease-in, text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
        will-change: transform;
        cursor: pointer;
        &:hover:before
            opacity: 1;
        &-section
            margin-bottom 10px
            font-size 14px
            padding 20px 30px
            &.wide
                flex 1 1 auto
                width 330px
            .label
                color $textFirst
                font-weight 500
                font-size 14px
                color rgba(0,0,0,0.6)
                & + p + .label
                    margin-top -5px
            p
                color $textFirst
                font-size 18px
                &.large
                    font-size 24px
            i
                color #000
                font-weight 500
                list-style normal
               .title
                   color $textFirst



.cards-list
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 -5px
  list-style: none;


.cards-list__item
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 15px);
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    margin 0 5px 15px
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 0.14s ease-in;
    will-change: transform;
    cursor: pointer;
    border-radius: 8px;
    overflow visible
    .btn
        padding 7px 20px 6px
        text-transform uppercase
        font-weight 600
        font-size 14px
        display flex
        align-items: center
        justify-content: center
        width 50%
        flex 0 0 auto
        position relative
        &:first-child
            border-radius 0 0 0 10px
        &:last-child
            border-radius 0 0 10px 0
    .btns
        display flex
        flex-flow column
        align-items center
        border-radius 0
        background transparent
        color currentColor
        font-size 14px
        border 0
        a
            color $first
            &:last-child
                color $second
                border-color $second
    &-category
        display none
        background currentColor
        text-align center
        border-radius 10px
        font-size 15px
        line-height: 17px
        margin 3px 0 5px
        font-weight 500
        padding 0 24px
        span
            color #fff
    h3
        color $textFirst
        margin-bottom -5px
        max-width 145px
        line-height 21px
        margin-top 0
        i
            opacity: 0.5;
            font-size: 14px;
            position: relative;
            top: -3px;

.flipper-card 
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change transform
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
.flipper-front,
.flipper-back
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #c1c3c5;
  display: block;
  background-size cover
  box-shadow 0 4px 8px rgba(36, 37, 38, 0.08)
  z-index 1
  will-change transform
  transform-style: preserve-3d;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)


.flipper-back 
  background: #fff;
  transform: rotateY(180deg) translateZ(1px);

.flipper-card.flipper-is-flipped
  transform: rotateY(180deg) translateZ(1px);

.viewmode-toggle
    display flex 
    align-items center
    @media $xs
        display none
    &__list
    &__grid
        padding 5px
        display flex
        align-items center
        &:hover .viewmode-toggle__icon, &.active .viewmode-toggle__icon
            fill $second
    &__icon
        fill $textFirst
    &__label
        padding-right 15px
        font-size 14px
        opacity 0.8

.grid-view
    @media $m960
        justify-content: center
    .cards-list__item
        height 180px
        transition all 0.3s ease
        @media $m960
            width 300px
            flex-basis 300px
        &:hover
            transform translateY(-1px)
            .flipper-front
            .flipper-back
                box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px -2px rgba(0, 0, 0, 0.08), 0 8px 12px -6px rgba(0, 0, 0, 0.08);
        .flipper-back
            display flex
            flex-flow column-reverse
            justify-content flex-end
        &-section
            display flex
            justify-content space-between
            padding 14px 20px 0
            margin 0 0 -15px
            &:first-child
                padding-top 0
                align-items center
                justify-content center
            &_basic
                flex-flow row-reverse
                margin-bottom -21px
            .label
                font-size 12px
                line-height 24px
        &:hover .more-info
            opacity 1
    .hide-in-grid
        display none
    .more-info
        color #fff
        color $second
        line-height: 18px
        text-transform: uppercase
        font-weight 600
        transition all 0.3s ease
        background $second
        background transparent
        position relative
        z-index 2
        height 40px
        display flex
        align-items center
        justify-content center
        padding 4px 20px 2px
        border-radius 0 0 10px 10px
        letter-spacing 0.5px
        width 100%
        left 0
        position absolute
        bottom 0
        left 0
        right 0
        &:hover
            color $first

.list-view 
    .hide-in-grid
        display block
    .hide-in-list
        display none
    .cards-list__item
        flex-basis 100%
        width 100%
        display flex
        //height 120px
        cursor pointer
    .flipper-card
    .flipper-front
    .flipper-back
        position relative
        box-shadow none
        will-change transform
        &:before
            display none
    .flipper-card
        display flex
        justify-content flex-start
        box-shadow 0 4px 8px rgba(36, 37, 38, 0.08)
        transition all 0.3s ease
        border-radius 5px
        overflow hidden
        background #fff
        &:hover
            transform translateY(-1px)
            box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px -2px rgba(0, 0, 0, 0.08), 0 8px 12px -6px rgba(0, 0, 0, 0.08);
    .flipper-front
        position relative
        width 300px
        background-position center
        z-index 1
        border-radius 0
        @media $s
            width 220px
    .flipper-back
        display flex
        flex-flow row wrap
        justify-content space-between
        width calc(100% - 150px)
        backface-visibility visible
        transform: rotateY(0) translateZ(1px);
        border-radius 0
        padding-left 10px
        will-change backface-visibility
        .cards-list__item-section
            flex 1 1 auto
            &.wide
                @media $m960
                    display none
            &_basic
                display flex
                flex-flow column
                justify-content space-between
        ul
            li
                color $textFirst
                margin-bottom 0
                &:last-child
                    text-align center
                    list-style none
                    &:before
                        display none
        .tag
            display inline-block
            background currentColor 
            padding 0 21px 2px
            border-radius 30px
            position relative
            top -4px
            line-height 21px
            span 
                display inline
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                text-transform: none;
        .btns
            margin-right 45px
        .btn
            border-radius 0
            display flex
            align-items center
            justify-content center
    .cards-list__item-category
        position relative 
        top -10px

// difference table

#difference
    @media $s
        width 100%
        overflow auto
        h2
            padding-left 20px
.table-wrapper
    box-shadow 0px 15px 30px rgba( 0, 0, 0, 0.1 )

.fl-table
    border-radius 5px
    font-size 16px
    font-weight normal
    border none
    border-collapse collapse
    width 100%
    max-width 100%
    white-space nowrap
    background-color white
    position relative
    &__icon
        fill #fff
    td
        border-right 1px solid #f8f8f8
        font-size 14px
        white-space nowrap
        &:first-child
            padding 8px 20px
            text-align left
            font-weight 500
    thead
        position relative
        z-index 1
        th
            color #ffffff
            background #3DB39E
            font-weight 500
            vertical-align middle
            z-index 100
            font-size 14px
            line-height 18px
            &:nth-child(odd)
                color #ffffff
                background #324960
    tr
        &:nth-child(even)
            background #F8F8F8
    tbody
        position relative
    .member-cards__time
        font-size 14px
        white-space nowrap
.fl-table td, .fl-table th
    text-align center
    vertical-align middle
    padding 8px 14px
    &.checked
        background-image url('../i/checked.svg')
        background-repeat no-repeat 
        background-position center
        background-size 24px


.difference
    .fl-table td:last-child, .fl-table th:last-child
        display none

.fl-table tr:hover &.like
    background-image url('../i/like.svg')
    background-repeat no-repeat 
    background-position center
    background-size 24px



// documents

.docs-list
    display flex
    flex-flow row wrap
    &__item
        padding 30px 30px 40px
        //border 1px solid $bgDark
        color $bgDark
        width calc(33.33% - 20px)
        transition all 0.3s ease
        position relative
        background #fff
        box-shadow 0 4px 8px rgba(36,37,38,0.08)
        margin-bottom 30px
        &:not(:nth-child(3n))
            margin-right 30px
            @media $s
                margin-right 0
        @media $s
            width 100%
            padding 10px 20px
            &:not(:last-child)
                margin-bottom 10px
        &:hover
            color $second
            border-color $second
        &-title
            font-size 16px
            line-height 21px
            font-weight bold
            margin-bottom 5px
        &-format
            opacity 0.7
        &-download
            position absolute
            bottom 0
            width 100%
            margin-top auto
            text-transform uppercase
            height 50px
            line-height: 50px
            text-align center
            left 0
            opacity 0
            transition opacity 0.3s ease
        &:hover &-download 
            opacity 1
            @media $s
                display none


.timetable-container
    @media $s
        overflow auto

.timetable
    min-width 1024px
    &.page-content__main
        padding 0
    &__icon
        fill #fff
        margin-top 12px
        @media $m960
            margin-top 0
    table.fl-table
        table-layout fixed
        thead
            tr:last-child th
                width 21%
                position sticky
                height 60px
                top 100px
                @media $m
                    top 0
                &:first-child
                    width 15%
                    @media $m960
                        width auto
                        text-align center
                @media $m960
                    width auto
                    text-align center
        td:first-child
            font-size 18px
            text-align center
            display table-cell
            vertical-align: middle
            @media $m960
                display block
        td, th
            @media $m960
                height 60px
                position relative
    @media $m960
        &.active td
            border-color transparent!important
        &.active .timetable-event
            opacity 0
            visibility hidden
            &.active
                opacity 1
                visibility visible

.timetable-legend
    display flex
    justify-content space-between
    align-items center
    font-size 14px
    padding 0 30px
    table-layout: fixed
    box-sizing border-box
    &-wrapper 
        th
            position sticky
            top 100px
    &__item
        display flex
        align-items center
        opacity 0.8
    svg
        margin-right 10px
        fill #fff

.timetable .fl-table
    td
        padding 8px


.timetable-event
    border 1px solid #ccc
    font-size 12px
    line-height 18px
    padding 25px 5px 22px
    position relative
    cursor pointer
    background #fff
    transition background 0.3s ease, box-shadow 0.3s ease
    &:not(.active) a
        pointer-events none
    &:not(:last-child)
        margin-bottom 5px
    &__top
        display flex
        margin-bottom 8px
    &__title
        white-space normal
        font-weight 500
        font-size 15px
        line-height 15px
        text-transform uppercase
        width 100%
        &-desctiption
            display block
    &__title
    &__lead-name
        color $textFirst
    &__subtitle
        position absolute
        width 100%
        bottom 2px
        left 0
        text-align center
        .timetable-event.active &
            position static
    &__lead
        display none
        .timetable-event.active &
            display block
        &-photo
            width 50px
            height 0
            background-size 130%
            background-position center top
            border-radius 50%
            margin 0 auto
        &-name
            margin-bottom 5px
            color $textFirst
    &__type
        position absolute
        bottom 5px
        display inline-flex
        font-size 0
        color $textFirst
        .timetable-event.active &
            position static
        svg
            margin-right 5px
            fill currentColor
            width 20px
            height 18px
    &__time
        position absolute
        top 5px
        width 100%
        .timetable-event.active &
            position static
    &__price
    &__booking
        font-size 0
        display inline
        position absolute
        right 24px
        bottom 0px
        .timetable-event.active &
            position static
            display block
            font-size 12px
        b
            font-size 15px
            font-weight 600
            margin-right 1px
        svg
            margin-right 3px
    &__price + &__booking
        right 8px
        bottom -2px
    &:hover
        border-color $second
        box-shadow 0 4px 8px rgba(36,37,38,0.08)
    &:hover &__title
    &:not(.active):hover &__lead &__lead-name
    &:hover &__time
    &:hover &__type
        color $second
    &.active
        font-size 14px
        line-height 24px
        padding 10px
        background #fff
        box-shadow 0 4px 8px rgba(36,37,38,0.08)
        border-color transparent
        @media $m960
            position absolute
            z-index 10
            top 150%
            left 50%
            transform translate(-50%, -50%)
        .timetable-event__top
            flex-flow column
        .timetable-event__title
            border 1px solid #ccc
            border-width 1px 0
            margin-bottom 10px
            color $second
            display block
            padding 5px 0 3px
            white-space normal
            height auto
        .timetable-event__lead-photo
            height 50px
        .timetable-event__lead-name
            margin-bottom 0
            color $first
        .timetable-event__type
            font-size 12px
            justify-content center
            left 0
            bottom 0
            color $first
        .timetable-event__title:hover,
        .timetable-event__lead:hover .timetable-event__lead-name,
        .timetable-event__type:hover
            filter brightness(110%)
        &:hover .timetable-event__time
            color $textFirst

.card
    display flex
    @media $s
        flex-flow column-reverse
    &__info
        width 1 1 auto
        padding-right 50px
        @media $m
            padding-right 20px
    &__intro
        margin-bottom 30px
        border-bottom 1px solid #ccc
        @media $s
            max-width 500px
        &-row
            display flex
            margin-bottom 20px
        &-col
            width 50%
            &:not(:last-child)
                padding-right 30px
    &__photo
        width 350px
        height 220px
        background-size cover
        background-position center
        flex 0 0 auto
        border-radius 10px
        box-shadow 0 4px 8px rgba(36,37,38,0.08)
        margin-bottom 50px
        @media $xs
            width 300px
            height 180px
    h3
        color $textFirst
    .btn
        width 100%
        text-align center
        @media $s
            display none
    .btn_mobile
        display none
        @media $s
            display block
    .sticky-block
        position sticky
        top 120px
        top calc(50% - 165px)
        @media $s
            position static
    &__label
        display inline-flex
        display none
        align-items center
        background currentColor
        text-align center
        border-radius 10px
        font-size 15px
        line-height: 18px
        position relative
        top -3px
        padding 2px 20px 0
        font-weight 500
        span
            color #fff

// team 
.team:not(body)
    width 100%
    display flex
    flex-flow row wrap
    //justify-content space-between
    @media $s
        justify-content center
.team-item
    width calc(25% - 10px)
    margin-bottom 20px
    margin-right 10px
    @media $m960
        width calc(33% - 10px)
    @media $s
        width 260px
        margin 0 10px 20px
    &__photo
        width 100%
        height 240px
        background-size 100% auto
        background-position center top
        transition all 0.3s ease
    &__text
        padding 10px 20px
    &__name
        color $textFirst
        font-weight 700
        text-transform uppercase
        letter-spacing 0.5px
    &__subtitle
        color $textFirst
        opacity 0.8
        font-size 14px
        line-height: 19px;
    &:hover &__name
    &:hover &__subtitle
        color $first
    &:hover &__photo
        background-size 105%


.team-person
    display flex
    margin-bottom 30px
    @media $xs
        flex-flow column-reverse
    &__info
        width 50%
        padding-right 30px
        @media $s
            width auto
            flex 1 1 auto
        @media $xs
            padding-right 0
    &__subtitle
        margin-top -20px
        margin-bottom 30px
        opacity 0.8
    &__description
        line-height 27px
        margin-bottom 40px
        p
            margin 0 0 18px
        .btn
            margin-top auto
    &__photo
        margin-top -80px
        width 50%
        height 500px
        background-size cover
        @media $s
            margin-top 0
            width 200px
            height 250px
            flex 0 0 auto
            margin-bottom 20px

// flipbook
.flipbook
    &__page
        width 100%
        height 100%
        background-size 200% auto
        background-position 0 center
        background-repeat no-repeat
    .b-wrap-right &__page
        background-position 100% center


.page-kids
    .page-header
        background-position center 25%
        background-size cover

    .section-links
        flex-flow row wrap
        .section-links__item
            width 50%
            margin-bottom 4px

.unicorn 
    .page-header
        background-size: auto 100%;
        background-color: #70c9f1;

// contacts

.contacts-cols
    display flex
    flex-flow row wrap
    border-bottom 1px solid #ccc
    margin-bottom 30px
    position: relative
    &__item
        width 50%
        padding-bottom 40px
        @media $s
            width 100%
            flex 0 0 auto
        &:first-child:after
            content ''
            display block
            width 1px
            height 100px
            background #ccc
            position absolute
            left 50%
            top 10px
            @media $s
                display none
        span
            opacity 0.7
        svg
            fill $textFirst
            position absolute
            margin-left -26px
            margin-top 2px

.page-contacts
    h3
        margin-bottom 21px
        margin-top 0
    .page-content__main-section
        width 100%
        text-align center
        margin-bottom 20px
    .address
        font-size 21px
        margin-bottom 50px
        a
            color $second
            font-size 18px
            &:hover
                color $first
    .phone
        display block
        font-size 21px
        font-weight bold
        margin-bottom 10px
        position relative
        margin-left 24px
.contacts-links
    display flex
    flex-flow row wrap
    justify-content center
    justify-content space-between
    margin 0 -12px
    @media $s
        margin 0 auto
        width 180px

.contacts-item
    padding 0 12px
    display flex
    align-items center
    color $second
    @media $s
        width 100%
        margin 0 0 14px
    &-icon
        width 36px
        height 36px
        flex 0 0 auto
        border 2px solid currentColor
        border-radius 50%
        display flex
        align-items center
        justify-content center
        margin-right 7px
        svg
            fill currentColor
            max-width 20px
            max-height 20px
    &:hover
        color $first


.map-wrapper
    position relative
    margin-bottom -10px
    iframe
        @media $s
            height 360px

.section-feedback
    position absolute
    width 300px
    height calc(100% - 20px)
    right 20px
    top 50px
    background #fff
    padding 25px
    box-shadow 0 4px 8px rgba(36, 37, 38, 0.08)
    &__field
        position relative
    @media $s
        display none


.articles
    display flex
    justify-content space-between
    flex-flow row wrap

.articles-item
    width calc(33.33% - 20px)
    transition all 0.3s ease
    margin-bottom 30px
    @media $m960
        width calc(50% - 10px)
    @media $xs
        width 100%
    &__img
        height 210px
        width 100%
        background-size cover
        background-position center
        margin-bottom 20px
        .articles-item_top &
            height 380px
            margin-bottom 0
            @media $m960
                margin-bottom 20px
    &__title
        color $textFirst
        margin-bottom 10px
        margin-top 0
    &__date
        margin-top auto
        font-size 12px
        color $gray
        font-weight 400
        line-height 12px
        display none
        @media $m960
            margin-top 20px
    p
        display none
    h3
        margin-top 0
    &:hover &__title
        color $first
    &_top
        display flex
        width 100%
        @media $m960
            display block
    &_top &__title
        font-size 24px
        line-height 32px
        margin-top 0
    &_top &__content
        display flex
        flex-flow column
        padding-left 30px
        width calc(33.33% + 10px)
        flex 0 0 auto
        @media $m960
            width 100%
            padding-left 0
        p
            display block
            font-weight 400
            color #848e99


.n2-ss-slider.n2-ss-loaded
    margin 30px 0 -20px!important

.pdf-export-btn
    color #fff
    display flex
    align-items center
    img
        margin-right 10px
    &:hover
        color $first

.btn_wrapper
    margin-bottom 10px 

.btn_wrapper a
    display inline-block
    padding 5px 14px
    margin 0 5px 5px 0
    border-radius 2px
    color $textFirst
    font-size 16px
    border 1px solid $second
    color $second
    background transparent
    cursor pointer
    font-family: 'GOSTUI2';
    &.active
        background $second
        color #fff


.wrapper
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


.container 
  width: 100%;
  height: 70vh;
  background-color: #222222;
  @media $m
      height 50vh
  @media $s
      height 300px
