.input
    width 100%
    height 32px
    line-height 32px
    border 1px solid #ccc
    background #fff
    margin-bottom 26px
    font-size 16px
    padding 5px 10px

textarea.input
    min-height 80px
    margin-bottom 16px

input[type="submit"]
    font-size 16px
    font-weight bold
    float right
    margin-top -10px

.parsley-errors-list
    position absolute
    font-size 12px
    bottom 0
    color red

.form-wrapper
    background #fff
    padding 30px 30px 60px