.breadcrumbs
    margin-bottom 40px
    font-weight 500
    a
        color #fff
        &:hover
            color $first
.page-header
    padding 30px 20px 0
    min-height 210px
    background-size cover
    background-position center
    background-repeat no-repeat
    position relative
    color #fff
    display flex
    flex-flow column
    justify-content center
    @media $s
        min-height: 160px
    &:before
        content ''
        display block
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height 100%
        padding-left: 96px;
        box-sizing: border-box;
        background linear-gradient(to left, rgba(0,0,0,0.65) 0%, transparent 33%, rgba(0,0,0,0.65) 100%)
    &__inner
        position relative
        z-index 1
        max-width 960px
        margin 0 auto
        width 100%
        height 100%
        height 100%
        display flex
        justify-content space-between
        align-items center
        @media $m960
            flex-flow column
            align-items flex-start
            padding 30px 0
    &__submenu
        margin-right -20px
        //height 40px
        line-height 40px
        margin-top auto
        margin-bottom 24px
        background rgba(0,0,0,0.24)
        border-radius 24px
        padding 0 16px
        flex 0 0 auto
        @media $m960
            margin-top 20px
            margin-left -35px
        @media $s
            display block
            border-radius 0
            height auto
        svg 
            position relative
            top 7px
        a
            color #fff
            font-weight 500
            padding 10px 20px
            position relative
            letter-spacing: 0.5px
            white-space nowrap
            @media $s
                display inline-block
                margin-left -5px
                padding 0 20px
            &:hover
                color $second
            &:before
                content ''
                display inline-block
                width 5px
                height 5px
                background #ffffff
                border-radius 50%
                position absolute
                left -3px
                top 50%
                margin-top -3px
            &:first-child:before
                display none
    &__filter
        display flex
        justify-content: space-between
        @media $s
            display block
            width 100%
            select
                display block
                min-width 100%
                margin-bottom 5px
    &__side
        @media $s
            display block
            width 100%
    &__tabs
        margin-top auto
        margin-bottom 0
        display flex
        position absolute
        bottom 0
        margin 0 -16px
        &-item
            color #fff
            padding 12px 30px
            font-weight 500
            border-bottom 4px solid transparent
            font-size 18px
            &_active
                border-color $second
                color $second
            &:hover
                color $second

    h1
        margin-right 20px


.page-content
    &__inner
        width 100%
        max-width 960px
        margin 0 auto
        #difference &
            @media $s
                padding 0
    &__sidebar
        width 300px
        flex 0 0 auto
        padding 30px 0 0 20px
        margin-bottom 4px
        .section-links__item
            height 100%
            margin-bottom 4px
    &__main
        padding 50px 0px 20px
        line-height 24px
        &:first-child:not(.gray-bg):not(.dark-bg), &.white-bg
            background-color #fff
            background-color #f7fbff
        &.with-sidebar .page-content__inner
            display flex
        &-section
            margin-bottom 50px
            &_padding
                padding-right 50px
        &-title
            display flex
            align-items center
            justify-content space-between
            margin-bottom 30px
            h2
                margin-bottom 0

