.modal
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    overflow: auto;
    background: #fff;
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9) translate(0, -100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #000;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    touch-action: none;
    &__close
        position absolute
        top 20px
        right 15px
        cursor pointer
        svg 
            stroke $textFirst
        &:hover svg
            stroke $first
    &_active
        visibility: visible;
        opacity: 1;
        transform: scale(1) translate(0,0)
        overflow: hidden;
    &-fade
        display none
        background rgba(0,0,0,0.6)
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        transition all 0.3s ease
        z-index 1100

.modal-classes.modal_active
    max-width 500px
    width 100%
    height auto
    padding 55px 30px 30px
    top 50%
    left 50%
    transform translate(-50%,-50%)

#guest
#callmeback
    max-width 300px
    width 100%
    height 300px
    top 50%
    left 50%
    transform translate(-50%,-50%)
    .modal__content
        padding 30px
        .input
            margin-bottom 20px
        .btn
            margin-top 0
    .alert-danger
        margin: -30px -30px 5px;
        padding 15px 30px
        z-index -1


#flipbook
    background transparent
    max-width 95%
    max-height 95%
    top 50%
    left 50%
    transform translate(-50%,-50%)
    .modal__content
        width 100%
        height 100%
        overflow visible
    .modal__close
        z-index 100
        svg
            stroke #fff
            filter drop-shadow(1px 1px 2px rgba(0,0,0,0.5))

#flipbook
    width 800px
    height 650px 
    overflow hidden

#ways
    max-width 500px
    top 50%
    left 50%
    transform translate(-50%,-50%)
    height 100%
    .modal__content
        padding 30px
        overflow auto
        height 100%