.mainpage-slide
    &_stud
        background: linear-gradient(285.18deg, #5EABD9 0%, #3495CF 50.52%, #2879A9 100%);
        .mainpage-slide__inner
            display flex
            align-items center
            justify-content: center
            height 100%
            margin-top 35px
            @media $m
                display flex
                justify-content flex-start
                padding 0 50px
            @media $s
                flex-flow column-reverse
                padding 0 20px
                margin-top -50px
        .mainpage-slide__link
            color #fff
            display flex
            align-items center
            justify-content: center
            margin-right -200px
            @media $m
                display flex
                justify-content flex-start
            @media $s
                flex-flow column-reverse
                margin-right 0
        .mainpage-slide__text
            width 280px
            margin-top -120px
        h2
            font-size 103px
            font-weight bold
            border-radius 4px
            background #fff
            background transparent
            padding 10px 30px 5px
            padding 0
            margin-bottom 20px
        h3
            font-weight: bold;
            font-size: 48.7188px;
            line-height: 110%;
            margin-bottom 0
        h6
            font-size: 22px;
            line-height: 110%;
            text-transform: uppercase
            margin-bottom 21px
            font-weight normal
            letter-spacing: 0.02em;
        .mainpage-slide__image
            @media $s
                min-width 400px
                width 400px
                position relative
                top -120px

.mainpage-slide
    &_23feb
        position relative
        .mainpage-slide__inner
            display flex
            align-items center
            height 100%
            margin-top 35px
            &:after
                position absolute
                display block
                content ''
                background: linear-gradient(297.51deg, #333333 0%, #1A1A1A 50.52%, #000000 100%);
                height 100%
                width 100%
                z-index 100000
                top 0
                left 0
                opacity 0.25
                z-index -1
            @media $m
                display flex
                justify-content flex-start
                padding 0 50px
            @media $s
                flex-flow column-reverse
                padding 0 20px
                margin-top -50px
        .mainpage-slide__link
            color #fff
            display flex
            align-items center
            justify-content: center
            margin-left 30px
            @media $m
                display flex
                justify-content flex-start
            @media $s
                flex-flow column-reverse
                margin-right 0
                margin-left 0
        .mainpage-slide__text
            width 280px
            margin-top -120px
        h2
            font-size 103px
            font-weight bold
            border-radius 4px
            background #fff
            background transparent
            padding 10px 30px 5px
            padding 0
            margin-bottom 20px
        h3
            font-weight: bold;
            font-size: 44.2px;
            line-height: 110%;
            margin-bottom 0
            + p
                font-size 14px
                letter-spacing: 0.02em;
        h6
            font-size: 22px;
            line-height: 110%;
            text-transform: uppercase
            margin-bottom 21px
            font-weight normal
            letter-spacing: 0.02em;
        .mainpage-slide__image
            @media $s
                min-width 400px
                width 400px
                position relative
                top -120px

