html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  font-family: 'GOSTUI2';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b4256;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 26px;
}
body.modal-active {
  overflow: hidden;
}
h1,
.h1 {
  font-size: 36px;
  line-height: 36px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 24px;
  }
}
h2,
.h2 {
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
h3,
.h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
}
a,
button {
  text-decoration: none;
  outline: 0;
  -webkit-appearance: none;
}
p {
  margin: 0 0 20px;
}
a {
  color: #da006f;
  font-weight: 500;
}
a:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
a.back-link {
  display: inline-block;
  color: #107ecf;
  margin-bottom: 5px;
  font-size: 14px;
}
a.back-link:before {
  content: '← ';
}
a.back-link:hover {
  color: #da006f;
}
i {
  color: #000;
  font-weight: 500;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.page-content__inner h3,
.modal h3,
.page-content__inner .h3,
.modal .h3 {
  margin-top: 50px;
}
.page-content__inner b,
.modal b,
.page-content__inner strong,
.modal strong {
  font-weight: bold;
}
.page-content__inner sup,
.modal sup {
  vertical-align: super;
  font-size: 12px;
}
.page-content__inner sub,
.modal sub {
  vertical-align: sub;
  font-size: 12px;
}
.page-content__inner ul:not([class]),
.modal ul:not([class]) {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 15px;
  margin-bottom: 20px;
}
.page-content__inner ul:not([class]) li,
.modal ul:not([class]) li {
  margin-bottom: 8px;
}
.page-content__inner ol,
.modal ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
.page-content__inner ol > li,
.modal ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
.page-content__inner ol > li:before,
.modal ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
.page-content__inner li ol > li,
.modal li ol > li {
  margin: 0;
}
.page-content__inner li ol > li:before,
.modal li ol > li:before {
  content: counters(item, ".") " ";
}
.btn {
  display: inline-block;
  border: 1px solid #da006f;
  background: #da006f;
  color: #fff;
  padding: 15px 20px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}
.btn_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn_second {
  border: 1px solid #107ecf;
  background: #107ecf;
}
.btn:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
.label {
  color: #3b4256;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0,0,0,0.6);
}
ul.list {
  margin-bottom: 30px;
}
ul.list li {
  color: #3b4256;
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
}
ul.list li:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #3b4256;
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  top: 8px;
  left: 0;
}
[class$="__inner"] {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1080px) {
  [class$="__inner"] {
    max-width: 100%;
  }
}
.header {
  background: rgba(35,42,53,0.9);
  background: #232a36;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1001;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12);
}
@media screen and (max-width: 960px) {
  .header {
    height: 65px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.header-top {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  height: 65px;
  padding: 20px 0 20px 100px;
  margin-left: -20px;
}
@media screen and (max-width: 1080px) {
  .header-top-menu {
    padding-left: 65px;
  }
}
@media screen and (max-width: 960px) {
  .header-top-menu {
    padding-left: 60px;
    height: 65px;
  }
}
.header-top-menu:after {
  content: '';
  background: #fff;
  height: inherit;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
}
.header-top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .header-top-menu__list {
    display: none;
  }
}
.header-top-menu__list .dropdown-menu {
  display: none;
  position: absolute;
  width: 265px;
  right: 0;
  top: 100%;
  background: #fff;
}
.header-top-menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .header-top-menu__list li {
    margin-right: 20px;
  }
}
.header-top-menu__list li:last-child {
  margin-right: 0;
}
.header-top-menu__list a {
  display: block;
  width: 100%;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  font-style: normal;
}
@media screen and (max-width: 1080px) {
  .header-top-menu__list a {
    font-size: 14px;
  }
}
.header-top-menu__list a:hover {
  color: #da006f;
}
.header-top-menu__list a.dropdown-toggle#menu-item-dropdown-47 {
  font-size: 30px;
  padding-bottom: 16px;
}
.header-top-menu__list a span {
  padding: 5px 16px;
}
.header-top-menu__list a:hover span {
  background: url("../i/brush.svg") no-repeat center;
  background-size: 110% 300%;
  color: #fff !important;
}
.header-top-menu__list a.dropdown-toggle#menu-item-dropdown-47:hover span {
  background-size: 110% 200%;
  background-position: -3px -19px;
}
.header-top-menu .dropdown-toggle:hover + .dropdown-menu,
.header-top-menu .dropdown-menu:hover,
.header-top-menu .dropdown-menu.hover {
  display: block;
}
.header-top-menu .dropdown-menu {
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12);
  margin-top: -4px;
}
.header-top-menu .dropdown-menu li {
  padding: 10px 20px;
}
.header-top-menu__mobile {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header-top-menu__mobile .hamburger {
    margin-left: auto;
  }
}
@media screen and (max-width: 960px) {
  .header-top-menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .header-top-menu__mobile-col {
    display: none;
  }
}
.header-top-menu__mobile-link {
  color: #232a36;
  font-weight: bold;
  font-size: 18px;
}
.header-top-menu__mobile-icon {
  fill: currentColor;
  margin: 0 10px;
}
.header-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100% - 65px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding-left: 100px;
  font-size: 14px;
}
@media screen and (max-width: 1080px) {
  .header-top__info {
    width: calc(100% + 180px);
    padding-left: 0;
    margin-left: -180px;
  }
}
@media screen and (max-width: 960px) {
  .header-top__info {
    display: none;
  }
}
.header-top__info-item {
  padding: 0 10px;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
a.header-top__info-item:hover {
  color: #da006f;
}
.header-top__info-item:last-child {
  padding-right: 0;
}
.header-top__info-item-icon {
  fill: currentColor;
}
.header-top__info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header-top__info-section:after {
  contnet: '';
  display: block;
  height: 20px;
  width: 2px;
  background: #f00;
  position: absolute;
  right: 0;
}
.header__logo {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -10px;
  padding-top: 10px;
  color: #3b4256;
}
@media screen and (max-width: 1080px) {
  .header__logo {
    background: #fff;
    height: 65px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 0;
  }
}
@media screen and (max-width: 960px) {
  .header__logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 65px;
  }
}
.header__logo:before {
  position: absolute;
  content: '';
  right: -40px;
  top: 0px;
  height: 100%;
  width: 10000%;
  background-color: #fff;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  border-right: 2px solid rgba(35,42,53,0.9);
}
@media screen and (max-width: 1080px) {
  .header__logo:before {
    display: none;
  }
}
.header__logo-image {
  width: 224px;
  position: relative;
  z-index: 1;
  margin-top: -14px;
  margin-bottom: -6px;
}
@media screen and (max-width: 1080px) {
  .header__logo-image {
    display: none;
    margin-top: 0px;
  }
}
.header__logo-image_mobile {
  display: none;
}
@media screen and (max-width: 1080px) {
  .header__logo-image_mobile {
    display: block;
    width: 180px;
    margin-bottom: 0px;
  }
}
.header__logo-text {
  position: relative;
  z-index: 1;
  width: 186px;
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: 500;
  padding-top: 4px;
  letter-spacing: 0.42px;
  opacity: 0.9;
  width: 224px;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .header__logo-text {
    width: 186px;
    padding-top: 0;
  }
}
.mobile-menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 60px;
  z-index: 100;
  padding: 20px;
  overflow: auto;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1000;
  visibility: hidden;
  opacity: 1;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  touch-action: none;
}
.mobile-menu__inner {
  positon: relative;
  padding: 10px 0 0;
  overflow: auto;
}
.mobile-menu-col {
  margin-bottom: 10px;
  line-height: 21px;
}
.mobile-menu-link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #242424;
  padding: 10px 0;
  margin-bottom: 5px;
}
.mobile-menu-icon {
  margin: 0 10px;
}
.mobile-menu__contacts {
  border-top: 1px solid #ccc;
  padding: 30px 0 40px;
  text-align: center;
}
.mobile-menu ul {
  margin-bottom: 20px;
}
.mobile-menu ul li {
  margin-bottom: 10px;
}
.mobile-menu ul li a {
  display: block;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0;
}
.mobile-menu ul .dropdown-menu li {
  margin-bottom: 5px;
}
.mobile-menu ul .dropdown-menu li:first-child {
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.mobile-menu ul .dropdown-menu li a {
  font-size: 14px;
  padding: 0;
  text-transform: none;
  font-weight: 500;
}
.mobile-menu p {
  margin: 0;
}
.mobile-menu .dropdown-menu {
  display: none;
}
.mobile-menu #menu-item-dropdown-47 {
  display: none;
}
.mobile-menu #menu-item-dropdown-47 + .dropdown-menu {
  display: block;
}
body.modal-active {
  overflow: hidden;
}
body.modal-active .mobile-menu.active {
  visibility: visible;
  opacity: 1;
  overflow: auto;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.mainpage-slider {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100vh - 150px);
}
.mainpage-slider__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .mainpage-slider__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
  }
}
.mainpage-slider__item {
  height: calc(100vh - 150px);
  background-size: cover;
  background-position: center;
}
.mainpage-slider__item_right .mainpage-slider__inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.mainpage-slider__item_left .mainpage-slider__inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.mainpage-slider h2 {
  font-size: 6vmin;
  color: #0b0b0b;
  background: rgba(255,255,255,0.8);
  padding: 16px 30px;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -webkit-transition: all 0.6s 0.2s ease-out;
  transition: all 0.6s 0.2s ease-out;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .mainpage-slider h2 {
    font-size: 24px;
  }
}
.mainpage-slider h2 + p {
  opacity: 0;
  font-size: 3.5vmin;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  background: rgba(0,0,0,0.8);
  color: #fff;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  line-height: 21px;
  -webkit-transition: all 0.6s 0.2s ease-out;
  transition: all 0.6s 0.2s ease-out;
  margin-bottom: 10px;
}
.mainpage-slider img {
  max-width: 100%;
}
.mainpage-slider .slick-active h2,
.mainpage-slider .slick-active p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mainpage-slider .slick-active h2:empty,
.mainpage-slider .slick-active p:empty {
  display: none;
}
.section-links {
  margin: 0 auto 30px;
  padding: 0;
  z-index: 1;
  max-width: 1080px;
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .section-links {
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .section-links .show-modal {
    display: none;
  }
}
.section-links.bottom {
  margin-bottom: 0;
}
.section-links__item {
  width: 100%;
}
@media screen and (max-width: 580px) {
  .section-links__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
.section-links.cols2 .section-links__item {
  width: 50%;
}
.section-links__inner {
  margin: 0;
  width: 100%;
}
.section-links .swiper-container {
  width: 100%;
  overflow: visible;
}
.section-links__slider {
  width: 100%;
  opacity: 1;
  -webkit-transition: background-color 0.3s 0.3s ease;
  transition: background-color 0.3s 0.3s ease;
  position: relative;
  border: 4px solid #fff;
  border-left-width: 3px;
}
.section-links__slider-before,
.section-links__slider-after {
  position: absolute;
  content: '';
  width: 10%;
  height: 100%;
  z-index: 1;
  top: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(244,247,251,0)), to(#f4f7fb));
  background: linear-gradient(90deg, rgba(244,247,251,0), #f4f7fb);
}
@media screen and (max-width: 580px) {
  .section-links__slider-before,
  .section-links__slider-after {
    width: 20%;
    opacity: 0.8;
  }
}
.section-links__slider-before:hover,
.section-links__slider-after:hover {
  background-image: url("../i/right-arrow.svg");
  background-size: 40px;
  background-position: 90% center;
  background-color: transparent;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.section-links__slider-before.slick-arrow.slick-disabled,
.section-links__slider-after.slick-arrow.slick-disabled {
  opacity: 0;
  cursor: default;
}
.section-links__slider-before {
  left: -5px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
@media screen and (max-width: 580px) {
  .section-links__slider-before {
    display: none;
  }
}
.section-links__slider-after {
  right: -5px;
}
.section-links__slider.slick-initialized {
  opacity: 1;
}
.section-links__slider-next,
.section-links__slider-prev {
  position: absolute;
  top: 50%;
  width: 150px;
}
@media screen and (max-width: 1380px) {
  .section-links__slider-next,
  .section-links__slider-prev {
    font-size: 0;
  }
  .section-links__slider-next span.arrow,
  .section-links__slider-prev span.arrow {
    font-size: 26px;
    font-weight: 500;
  }
}
.section-links__slider-next:hover,
.section-links__slider-prev:hover {
  cursor: pointer;
  color: #da006f;
}
.section-links__slider-prev {
  left: -150px;
  text-align: right;
  padding-right: 20px;
}
@media screen and (max-width: 1380px) {
  .section-links__slider-prev {
    padding-right: 10px;
  }
}
.section-links__slider-next {
  right: -150px;
  padding-left: 20px;
}
@media screen and (max-width: 1380px) {
  .section-links__slider-next {
    padding-left: 10px;
  }
}
.section-links .slick-arrow {
  -webkit-filter: invert(0);
  filter: invert(0);
  z-index: 3;
  display: none;
}
.section-links__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  border-style: solid;
  padding: 0;
  max-width: 1124px;
  max-width: 100%;
  overflow: hidden;
}
.section-links__item {
  height: 250px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #fff;
  border-width: 0 2px;
}
@media screen and (max-width: 1380px) {
  .section-links__item {
    height: 210px;
  }
}
@media screen and (max-width: 767px) {
  .section-links__item {
    height: 160px;
  }
}
.section-links__item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-links__item-bg:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
}
.section-links__item-title {
  color: rgba(35,42,53,0.9);
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  background: rgba(255,255,255,0.8);
  padding: 12px 20px;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1080px) {
  .section-links__item-title {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 12px;
  }
}
.section-links__item-title-bg {
  background: rgba(35,42,53,0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0px;
  z-index: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}
.section-links__item-title-text {
  position: relative;
  z-index: 1;
}
@media (hover: hover) {
  .section-links__item:hover .section-links__item-title {
    background: transparent;
    padding-right: 90px;
    color: #fff;
  }
  .section-links__item:hover .section-links__item-title-bg {
    opacity: 1;
    left: 0;
  }
  .section-links__item:hover .section-links__item-bg {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.main-content {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.section-news {
  background-size: 580px;
  background-position: calc(50% - 545px) 0;
  padding: 20px 0 50px;
}
@media screen and (max-width: 1080px) {
  .section-news {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .section-news {
    padding-bottom: 50px;
  }
}
.section-news h3 {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.section-news__title {
  color: #107ecf;
}
.section-news__title:hover {
  color: #da006f;
}
.section-news__inner {
  position: relative;
  padding: 0 26px;
}
.section-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .section-news__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.section-news__col {
  width: 33.33%;
  min-height: 150px;
}
@media screen and (max-width: 767px) {
  .section-news__col {
    width: 100%;
    min-height: 0;
  }
  .section-news__col:not(:last-child) {
    margin-bottom: 30px;
  }
}
.section-news__col-text {
  padding: 20px;
  line-height: 24px;
}
.last-news {
  height: 100%;
}
.last-news__item {
  color: #3b4256;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 50px;
}
.last-news__item:last-child {
  border-bottom: 0;
  margin-bottom: 10px;
}
.last-news__item-date {
  font-size: 14px;
}
.last-news__item-text {
  margin-bottom: 10px;
}
.last-news__item-text h4 {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}
.last-news__item-text img {
  margin-bottom: 20px;
}
.last-news__item-text p {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.6;
}
@media screen and (max-width: 1080px) {
  .last-news__item-text p {
    display: none;
  }
}
.last-news__item:hover h4 {
  color: #da006f;
}
.section-offer {
  display: block;
  color: #fff;
}
.section-offer.section-offer__text-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .section-offer.section-offer__text-mobile {
    display: block;
  }
}
.section-offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 110px;
  padding: 0;
  max-width: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .section-offer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    height: auto;
  }
}
.section-offer h4 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .section-offer h4 {
    font-size: 16px;
  }
}
.section-offer p {
  opacity: 0.7;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
}
@media screen and (max-width: 1080px) {
  .section-offer p {
    display: none;
  }
}
.section-offer__icon {
  fill: #fff;
  margin: 0 30px;
  opacity: 0.3;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
@media screen and (max-width: 1380px) {
  .section-offer__icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 1080px) {
  .section-offer__icon {
    width: 40px;
    height: 40px;
  }
}
.section-offer__text {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 50px;
  background: #da006f;
  width: 46%;
  display: flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .section-offer__text {
    padding-right: 20px;
  }
}
.section-offer__text:hover,
.section-offer__text.hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
.section-offer__text_left {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 186px;
  text-align: right;
  background: #107ecf;
}
@media screen and (max-width: 767px) {
  .section-offer__text_left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-right: 20px;
    text-align: left;
    padding-left: 20px;
  }
}
.section-offer__text_left .section-offer__icon {
  margin-left: 0;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .section-offer__text_left .section-offer__icon {
    margin-right: 0;
    margin-left: auto;
  }
}
.section-offer__text_right .section-offer__icon {
  margin-right: 0;
}
.section-offer__text_right {
  padding-left: 156px;
}
@media screen and (max-width: 767px) {
  .section-offer__text_right {
    padding-left: 20px;
  }
}
.section-offer__text-forhover {
  display: block;
  position: absolute;
  width: 210px;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .section-offer__text-forhover {
    display: none;
  }
}
.section-offer__text-forhover_left {
  left: 50%;
  margin-left: -220px;
}
.section-offer__text-forhover_right {
  right: 50%;
  margin-right: -220px;
  width: 210px;
}
.section-offer__text-left .section-offer__icon {
  margin-left: 0;
  margin-right: auto;
}
.section-offer__text_right .section-offer__icon {
  margin-left: auto;
  margin-right: 0;
}
.section-offer-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 12px 30px;
}
@media screen and (max-width: 767px) {
  .section-offer__text {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section-offer__text-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 4px;
  }
}
.section-offer__image {
  height: 450px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -70px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .section-offer__image {
    display: none;
  }
}
.section-tour {
  background-size: 500px;
  background-position: calc(50% + 630px) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  overflow: hidden;
  z-index: 3;
  background: #fff;
}
.section-tour__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}
.section-tour__item {
  width: 25%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3b4256;
  position: relative;
}
@media screen and (max-width: 1380px) {
  .section-tour__item {
    height: 250px;
  }
}
@media screen and (max-width: 1080px) {
  .section-tour__item {
    height: 220px;
  }
}
@media screen and (max-width: 960px) {
  .section-tour__item {
    width: 50%;
    height: 240px;
  }
}
@media screen and (max-width: 580px) {
  .section-tour__item {
    width: 100%;
  }
}
.section-tour__item_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
}
.section-tour__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;
  padding: 46px 30px 6px;
  width: 100%;
  height: inherit;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-tour__item-text h4 {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: auto;
}
.section-tour__item-text p {
  visibility: hidden;
  opacity: 0;
  display: none;
  font-size: 14px;
  line-height: 21px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.1s 0.3s ease;
  transition: all 0.1s 0.3s ease;
  font-weight: 500;
}
.section-tour__item-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.section-tour__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s 0.3s ease;
  transition: all 0.3s 0.3s ease;
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
  will-change: filter;
}
.section-tour__item-img:after,
.section-tour__item-img:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-tour__item-img:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0,0,0,0.2)), to(rgba(0,0,0,0.55)));
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.55));
}
.section-tour__item:hover .section-tour__item-img:before {
  background: rgba(0,0,0,0.65);
}
.section-tour__item:hover h4 {
  top: 5%;
  bottom: 100%;
  margin-bottom: 30px;
}
.section-tour__item:hover p {
  visibility: visible;
  opacity: 0.9;
  height: 45%;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1380px) {
  .section-tour__item:hover p {
    height: 40%;
    -webkit-line-clamp: 4;
  }
}
@media screen and (max-width: 1080px) {
  .section-tour__item:hover p {
    height: 50%;
  }
}
@media screen and (max-width: 960px) {
  .section-tour__item:hover p {
    height: 45%;
  }
}
.footer {
  min-height: 510px;
  position: relative;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  color: #fff;
  padding: 30px 0;
}
.footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35,42,53,0.5);
  background: rgba(3,4,9,0.8);
}
.footer__inner {
  position: relative;
  z-index: 1;
}
.footer__logo {
  display: block;
  width: 240px;
  margin: 0 auto 40px;
}
.footer__map {
  width: 100%;
  height: 150px;
  background-position: center;
  color: rgba(0,0,0,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__col {
  padding: 0 0 20px;
  width: 33.33%;
}
@media screen and (max-width: 767px) {
  .footer__col {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
.footer__col:nth-child(2) {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.footer__col:last-child {
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer__col:last-child {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__col:last-child .footer__col-item-icon {
  top: 5px;
  margin-left: -5px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.footer__col:last-child .footer__col-item-icon_email {
  top: 2px;
}
.footer__col-item {
  margin-bottom: 29px;
  color: rgba(255,255,255,0.8);
  position: relative;
  line-height: 24px;
}
.footer__col-item-icon {
  position: relative;
  fill: rgba(255,255,255,0.7);
  position: absolute;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: -17px;
  opacity: 0;
}
.footer__col-item-link {
  display: block;
  color: rgba(255,255,255,0.7);
  font-weight: 600;
}
.footer__col-item-link:hover {
  color: #da006f;
}
.footer__col-item_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -32px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer__col-item_soc {
    margin-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__social {
  color: rgba(255,255,255,0.7);
  margin-left: 49px;
}
@media screen and (max-width: 767px) {
  .footer__social {
    margin: 0 30px;
  }
}
.footer__social:hover {
  color: #da006f;
}
.footer__social-icon {
  fill: currentColor;
}
.footer__app {
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .footer__app {
    margin-bottom: 10px;
  }
}
.footer-menu__list {
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(255,255,255,0.3);
}
@media screen and (max-width: 767px) {
  .footer-menu__list {
    display: none;
  }
}
.footer-menu__list li {
  display: block;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.footer-menu__list a {
  display: block;
  color: rgba(255,255,255,0.7);
  display: block;
  padding: 12px 0;
  font-size: 14px;
}
.footer-menu__list a:hover {
  color: #da006f;
}
.footer p {
  margin: 0;
}
.breadcrumbs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}
.breadcrumbs__arrow {
  margin: 0 10px;
}
table:not(.fl-table) {
  font-size: 16px;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 0;
  width: 100% !important;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border-left: 1px solid #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}
table:not(.fl-table) caption {
  color: #000;
  padding: 1em 0;
  text-align: center;
}
table:not(.fl-table) td,
table:not(.fl-table) th {
  border: 1px solid #fff;
  margin: 0;
  overflow: visible;
  padding: 16px 20px;
  word-wrap: break-word;
}
table:not(.fl-table) td:first-child,
table:not(.fl-table) th:first-child {
  border-left: 0;
}
table:not(.fl-table) td {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
  line-height: 20px;
}
table:not(.fl-table) th {
  background: #3db39e;
  color: #fff;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  padding: 8px 20px;
}
table:not(.fl-table) th:nth-child(odd) {
  background: #324960;
}
table:not(.fl-table) thead {
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
table:not(.fl-table) tr {
  background-color: #fff;
}
table:not(.fl-table) tr:nth-child(even) {
  background: #f8f8f8;
}
table:not(.fl-table) p {
  margin: 0;
}
.input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 26px;
  font-size: 16px;
  padding: 5px 10px;
}
textarea.input {
  min-height: 80px;
  margin-bottom: 16px;
}
input[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-top: -10px;
}
.parsley-errors-list {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  color: #f00;
}
.form-wrapper {
  background: #fff;
  padding: 30px 30px 60px;
}
.breadcrumbs {
  margin-bottom: 40px;
  font-weight: 500;
}
.breadcrumbs a {
  color: #fff;
}
.breadcrumbs a:hover {
  color: #da006f;
}
.page-header {
  padding: 30px 20px 0;
  min-height: 210px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .page-header {
    min-height: 160px;
  }
}
.page-header:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 96px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.65)), color-stop(33%, transparent), to(rgba(0,0,0,0.65)));
  background: linear-gradient(to left, rgba(0,0,0,0.65) 0%, transparent 33%, rgba(0,0,0,0.65) 100%);
}
.page-header__inner {
  position: relative;
  z-index: 1;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .page-header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 30px 0;
  }
}
.page-header__submenu {
  margin-right: -20px;
  line-height: 40px;
  margin-top: auto;
  margin-bottom: 24px;
  background: rgba(0,0,0,0.24);
  border-radius: 24px;
  padding: 0 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
@media screen and (max-width: 960px) {
  .page-header__submenu {
    margin-top: 20px;
    margin-left: -35px;
  }
}
@media screen and (max-width: 767px) {
  .page-header__submenu {
    display: block;
    border-radius: 0;
    height: auto;
  }
}
.page-header__submenu svg {
  position: relative;
  top: 7px;
}
.page-header__submenu a {
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .page-header__submenu a {
    display: inline-block;
    margin-left: -5px;
    padding: 0 20px;
  }
}
.page-header__submenu a:hover {
  color: #107ecf;
}
.page-header__submenu a:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  top: 50%;
  margin-top: -3px;
}
.page-header__submenu a:first-child:before {
  display: none;
}
.page-header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .page-header__filter {
    display: block;
    width: 100%;
  }
  .page-header__filter select {
    display: block;
    min-width: 100%;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .page-header__side {
    display: block;
    width: 100%;
  }
}
.page-header__tabs {
  margin-top: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 0 -16px;
}
.page-header__tabs-item {
  color: #fff;
  padding: 12px 30px;
  font-weight: 500;
  border-bottom: 4px solid transparent;
  font-size: 18px;
}
.page-header__tabs-item_active {
  border-color: #107ecf;
  color: #107ecf;
}
.page-header__tabs-item:hover {
  color: #107ecf;
}
.page-header h1 {
  margin-right: 20px;
}
.page-content__inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #difference .page-content__inner {
    padding: 0;
  }
}
.page-content__sidebar {
  width: 300px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 30px 0 0 20px;
  margin-bottom: 4px;
}
.page-content__sidebar .section-links__item {
  height: 100%;
  margin-bottom: 4px;
}
.page-content__main {
  padding: 50px 0px 20px;
  line-height: 24px;
}
.page-content__main:first-child:not(.gray-bg):not(.dark-bg),
.page-content__main.white-bg {
  background-color: #fff;
  background-color: #f7fbff;
}
.page-content__main.with-sidebar .page-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-content__main-section {
  margin-bottom: 50px;
}
.page-content__main-section_padding {
  padding-right: 50px;
}
.page-content__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
.page-content__main-title h2 {
  margin-bottom: 0;
}
.gallery {
  margin-bottom: -20px;
}
.gallery__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gallery__inner {
  max-width: 100%;
  padding: 0;
}
.gallery__tags {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.gallery__tags button {
  display: inline-block;
  padding: 5px 14px;
  margin: 0 5px 5px;
  border-radius: 2px;
  color: #3b4256;
  font-size: 16px;
  border: 1px solid #107ecf;
  color: #107ecf;
  background: transparent;
  cursor: pointer;
  font-family: 'GOSTUI2';
}
.gallery__tags button.active {
  background: #107ecf;
  color: #fff;
}
.gallery__viewmode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.gallery__viewmode select {
  margin-left: 10px;
}
.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.gallery__item {
  width: 25%;
  height: 250px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-shadow: #fff 0 0 0;
  box-shadow: #fff 0 0 0;
  background-size: cover;
  position: relative;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  color: #3b4256;
}
@media screen and (max-width: 1080px) {
  .gallery__item {
    width: 33.33%;
  }
}
@media screen and (max-width: 767px) {
  .gallery__item {
    height: 200px;
  }
}
@media screen and (max-width: 580px) {
  .gallery__item {
    width: 50%;
    height: 150px;
  }
}
.gallery__item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery__item:not(.gallery__item_text):before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.05);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.gallery__item:not(.gallery__item_text):hover:before {
  background: url("../i/lense.svg") no-repeat center rgba(0,0,0,0.5);
}
.gallery__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
}
.gallery__item-icon {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.1;
  fill: #3b4256;
}
.gallery__item_text {
  display: none;
  padding: 30px;
  background: #fff;
  font-size: 14px;
  position: relative;
}
.gallery__item_text:after {
  background: #fff;
  right: 0;
  top: 50%;
  content: "";
  height: 24px;
  position: absolute;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  width: 24px;
  z-index: 10;
}
.gallery__item_text:nth-child(4n):after {
  top: calc(100% - 12px);
  left: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gallery__item_text p {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 960px) {
  .gallery__item_text p {
    -webkit-line-clamp: 4;
  }
}
@media screen and (max-width: 767px) {
  .gallery__item_text p {
    -webkit-line-clamp: 3;
  }
}
@media screen and (max-width: 580px) {
  .gallery__item_text p {
    display: none;
  }
}
.cards-slider__item-preview {
  width: 300px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 40px;
}
.cards-slider__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.cards-slider__item-top-info {
  display: none;
}
.cards-slider__item-content {
  display: none;
  margin-bottom: 50px;
}
.cards-slider__item.slick-current .cards-slider__item-content {
  display: block;
}
.slick-current .cards-slider__item-top-info {
  display: block;
}
.cards-slider-nav {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -10px;
}
.cards-list__item {
  width: 33.33%;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
  -webkit-transition: text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
  will-change: transform;
  cursor: pointer;
}
.cards-list__item:hover:before {
  opacity: 1;
}
.cards-list__item-section {
  margin-bottom: 10px;
  font-size: 14px;
  padding: 20px 30px;
}
.cards-list__item-section.wide {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 330px;
}
.cards-list__item-section .label {
  color: #3b4256;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}
.cards-list__item-section .label + p + .label {
  margin-top: -5px;
}
.cards-list__item-section p {
  color: #3b4256;
  font-size: 18px;
}
.cards-list__item-section p.large {
  font-size: 24px;
}
.cards-list__item-section i {
  color: #000;
  font-weight: 500;
  list-style: normal;
}
.cards-list__item-section .title {
  color: #3b4256;
}
.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  margin: 0 -5px;
  list-style: none;
}
.cards-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: calc(33.33% - 15px);
  flex-basis: calc(33.33% - 15px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 150px;
  margin: 0 5px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.14s ease-in;
  transition: -webkit-transform 0.14s ease-in;
  transition: transform 0.14s ease-in;
  transition: transform 0.14s ease-in, -webkit-transform 0.14s ease-in;
  will-change: transform;
  cursor: pointer;
  border-radius: 8px;
  overflow: visible;
}
.cards-list__item .btn {
  padding: 7px 20px 6px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}
.cards-list__item .btn:first-child {
  border-radius: 0 0 0 10px;
}
.cards-list__item .btn:last-child {
  border-radius: 0 0 10px 0;
}
.cards-list__item .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0;
  background: transparent;
  color: currentColor;
  font-size: 14px;
  border: 0;
}
.cards-list__item .btns a {
  color: #da006f;
}
.cards-list__item .btns a:last-child {
  color: #107ecf;
  border-color: #107ecf;
}
.cards-list__item-category {
  display: none;
  background: currentColor;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  line-height: 17px;
  margin: 3px 0 5px;
  font-weight: 500;
  padding: 0 24px;
}
.cards-list__item-category span {
  color: #fff;
}
.cards-list__item h3 {
  color: #3b4256;
  margin-bottom: -5px;
  max-width: 145px;
  line-height: 21px;
  margin-top: 0;
}
.cards-list__item h3 i {
  opacity: 0.5;
  font-size: 14px;
  position: relative;
  top: -3px;
}
.flipper-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.flipper-front,
.flipper-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #c1c3c5;
  display: block;
  background-size: cover;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  z-index: 1;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.flipper-back {
  background: #fff;
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
}
.flipper-card.flipper-is-flipped {
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
}
.viewmode-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .viewmode-toggle {
    display: none;
  }
}
.viewmode-toggle__list,
.viewmode-toggle__grid {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.viewmode-toggle__list:hover .viewmode-toggle__icon,
.viewmode-toggle__grid:hover .viewmode-toggle__icon,
.viewmode-toggle__list.active .viewmode-toggle__icon,
.viewmode-toggle__grid.active .viewmode-toggle__icon {
  fill: #107ecf;
}
.viewmode-toggle__icon {
  fill: #3b4256;
}
.viewmode-toggle__label {
  padding-right: 15px;
  font-size: 14px;
  opacity: 0.8;
}
@media screen and (max-width: 960px) {
  .grid-view {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.grid-view .cards-list__item {
  height: 180px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 960px) {
  .grid-view .cards-list__item {
    width: 300px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
}
.grid-view .cards-list__item:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
.grid-view .cards-list__item:hover .flipper-front,
.grid-view .cards-list__item:hover .flipper-back {
  -webkit-box-shadow: 0 10px 24px 0px rgba(0,0,0,0.02), 0 8px 20px -2px rgba(0,0,0,0.08), 0 8px 12px -6px rgba(0,0,0,0.08);
  box-shadow: 0 10px 24px 0px rgba(0,0,0,0.02), 0 8px 20px -2px rgba(0,0,0,0.08), 0 8px 12px -6px rgba(0,0,0,0.08);
}
.grid-view .cards-list__item .flipper-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.grid-view .cards-list__item-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 20px 0;
  margin: 0 0 -15px;
}
.grid-view .cards-list__item-section:first-child {
  padding-top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid-view .cards-list__item-section_basic {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  margin-bottom: -21px;
}
.grid-view .cards-list__item-section .label {
  font-size: 12px;
  line-height: 24px;
}
.grid-view .cards-list__item:hover .more-info {
  opacity: 1;
}
.grid-view .hide-in-grid {
  display: none;
}
.grid-view .more-info {
  color: #fff;
  color: #107ecf;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #107ecf;
  background: transparent;
  position: relative;
  z-index: 2;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4px 20px 2px;
  border-radius: 0 0 10px 10px;
  letter-spacing: 0.5px;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-view .more-info:hover {
  color: #da006f;
}
.list-view .hide-in-grid {
  display: block;
}
.list-view .hide-in-list {
  display: none;
}
.list-view .cards-list__item {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.list-view .flipper-card,
.list-view .flipper-front,
.list-view .flipper-back {
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  will-change: transform;
}
.list-view .flipper-card:before,
.list-view .flipper-front:before,
.list-view .flipper-back:before {
  display: none;
}
.list-view .flipper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}
.list-view .flipper-card:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 10px 24px 0px rgba(0,0,0,0.02), 0 8px 20px -2px rgba(0,0,0,0.08), 0 8px 12px -6px rgba(0,0,0,0.08);
  box-shadow: 0 10px 24px 0px rgba(0,0,0,0.02), 0 8px 20px -2px rgba(0,0,0,0.08), 0 8px 12px -6px rgba(0,0,0,0.08);
}
.list-view .flipper-front {
  position: relative;
  width: 300px;
  background-position: center;
  z-index: 1;
  border-radius: 0;
}
@media screen and (max-width: 767px) {
  .list-view .flipper-front {
    width: 220px;
  }
}
.list-view .flipper-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% - 150px);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: rotateY(0) translateZ(1px);
  transform: rotateY(0) translateZ(1px);
  border-radius: 0;
  padding-left: 10px;
  will-change: backface-visibility;
}
.list-view .flipper-back .cards-list__item-section {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media screen and (max-width: 960px) {
  .list-view .flipper-back .cards-list__item-section.wide {
    display: none;
  }
}
.list-view .flipper-back .cards-list__item-section_basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.list-view .flipper-back ul li {
  color: #3b4256;
  margin-bottom: 0;
}
.list-view .flipper-back ul li:last-child {
  text-align: center;
  list-style: none;
}
.list-view .flipper-back ul li:last-child:before {
  display: none;
}
.list-view .flipper-back .tag {
  display: inline-block;
  background: currentColor;
  padding: 0 21px 2px;
  border-radius: 30px;
  position: relative;
  top: -4px;
  line-height: 21px;
}
.list-view .flipper-back .tag span {
  display: inline;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
}
.list-view .flipper-back .btns {
  margin-right: 45px;
}
.list-view .flipper-back .btn {
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.list-view .cards-list__item-category {
  position: relative;
  top: -10px;
}
@media screen and (max-width: 767px) {
  #difference {
    width: 100%;
    overflow: auto;
  }
  #difference h2 {
    padding-left: 20px;
  }
}
.table-wrapper {
  -webkit-box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}
.fl-table {
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: #fff;
  position: relative;
}
.fl-table__icon {
  fill: #fff;
}
.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
  white-space: nowrap;
}
.fl-table td:first-child {
  padding: 8px 20px;
  text-align: left;
  font-weight: 500;
}
.fl-table thead {
  position: relative;
  z-index: 1;
}
.fl-table thead th {
  color: #fff;
  background: #3db39e;
  font-weight: 500;
  vertical-align: middle;
  z-index: 100;
  font-size: 14px;
  line-height: 18px;
}
.fl-table thead th:nth-child(odd) {
  color: #fff;
  background: #324960;
}
.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}
.fl-table tbody {
  position: relative;
}
.fl-table .member-cards__time {
  font-size: 14px;
  white-space: nowrap;
}
.fl-table td,
.fl-table th {
  text-align: center;
  vertical-align: middle;
  padding: 8px 14px;
}
.fl-table td.checked,
.fl-table th.checked {
  background-image: url("../i/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.difference .fl-table td:last-child,
.difference .fl-table th:last-child {
  display: none;
}
.fl-table tr:hover .like {
  background-image: url("../i/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.docs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.docs-list__item {
  padding: 30px 30px 40px;
  color: #324960;
  width: calc(33.33% - 20px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  margin-bottom: 30px;
}
.docs-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .docs-list__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .docs-list__item {
    width: 100%;
    padding: 10px 20px;
  }
  .docs-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.docs-list__item:hover {
  color: #107ecf;
  border-color: #107ecf;
}
.docs-list__item-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 5px;
}
.docs-list__item-format {
  opacity: 0.7;
}
.docs-list__item-download {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  text-align: center;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.docs-list__item:hover .docs-list__item-download {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .docs-list__item:hover .docs-list__item-download {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .timetable-container {
    overflow: auto;
  }
}
.timetable {
  min-width: 1024px;
}
.timetable.page-content__main {
  padding: 0;
}
.timetable__icon {
  fill: #fff;
  margin-top: 12px;
}
@media screen and (max-width: 960px) {
  .timetable__icon {
    margin-top: 0;
  }
}
.timetable table.fl-table {
  table-layout: fixed;
}
.timetable table.fl-table thead tr:last-child th {
  width: 21%;
  position: -webkit-sticky;
  position: sticky;
  height: 60px;
  top: 100px;
}
@media screen and (max-width: 1080px) {
  .timetable table.fl-table thead tr:last-child th {
    top: 0;
  }
}
.timetable table.fl-table thead tr:last-child th:first-child {
  width: 15%;
}
@media screen and (max-width: 960px) {
  .timetable table.fl-table thead tr:last-child th:first-child {
    width: auto;
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .timetable table.fl-table thead tr:last-child th {
    width: auto;
    text-align: center;
  }
}
.timetable table.fl-table td:first-child {
  font-size: 18px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 960px) {
  .timetable table.fl-table td:first-child {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .timetable table.fl-table td,
  .timetable table.fl-table th {
    height: 60px;
    position: relative;
  }
}
@media screen and (max-width: 960px) {
  .timetable.active td {
    border-color: transparent !important;
  }
  .timetable.active .timetable-event {
    opacity: 0;
    visibility: hidden;
  }
  .timetable.active .timetable-event.active {
    opacity: 1;
    visibility: visible;
  }
}
.timetable-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  padding: 0 30px;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.timetable-legend-wrapper th {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.timetable-legend__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.8;
}
.timetable-legend svg {
  margin-right: 10px;
  fill: #fff;
}
.timetable .fl-table td {
  padding: 8px;
}
.timetable-event {
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 18px;
  padding: 25px 5px 22px;
  position: relative;
  cursor: pointer;
  background: #fff;
  -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.timetable-event:not(.active) a {
  pointer-events: none;
}
.timetable-event:not(:last-child) {
  margin-bottom: 5px;
}
.timetable-event__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.timetable-event__title {
  white-space: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  width: 100%;
}
.timetable-event__title-desctiption {
  display: block;
}
.timetable-event__title,
.timetable-event__lead-name {
  color: #3b4256;
}
.timetable-event__subtitle {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  text-align: center;
}
.timetable-event.active .timetable-event__subtitle {
  position: static;
}
.timetable-event__lead {
  display: none;
}
.timetable-event.active .timetable-event__lead {
  display: block;
}
.timetable-event__lead-photo {
  width: 50px;
  height: 0;
  background-size: 130%;
  background-position: center top;
  border-radius: 50%;
  margin: 0 auto;
}
.timetable-event__lead-name {
  margin-bottom: 5px;
  color: #3b4256;
}
.timetable-event__type {
  position: absolute;
  bottom: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0;
  color: #3b4256;
}
.timetable-event.active .timetable-event__type {
  position: static;
}
.timetable-event__type svg {
  margin-right: 5px;
  fill: currentColor;
  width: 20px;
  height: 18px;
}
.timetable-event__time {
  position: absolute;
  top: 5px;
  width: 100%;
}
.timetable-event.active .timetable-event__time {
  position: static;
}
.timetable-event__price,
.timetable-event__booking {
  font-size: 0;
  display: inline;
  position: absolute;
  right: 24px;
  bottom: 0px;
}
.timetable-event.active .timetable-event__price,
.timetable-event.active .timetable-event__booking {
  position: static;
  display: block;
  font-size: 12px;
}
.timetable-event__price b,
.timetable-event__booking b {
  font-size: 15px;
  font-weight: 600;
  margin-right: 1px;
}
.timetable-event__price svg,
.timetable-event__booking svg {
  margin-right: 3px;
}
.timetable-event__price + .timetable-event__booking {
  right: 8px;
  bottom: -2px;
}
.timetable-event:hover {
  border-color: #107ecf;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
}
.timetable-event:hover .timetable-event__title,
.timetable-event:not(.active):hover .timetable-event__lead .timetable-event__lead-name,
.timetable-event:hover .timetable-event__time,
.timetable-event:hover .timetable-event__type {
  color: #107ecf;
}
.timetable-event.active {
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  border-color: transparent;
}
@media screen and (max-width: 960px) {
  .timetable-event.active {
    position: absolute;
    z-index: 10;
    top: 150%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.timetable-event.active .timetable-event__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.timetable-event.active .timetable-event__title {
  border: 1px solid #ccc;
  border-width: 1px 0;
  margin-bottom: 10px;
  color: #107ecf;
  display: block;
  padding: 5px 0 3px;
  white-space: normal;
  height: auto;
}
.timetable-event.active .timetable-event__lead-photo {
  height: 50px;
}
.timetable-event.active .timetable-event__lead-name {
  margin-bottom: 0;
  color: #da006f;
}
.timetable-event.active .timetable-event__type {
  font-size: 12px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  color: #da006f;
}
.timetable-event.active .timetable-event__title:hover,
.timetable-event.active .timetable-event__lead:hover .timetable-event__lead-name,
.timetable-event.active .timetable-event__type:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
.timetable-event.active:hover .timetable-event__time {
  color: #3b4256;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
}
.card__info {
  width: 1 1 auto;
  padding-right: 50px;
}
@media screen and (max-width: 1080px) {
  .card__info {
    padding-right: 20px;
  }
}
.card__intro {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
  .card__intro {
    max-width: 500px;
  }
}
.card__intro-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.card__intro-col {
  width: 50%;
}
.card__intro-col:not(:last-child) {
  padding-right: 30px;
}
.card__photo {
  width: 350px;
  height: 220px;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  margin-bottom: 50px;
}
@media screen and (max-width: 580px) {
  .card__photo {
    width: 300px;
    height: 180px;
  }
}
.card h3 {
  color: #3b4256;
}
.card .btn {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .card .btn {
    display: none;
  }
}
.card .btn_mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .card .btn_mobile {
    display: block;
  }
}
.card .sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  top: calc(50% - 165px);
}
@media screen and (max-width: 767px) {
  .card .sticky-block {
    position: static;
  }
}
.card__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: currentColor;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  top: -3px;
  padding: 2px 20px 0;
  font-weight: 500;
}
.card__label span {
  color: #fff;
}
.team:not(body) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 767px) {
  .team:not(body) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.team-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 960px) {
  .team-item {
    width: calc(33% - 10px);
  }
}
@media screen and (max-width: 767px) {
  .team-item {
    width: 260px;
    margin: 0 10px 20px;
  }
}
.team-item__photo {
  width: 100%;
  height: 240px;
  background-size: 100% auto;
  background-position: center top;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team-item__text {
  padding: 10px 20px;
}
.team-item__name {
  color: #3b4256;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.team-item__subtitle {
  color: #3b4256;
  opacity: 0.8;
  font-size: 14px;
  line-height: 19px;
}
.team-item:hover .team-item__name,
.team-item:hover .team-item__subtitle {
  color: #da006f;
}
.team-item:hover .team-item__photo {
  background-size: 105%;
}
.team-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 580px) {
  .team-person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
}
.team-person__info {
  width: 50%;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .team-person__info {
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 580px) {
  .team-person__info {
    padding-right: 0;
  }
}
.team-person__subtitle {
  margin-top: -20px;
  margin-bottom: 30px;
  opacity: 0.8;
}
.team-person__description {
  line-height: 27px;
  margin-bottom: 40px;
}
.team-person__description p {
  margin: 0 0 18px;
}
.team-person__description .btn {
  margin-top: auto;
}
.team-person__photo {
  margin-top: -80px;
  width: 50%;
  height: 500px;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .team-person__photo {
    margin-top: 0;
    width: 200px;
    height: 250px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 20px;
  }
}
.flipbook__page {
  width: 100%;
  height: 100%;
  background-size: 200% auto;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.b-wrap-right .flipbook__page {
  background-position: 100% center;
}
.page-kids .page-header {
  background-position: center 25%;
  background-size: cover;
}
.page-kids .section-links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.page-kids .section-links .section-links__item {
  width: 50%;
  margin-bottom: 4px;
}
.unicorn .page-header {
  background-size: auto 100%;
  background-color: #70c9f1;
}
.contacts-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  position: relative;
}
.contacts-cols__item {
  width: 50%;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contacts-cols__item {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
.contacts-cols__item:first-child:after {
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background: #ccc;
  position: absolute;
  left: 50%;
  top: 10px;
}
@media screen and (max-width: 767px) {
  .contacts-cols__item:first-child:after {
    display: none;
  }
}
.contacts-cols__item span {
  opacity: 0.7;
}
.contacts-cols__item svg {
  fill: #3b4256;
  position: absolute;
  margin-left: -26px;
  margin-top: 2px;
}
.page-contacts h3 {
  margin-bottom: 21px;
  margin-top: 0;
}
.page-contacts .page-content__main-section {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.page-contacts .address {
  font-size: 21px;
  margin-bottom: 50px;
}
.page-contacts .address a {
  color: #107ecf;
  font-size: 18px;
}
.page-contacts .address a:hover {
  color: #da006f;
}
.page-contacts .phone {
  display: block;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  margin-left: 24px;
}
.contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -12px;
}
@media screen and (max-width: 767px) {
  .contacts-links {
    margin: 0 auto;
    width: 180px;
  }
}
.contacts-item {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #107ecf;
}
@media screen and (max-width: 767px) {
  .contacts-item {
    width: 100%;
    margin: 0 0 14px;
  }
}
.contacts-item-icon {
  width: 36px;
  height: 36px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 2px solid currentColor;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 7px;
}
.contacts-item-icon svg {
  fill: currentColor;
  max-width: 20px;
  max-height: 20px;
}
.contacts-item:hover {
  color: #da006f;
}
.map-wrapper {
  position: relative;
  margin-bottom: -10px;
}
@media screen and (max-width: 767px) {
  .map-wrapper iframe {
    height: 360px;
  }
}
.section-feedback {
  position: absolute;
  width: 300px;
  height: calc(100% - 20px);
  right: 20px;
  top: 50px;
  background: #fff;
  padding: 25px;
  -webkit-box-shadow: 0 4px 8px rgba(36,37,38,0.08);
  box-shadow: 0 4px 8px rgba(36,37,38,0.08);
}
.section-feedback__field {
  position: relative;
}
@media screen and (max-width: 767px) {
  .section-feedback {
    display: none;
  }
}
.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.articles-item {
  width: calc(33.33% - 20px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  .articles-item {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 580px) {
  .articles-item {
    width: 100%;
  }
}
.articles-item__img {
  height: 210px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.articles-item_top .articles-item__img {
  height: 380px;
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .articles-item_top .articles-item__img {
    margin-bottom: 20px;
  }
}
.articles-item__title {
  color: #3b4256;
  margin-bottom: 10px;
  margin-top: 0;
}
.articles-item__date {
  margin-top: auto;
  font-size: 12px;
  color: #7b7b7b;
  font-weight: 400;
  line-height: 12px;
  display: none;
}
@media screen and (max-width: 960px) {
  .articles-item__date {
    margin-top: 20px;
  }
}
.articles-item p {
  display: none;
}
.articles-item h3 {
  margin-top: 0;
}
.articles-item:hover .articles-item__title {
  color: #da006f;
}
.articles-item_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .articles-item_top {
    display: block;
  }
}
.articles-item_top .articles-item__title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
}
.articles-item_top .articles-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding-left: 30px;
  width: calc(33.33% + 10px);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
@media screen and (max-width: 960px) {
  .articles-item_top .articles-item__content {
    width: 100%;
    padding-left: 0;
  }
}
.articles-item_top .articles-item__content p {
  display: block;
  font-weight: 400;
  color: #848e99;
}
.n2-ss-slider.n2-ss-loaded {
  margin: 30px 0 -20px !important;
}
.pdf-export-btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pdf-export-btn img {
  margin-right: 10px;
}
.pdf-export-btn:hover {
  color: #da006f;
}
.btn_wrapper {
  margin-bottom: 10px;
}
.btn_wrapper a {
  display: inline-block;
  padding: 5px 14px;
  margin: 0 5px 5px 0;
  border-radius: 2px;
  color: #3b4256;
  font-size: 16px;
  border: 1px solid #107ecf;
  color: #107ecf;
  background: transparent;
  cursor: pointer;
  font-family: 'GOSTUI2';
}
.btn_wrapper a.active {
  background: #107ecf;
  color: #fff;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 70vh;
  background-color: #222;
}
@media screen and (max-width: 1080px) {
  .container {
    height: 50vh;
  }
}
@media screen and (max-width: 767px) {
  .container {
    height: 300px;
  }
}
.mainpage-slide_stud {
  background: linear-gradient(285.18deg, #5eabd9 0%, #3495cf 50.52%, #2879a9 100%);
}
.mainpage-slide_stud .mainpage-slide__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-top: 35px;
}
@media screen and (max-width: 1080px) {
  .mainpage-slide_stud .mainpage-slide__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .mainpage-slide_stud .mainpage-slide__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    padding: 0 20px;
    margin-top: -50px;
  }
}
.mainpage-slide_stud .mainpage-slide__link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -200px;
}
@media screen and (max-width: 1080px) {
  .mainpage-slide_stud .mainpage-slide__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .mainpage-slide_stud .mainpage-slide__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    margin-right: 0;
  }
}
.mainpage-slide_stud .mainpage-slide__text {
  width: 280px;
  margin-top: -120px;
}
.mainpage-slide_stud h2 {
  font-size: 103px;
  font-weight: bold;
  border-radius: 4px;
  background: #fff;
  background: transparent;
  padding: 10px 30px 5px;
  padding: 0;
  margin-bottom: 20px;
}
.mainpage-slide_stud h3 {
  font-weight: bold;
  font-size: 48.7188px;
  line-height: 110%;
  margin-bottom: 0;
}
.mainpage-slide_stud h6 {
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 21px;
  font-weight: normal;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .mainpage-slide_stud .mainpage-slide__image {
    min-width: 400px;
    width: 400px;
    position: relative;
    top: -120px;
  }
}
.mainpage-slide_23feb {
  position: relative;
}
.mainpage-slide_23feb .mainpage-slide__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin-top: 35px;
}
.mainpage-slide_23feb .mainpage-slide__inner:after {
  position: absolute;
  display: block;
  content: '';
  background: linear-gradient(297.51deg, #333 0%, #1a1a1a 50.52%, #000 100%);
  height: 100%;
  width: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: -1;
}
@media screen and (max-width: 1080px) {
  .mainpage-slide_23feb .mainpage-slide__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .mainpage-slide_23feb .mainpage-slide__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    padding: 0 20px;
    margin-top: -50px;
  }
}
.mainpage-slide_23feb .mainpage-slide__link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 30px;
}
@media screen and (max-width: 1080px) {
  .mainpage-slide_23feb .mainpage-slide__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .mainpage-slide_23feb .mainpage-slide__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    margin-right: 0;
    margin-left: 0;
  }
}
.mainpage-slide_23feb .mainpage-slide__text {
  width: 280px;
  margin-top: -120px;
}
.mainpage-slide_23feb h2 {
  font-size: 103px;
  font-weight: bold;
  border-radius: 4px;
  background: #fff;
  background: transparent;
  padding: 10px 30px 5px;
  padding: 0;
  margin-bottom: 20px;
}
.mainpage-slide_23feb h3 {
  font-weight: bold;
  font-size: 44.2px;
  line-height: 110%;
  margin-bottom: 0;
}
.mainpage-slide_23feb h3 + p {
  font-size: 14px;
  letter-spacing: 0.02em;
}
.mainpage-slide_23feb h6 {
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 21px;
  font-weight: normal;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .mainpage-slide_23feb .mainpage-slide__image {
    min-width: 400px;
    width: 400px;
    position: relative;
    top: -120px;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #fff;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9) translate(0, -100%);
  transform: scale(0.9) translate(0, -100%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: none;
  touch-action: none;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}
.modal__close svg {
  stroke: #3b4256;
}
.modal__close:hover svg {
  stroke: #da006f;
}
.modal_active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
  overflow: hidden;
}
.modal-fade {
  display: none;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1100;
}
.modal-classes.modal_active {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 55px 30px 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#guest,
#callmeback {
  max-width: 300px;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#guest .modal__content,
#callmeback .modal__content {
  padding: 30px;
}
#guest .modal__content .input,
#callmeback .modal__content .input {
  margin-bottom: 20px;
}
#guest .modal__content .btn,
#callmeback .modal__content .btn {
  margin-top: 0;
}
#guest .alert-danger,
#callmeback .alert-danger {
  margin: -30px -30px 5px;
  padding: 15px 30px;
  z-index: -1;
}
#flipbook {
  background: transparent;
  max-width: 95%;
  max-height: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#flipbook .modal__content {
  width: 100%;
  height: 100%;
  overflow: visible;
}
#flipbook .modal__close {
  z-index: 100;
}
#flipbook .modal__close svg {
  stroke: #fff;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}
#flipbook {
  width: 800px;
  height: 650px;
  overflow: hidden;
}
#ways {
  max-width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}
#ways .modal__content {
  padding: 30px;
  overflow: auto;
  height: 100%;
}
