extends layouts/default

block content
    //.page-header(style="background-image:url('f/i/bg-about.jpg')")
    .page-header(style="background-image:url('f/i/bg-b-l-1.jpg')")
        .page-header__inner
            .page-header__title
                h1 Наш клуб
                p Новый проект в г.Химки в сфере фитнес индустрии.
            .page-header__submenu
                a(href="#about") О клубе
                a(href="#gallery") Фотогалерея
    .page-content
        .page-content__main.with-sidebar#about
            .page-content__inner
                .page-content__main-section.page-content__main-section_padding
                    h2 О клубе
                    p Новый проект в г.Химки в сфере фитнес индустрии. Семейный фитнес центр "City Sport" предлагает своим клиентам полный комплекс wellness-программ, групповой и индивидуальный тренинг, комфортный тренажёрный зал, отдельная кардиозона, широкий спектр групповых программ, детский и взрослый бассейн, две сауны, детский клуб,  SPA-услуги, фитнес бар и многое другое. Тренажёрный зал полностью укомплектован тренажерами марки FOREMAN и HOIST, одними из лидеров на рынке среди коммерческих тренажёров.
                    table(style="width: 100%; height: 1842px;" cellspacing="0" cellpadding="0")
                        tbody
                            tr(style="height: 62px;")
                                th(style="height: 62px;")
                                    p Наименование Услуги
                                th(style="height: 62px;")
                                    p Стоимость
                            tr(style="height: 274px;")
                                td(style="height: 274px;")
                                    p
                                        strong Классический общий массаж
                                    p
                                        | Традиционные техники массажа для заряда бодрости и энергии. В результате интенсивного воздействия на биологические активные точки ускоряется восстановление мышц. Данный массаж осуществляется с учетом индивидуальных физических особенностей организма и корректируется под каждого человека.
                                td(style="height: 274px;")
                                    p
                                        strong 1 900 Ᵽ
                                        |  (60 минут)
                                    p
                                        strong 2 400 Ᵽ
                                        |  (90 минут)
                            tr(style="height: 190px;")
                                td(style="height: 190px;")
                                    p
                                        strong Спортивный массаж
                                    p
                                        | Спортивный массаж являетсяособым видом массажа, применяемым с целью увеличения выносливости, устранения травм, борьбы с усталостью и улучшения общего физического состояния.
                                td(style="height: 190px;")
                                    p
                                        strong 1 600 Ᵽ
                                        |  (60 минут)
                            tr(style="height: 218px;")
                                td(style="height: 218px;")
                                    p
                                        strong Массаж спины
                                    p
                                        | Прорабатываются самые глубокие мышечные застои в области спины. За счет надавливаний на рефлексогенные точки, ответственные за работу различных систем организма, достигается оздоровительный эффект.
                                td(style="height: 218px;")
                                    p
                                        strong 1100 Ᵽ
                                        |  (40 минут)
                            tr(style="height: 218px;")
                                td(style="height: 218px;")
                                    p
                                        strong Массаж шейно-воротниковой зоны
                                    p
                                        | Улучшает мозговое кровоснабжение, уменьшает мышечное перенапряжение в районе плеч, лопаток и шеи. Также массаж стабилизирует артериальное давление,улучшает общее состояние всего организма.
                                td(style="height: 218px;")
                                    p
                                        strong 600 Ᵽ
                                        |  (20 минут)
                            tr(style="height: 250px;")
                                td(style="height: 250px;")
                                    p
                                        strong Моделирующий (антицеллюлитный) массаж
                                    p
                                        | Моделирующий массаж для коррекции проблемных зон. Признанная методика активизирует обмен веществ, восстанавливает микроциркуляцию и лимфоток в подкожном слое.
                                td(style="height: 250px;")
                                    p Комплекс:
                                    p
                                        strong 1900 Ᵽ
                                        |  (60 минут)
                                    p Область живота:
                                    p
                                        strong 900
                                        strong Ᵽ
                                        | (25 минут)
                            tr(style="height: 190px;")
                                td(style="height: 190px;")
                                    p
                                        strong Антистрессовый массаж
                                    p
                                        | Одна из самых приятных процедур в восстановительной медицине, используется OIL-массаж, сопровождается приятной музыкой и арома-терапией.
                                td(style="height: 190px;")
                                    p
                                        strong 1700 Ᵽ
                                        |  (60 минут)
                                    p
                                        strong 2100 Ᵽ
                                        |  (90 минут)
                            tr(style="height: 250px;")
                                td(style="height: 250px;")
                                    p
                                        strong Массаж ног
                                    p
                                        | Помогает снять напряжение и усталость в ногах, улучшает кровообращение, а так же улучшает тонус мышц ног.
                                td(style="height: 250px;")
                                    p Голени+ступни:
                                    p
                                        strong 900 
                                        strong Ᵽ
                                        |  (30 минут)
                                    p Ноги полностью:
                                    p
                                        strong 1200 
                                        strong Ᵽ
                                        |  (45 минут)
                            tr(style="height: 190px;")
                                td(style="height: 190px;")
                                    p
                                        strong Массаж рук
                                    p
                                        | Способствует стимуляции активных точек на руках, избавляет от боли в суставах, повышает тонус мышц рук. Помогает избавиться от нервного напряжения, имеет косметический эффект.
                                td(style="height: 190px;")
                                    p
                                        strong 600 
                                        strong Ᵽ
                                        |  (20 минут) 
            .page-content__main-section
                .page-content__inner
                    .section-links.bottom
                        a.section-links__item.show-modal(href="#flipbook")
                            .section-links__item-bg(style="background-image:url('f/i/bg-b-l-1.jpg')")
                            .section-links__item-title 
                                .section-links__item-title-bg
                                .section-links__item-title-text Смотреть презентацию
                        a.section-links__item(href="join.html")
                            .section-links__item-bg(style="background-image:url('f/i/cards.jpg')")
                            .section-links__item-title 
                                .section-links__item-title-bg
                                .section-links__item-title-text Клубные карты
                        a.section-links__item(href="contacts.html")
                            .section-links__item-bg(style="background-image:url('f/i/bg-about.jpg')")
                            .section-links__item-title 
                                .section-links__item-title-bg
                                .section-links__item-title-text Контакты
        .page-content__main#gallery
            .gallery
                .page-content__inner
                    h2 Фотогалерея клуба
                    .gallery__header
                        .gallery__tags
                .gallery__inner
                    .gallery__content
                        .gallery__item.gallery__item_text(data-group="gym" data-tags="Тренажерный зал")
                            .gallery__item-title
                                h3 Тренаджерный зал
                                svg.gallery__item-icon(width="30", height="30")
                                    use(xlink:href="#weights")
                            p Современное оборудование от ведущих лидеров в области спортивных товаров. На обширной территории спортивного комплекса нашлось место для передовых технологий и ненавязчивого уюта. На обширной территории спортивного комплекса нашлось место для передовых технологий и ненавязчивого уюта.

                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Тренажерный зал"
                            data-group="gym")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Тренажерный зал"
                            data-group="gym")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Тренажерный зал"
                            data-group="gym")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Тренажерный зал"
                            data-group="gym")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.gallery__item_text(data-group="aqua" data-tags="Аква-зона")
                            .gallery__item-title
                                h3 АКВА-ЗОНА
                            svg.gallery__item-icon(width="30", height="30")
                                use(xlink:href="#pool")
                            p Главной особенностью аква-зоны является уникальная панорамная конструкция купола   
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Аква-зона"
                            data-group="aqua")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Аква-зона"
                            data-group="aqua")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Аква-зона"
                            data-group="aqua")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Аква-зона"
                            data-group="aqua")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.gallery__item_text(data-group="fight" data-tags="Зал единоборств")
                            .gallery__item-title
                                 h3 Зал единоборств
                            svg.gallery__item-icon(width="30", height="30")
                                use(xlink:href="#punch")
                            p Защитные маты на полу и стенах обеспечивают максимальный уровень безопасности тренировок
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Зал единоборств"
                            data-group="fight")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Зал единоборств"
                            data-group="fight")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Зал единоборств"
                            data-group="fight")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Зал единоборств"
                            data-group="fight")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.gallery__item_text(data-group="cardio" data-tags="Кардио зона")
                            .gallery__item-title
                                 h3 Кардио зона
                            svg.gallery__item-icon(width="30", height="30")
                                use(xlink:href="#heart")
                            p Защитные маты на полу и стенах обеспечивают максимальный уровень безопасности тренировок
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Кардио зона"
                            data-group="cardio")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Кардио зона"
                            data-group="cardio")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Кардио зона"
                            data-group="cardio")
                            img(src="f/i/tour-1-1.jpg")
                        a.gallery__item.js-smartPhoto(
                            href="f/i/tour-1-1.jpg"
                            data-caption="Подпись(если есть)"
                            data-tags="Кардио зона"
                            data-group="cardio")
                            img(src="f/i/tour-1-1.jpg")
                        

    .modal#flipbook
            .modal__close
                svg(width="20", height="20")
                    use(xlink:href="#close")
            .modal__content
                .flipbook
                    .flipbook__page(style="background-image:url(f/i/flipbook/4.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/4.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/5.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/5.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/6.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/6.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/7.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/7.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/9.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/9.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/20.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/20.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/24.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/24.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/25.jpg)")
                    .flipbook__page(style="background-image:url(f/i/flipbook/25.jpg)")