extends layouts/default

block content
    .page-kids
        //.page-header(style="background-image:url('f/i/bg-about.jpg')")
        .page-header(style="background-image:url('https://image.shutterstock.com/z/stock-photo-baby-background-happy-infant-learn-to-swim-dive-underwater-with-fun-in-pool-to-keep-fit-diving-721076470.jpg')")
            .page-header__inner
                .page-header__title
                    h1 Здоровье и питание
                //.page-header__submenu
                    a(href="#about") О клубе
                    a(href="#gallery") Фотогалерея
        .page-content
            .page-content__main
                .page-content__inner
                  .articles
                    a.articles-item.articles-item_top(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019
                    a.articles-item(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019
                    a.articles-item(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019
                    a.articles-item(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019
                    a.articles-item(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019
                    a.articles-item(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019
                    a.articles-item(href="#")
                        .articles-item__img(style="background-image:url(https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg")
                        .articles-item__content
                            h3.articles-item__title Почему стоит пересесть на горный велосипед
                            p Вы устали ездить по одним и тем же маршрутам в одной и той же группе велосипедистов? Тогда вам стоит включить в план тренировок поездки за город, потому что они не только внесут разнообразие, но и улучшат ваши навыки. Вот несколько причин, почему всем городским велосипедистам пойдут на пользу грунтовые дороги.
                            .articles-item__date 20 ноября 2019

