extends layouts/default

block content
    .page-header(style="background-image:url('f/i/cards.jpg')")
        .page-header__inner
            h1 Клубное членство
            .page-header__submenu
                a(href="#cards") Клубные карты
                a(href="#difference") Сравнение карт
                a(href="#docs") Документы

    .page-content
        .page-content__main.gray-bg#gym
            .page-content__inner
                .page-content__main-section
                    a.back-link(href='join.html') К списку карт
                    h2 Citysport «Утренняя»
                        .card__label(style="color:#F8931D"): span базовая
                    .card
                        .card__info
                            .card__intro
                                .card__intro-row
                                    .card__intro-col
                                        .label Срок действия
                                        p: i 12 месяцев
                                    .card__intro-col
                                        .label Посещение в будни
                                        p: i с 7 до 13
                                .card__intro-row
                                    .card__intro-col
                                        .label Возможность заморозки
                                        p: i 14 дней
                                    .card__intro-col
                                        .label Посещение в выходные
                                        p -

                            .card__description
                                h3 Дополнительные бесплатные услуги и бонусы:
                                ul.list
                                    li 1 персональная тренировка в 
                                        a(href="#") бассейне
                                    li Персональная тренировка в <a href="#">тренажерном зале</a><br>(или 1 персональная тренировка в зале групповых программ)
                                    li <a href="#">Фитнес-консультация</a>
                                    li Предоставление одного полотенца во временное пользование при каждом посещении клуба в течение всего срока действия карты
                                    li Парковка на прилегающей к фитнес клубу территории
                                    li 1 гостевой визит
                                a.btn.btn_second.btn_mobile Забронировать карту
                            
                        .card__sidebar
                            .sticky-block
                                .card__photo(style="background-image:url(f/i/cards/1.jpg)")
                                a.btn.btn_second Забронировать карту
                    
                            

