extends layouts/default

block content
    .page-contacts
        //.page-header(style="background-image:url('f/i/bg-about.jpg')")
        .page-header(style="background-image:url('f/i/bg-b-l-1.jpg')")
            .page-header__inner
                .page-header__title
                    h1 Контакты
        .page-content
            .page-content__main
                .page-content__inner
                    .page-content__main-section
                        h3 Адрес:
                        .address г. Химки мкр. Сходня, улица Микояна дом 10 корп. 6<br>
                            a.show-modal(href="#ways") маршруты
                            |, 
                            a(target="_blank" href="https://yandex.ru/maps/213/moscow/?ll=37.304206%2C55.961078&mode=routes&rtext=55.960012%2C37.306808~55.960959%2C37.303550~55.962231%2C37.302246&rtt=auto&ruri=~~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.302%252C55.962%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F%2520%25D0%25BE%25D0%25B1%25D0%25BB%25D0%25B0%25D1%2581%25D1%2582%25D1%258C%252C%2520%25D0%25A5%25D0%25B8%25D0%25BC%25D0%25BA%25D0%25B8%252C%2520%25D0%25BC%25D0%25B8%25D0%25BA%25D1%2580%25D0%25BE%25D1%2580%25D0%25B0%25D0%25B9%25D0%25BE%25D0%25BD%2520%25D0%25A1%25D1%2585%25D0%25BE%25D0%25B4%25D0%25BD%25D1%258F%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259C%25D0%25B8%25D0%25BA%25D0%25BE%25D1%258F%25D0%25BD%25D0%25B0%252C%252010%25D0%25BA6&via=1&z=16") схема проезда
                        .contacts-cols
                            .contacts-cols__item
                                h3 Ресепшн клуба
                                a.phone(href="")
                                    svg.header-top__info-item-icon(width="16", height="16")
                                        use(xlink:href="#phone")
                                    | 8 (916) 664 0066
                                .time
                                    svg.header-top__info-item-icon(width="16", height="16")
                                        use(xlink:href="#time")
                                    <span>Пн-Пт</span>  7:00 - 00:00<br><span>Сб, Вс</span>  9:00 - 23:00
                            .contacts-cols__item
                                h3 Отдел продаж
                                a.phone(href="")
                                    svg.header-top__info-item-icon(width="16", height="16")
                                        use(xlink:href="#phone")
                                    | 8 (499) 404 0066
                                .time
                                    svg.header-top__info-item-icon(width="16", height="16")
                                        use(xlink:href="#time")
                                    <span>Пн-Вс</span>  1:00 - 22:00
          
                        .contacts-links
                            a.contacts-item(href="http://instagram.com" target="_blank")
                                .contacts-item-icon
                                    svg(width="20", height="20")
                                        use(xlink:href="#instagram")
                                .contacts-item__text city__sport
                            a.contacts-item(href="http://facebook.com" target="_blank")
                                .contacts-item-icon
                                    svg(width="18", height="18")
                                        use(xlink:href="#facebook")
                                .contacts-item__text citysportfitness
                            a.contacts-item(href="http://vk.com" target="_blank")
                                .contacts-item-icon
                                    svg(width="20", height="20")
                                        use(xlink:href="#vk")
                                .contacts-item__text citysportfitness
                            a.contacts-item(hef="#")
                                .contacts-item-icon
                                    svg(width="21", height="21")
                                        use(xlink:href="#email")
                                .contacts-item-text citysport@list.ru

            .map-wrapper
                iframe(src="https://yandex.ru/map-widget/v1/-/CGT3JSjf" width="100%" height="440" frameborder="1" allowfullscreen="true")
                .section-feedback
                    h3 Сообщение
                    form#feedback-form(action="mail.php" method="POST" data-parsley-validate)
                        .section-feedback__form
                            .section-feedback__fields
                                .section-feedback__field
                                    input.input(type="text" name="name" placeholder="Имя" required)
                                .section-feedback__field
                                    input.input(type="email" placeholder="Email" name="contacts" required)
                            .section-feedback__field
                                textarea.input(name="message" placeholder="Сообщение" required rows="1")
                        input.btn(type="submit" value="Отправить")

