extends layouts/default

block content
    .mainpage-slider
        .mainpage-slider__item.mainpage-slider__item_left.mainpage-slide.mainpage-slide_23feb(style="background-image:url('f/i/bg-23feb.jpg')")
            .mainpage-slide__inner
                a.mainpage-slide__link(href="#")
                    .mainpage-slide__text
                        h6 до 29 февраля
                        h2
                            img(src="f/i/discount23.svg")
                        h3 на весь год
                        p не является публичной офертой
        //.mainpage-slider__item.mainpage-slider__item_left(style="background-image:url('f/i/banner-ny2020.jpg')")
            .mainpage-slider__inner
                a(href="#")
                    h2(style="color:#fd0107") В новый год с подарками
                    p(style="background:#F23739; color: #fff") Золотая карта - 22.900 + подарки
        //.mainpage-slider__item.mainpage-slider__item_left(style="background-image:url('f/i/banner-ny2020.jpg')")
            .mainpage-slider__inner
                a(href="#")
                    h2(style="color:#fd0107") В новый год с подарками
                    img(src="f/i/title-2.png")
    .section-links
        .section-links__inner
            .swiper-container
                .swiper-wrapper.section-links__slider
                    a.section-links__item.swiper-slide(href="#")
                        .section-links__item-bg(style="background-image:url('f/i/bg-b-l-1.jpg')")
                        .section-links__item-title 
                            .section-links__item-title-bg
                            .section-links__item-title-text Здоровье и питание
                    a.section-links__item.swiper-slide(href="#")
                        .section-links__item-bg(style="background-image:url('f/i/spa-1.jpg')")
                        .section-links__item-title
                            .section-links__item-title-bg
                            .section-links__item-title-text SPA
                    a.section-links__item.swiper-slide(href="#")
                        .section-links__item-bg(style="background-image:url('f/i/child-1.jpg')")
                        .section-links__item-title
                            .section-links__item-title-bg
                            .section-links__item-title-text Персональный тренинг
                    a.section-links__item.swiper-slide(href="#")
                        .section-links__item-bg(style="background-image:url('f/i/bg-b-l-1.jpg')")
                        .section-links__item-title 
                            .section-links__item-title-bg
                            .section-links__item-title-text Outdoor
                    a.section-links__item.swiper-slide(href="#")
                        .section-links__item-bg(style="background-image:url('f/i/spa-1.jpg')")
                        .section-links__item-title
                            .section-links__item-title-bg
                            .section-links__item-title-text Групповые программы
                    a.section-links__item.swiper-slide(href="#" title="Детям")
                        .section-links__item-bg(style="background-image:url('f/i/child-1.jpg')")
                        .section-links__item-title
                            .section-links__item-title-bg
                            .section-links__item-title-text Детям
                // Add Arrows
                //.swiper-button-prev.section-links__slider-before
                //.swiper-button-next.section-links__slider-after

    .section-offer.section-offer__text-mobile
        .section-offer__inner 
            a.section-offer__text.section-offer__text_right.section-offer__text-mobile(href="#")
                .section-offer__text_content
                    h4 Заказать обратный звонок
                    p Позвоним в удобное время и проконсультируем
                svg.section-offer__icon(width="60", height="60")
                   use(xlink:href="#callback")

    .section-news
        .section-news__inner
            .section-news__content
                    .section-news__col
                        a.section-news__title(href="#") 
                            h3 Новости
                        .last-news
                            a.last-news__item(href="#")
                                .last-news__item-text 
                                    h4 Подарок с «мужским характером» уже можно приобрести в CitySport!
                                    p Рады сообщить о старте нового направления «ФУТБОЛ» для детей от 3 лет! Занятия бесплатны для держателей клубных карт.
                                .last-news__item-date <span>15</span> сентября 2019
                    .section-news__col
                        a.section-news__title(href="#") 
                            h3 События
                        .last-news
                            a.last-news__item(href="#")
                                .last-news__item-text 
                                    h4 Футбол в CitySport!
                                    p Рады сообщить о старте нового направления «ФУТБОЛ» для детей от 3 лет! Занятия бесплатны для держателей клубных карт.
                                .last-news__item-date <span>15</span> сентября 2019
    .section-offer
        .section-offer__inner 
            a.section-offer__text.section-offer__text_left.section-offer__text-mobile.show-modal(href="#guest")
                svg.section-offer__icon(width="60", height="60")
                        use(xlink:href="#time")
                .section-offer__text_content
                    h4 Записаться на гостевой визит
                    p Выберите дату и время для ознакомления
            .section-offer__text-forhover.section-offer__text-forhover_left
            img.section-offer__image(src="f/i/people.png" alt="")
            .section-offer__text-forhover.section-offer__text-forhover_right
            a.section-offer__text.section-offer__text_right.show-modal(href="#callmeback")
                .section-offer__text_content
                    h4 Заказать обратный звонок
                    p Позвоним в удобное время и проконсультируем
                svg.section-offer__icon(width="60", height="60")
                   use(xlink:href="#callback")


    .section-tour
        a.section-tour__item(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/tour-1-1.jpg')")
            .section-tour__item-text 
                h4 Тренажерный зал 
                p Основной и ключевой зоной каждого фитнес-клуба является тренажерный зал. В нашем тренажерном зале есть все, что необходимо для полноценных тренировок даже самым требовательным атлетам: несколько скамей для жима, машина смита, кроссовер, гравитрон, зона для работы со свободными весами, полноценный гантельный ряд и многое другое!        
        a.section-tour__item(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/aqua-1.jpg')")
            .section-tour__item-text 
                h4 Аква-зона
                p Главной особенностью аква-зоны является уникальная панорамная конструкция купола   
        a.section-tour__item.section-tour__item_rev(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/fight-1-1.jpg')")
            .section-tour__item-text 
                h4 Зал единоборств
                p Защитные маты на полу и стенах обеспечивают максимальный уровень безопасности тренировок
        a.section-tour__item.section-tour__item_rev(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/cardio-1.jpg')")
            .section-tour__item-text 
                h4 Кардио зона
                p Защитные маты на полу и стенах обеспечивают максимальный уровень безопасности тренировок
        a.section-tour__item.section-tour__item_rev(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/groups-1.jpg')")
            .section-tour__item-text 
                h4 Зал групповых занятий
                p Современное оборудование от ведущих лидеров в области спортивных товаров. На обширной территории спортивного комплекса нашлось место для передовых технологий и ненавязчивого уюта.
        a.section-tour__item(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/spa-1.jpg')")
            .section-tour__item-text 
                h4 SPA
                p Современное оборудование от ведущих лидеров в области спортивных товаров. На обширной территории спортивного комплекса нашлось место для передовых технологий и ненавязчивого уюта.
            
        a.section-tour__item(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/aqua-1.jpg')")
            .section-tour__item-text 
                h4 Банный комплекс
                p Главной особенностью аква-зоня является уникальная панорамная конструкция купола

        a.section-tour__item.section-tour__item_rev(href="#")
            .section-tour__item-image
                .section-tour__item-img(style="background-image:url('f/i/child-2.jpg')")
            .section-tour__item-text 
                h4 Детский клуб
                p Защитные маты на полу и стенах обеспечивают максимальный уровень безопасности тренировок
            
