extends layouts/default

block content
    .page-header(style="background-image:url('f/i/cards.jpg')")
        .page-header__inner
            h1 Клубное членство
            .page-header__submenu
                a(href="#cards") Клубные карты
                a(href="#difference") Сравнение карт
                a(href="#docs") Документы
    .page-content
        .page-content__main.gray-bg#cards
            .page-content__inner
                .page-content__main-section
                    .page-content__main-title
                        h2 Клубные карты
                        .viewmode-toggle 
                            .viewmode-toggle__label показывать
                            a.viewmode-toggle__list.active(href="list" title="Список")
                                svg.viewmode-toggle__icon(width="21", height="21")
                                    use(xlink:href="#view-list")
                            a.viewmode-toggle__grid(href="grid" title="Плитка")
                                svg.viewmode-toggle__icon(width="21", height="21")
                                    use(xlink:href="#view-grid")
                    .cards-list.list-view
                        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                            .cards-list__item.flipper
                                .flipper-card(style="color: #F8931D")
                                    .flipper-front(style="background-image:url(f/i/cards/"+val+".jpg)")
                                    .flipper-back
                                        .cards-list__item-section.hide-in-list
                                            a.dotted.more-info(href="card.html") Узнать больше
                                        .cards-list__item-section
                                            .cards-list__item-section-item
                                                .label будни
                                                p <i>с 7 до 13</i>
                                            .cards-list__item-section-item
                                                .label выходные
                                                p <i>-</i>
                                        .cards-list__item-section.wide.hide-in-grid 
                                            .label дополнительно
                                            ul
                                                li <i>2</i> персональные тренировки
                                                li фитнес-консультация
                                                li <i>1</i> гостевой визит
                                                li ...
                                        .cards-list__item-section.cards-list__item-section_basic
                                            .cards-list__item-section-item.t-right
                                                .label Срок действия
                                                p <i>12 месяцев</i>
                                                .label <i>14</i> дней заморозки
                                            .cards-list__item-section-item
                                                .cards-list__item-category: span базовые
                                                h3.hide-in-list Утренняя
                                                
                                       

        .page-content__main.white-bg#difference
                .page-content__inner
                    .page-content__main-section
                        .page-content__main-title
                            h2 Сравнение карт
                        .table-wrapper.difference
                            table.fl-table
                                thead
                                    tr
                                        th Вид карты
                                        th Время посещения
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="Тренажерный зал")
                                                use(xlink:href="#diet")
                                        th 
                                            svg.fl-table__icon(width="36", height="36" title="Аква-зона")
                                                use(xlink:href="#massage")
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="Зал единоборств")
                                                use(xlink:href="#box")
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="Кардио-зона")
                                                use(xlink:href="#cardio")
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="Зал групповых занятий")
                                                use(xlink:href="#people")
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="СПА")
                                                use(xlink:href="#leafs")
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="Банный комплекс")
                                                use(xlink:href="#fog")
                                        th
                                            svg.fl-table__icon(width="32", height="32" title="Детский клуб")
                                                use(xlink:href="#child")
                                                    title тест
                                        th Дополнительно
                                        th Выбрать
                                tbody
                                    tr
                                        td Утренняя
                                        td будни 7:00 до 13:00 
                                        td.checked
                                        td.checked
                                        td.checked 
                                        td.checked 
                                        td.checked 
                                        td -  
                                        td.checked 
                                        td.checked 
                                        td 
                                            a(href="#") 14 бонусов
                                        td.like
                                            a(href="#")
                                    tr
                                        td Дневная
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Лимит
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Тест драйв
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Золотая
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Платиновая
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Детская
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Мама+малыш
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                    tr
                                        td Мама+малым premium
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
                                        td  2
        .page-content__main#docs
                .page-content__inner
                    .page-content__main-section
                        .page-content__main-title
                            h2 Документы
                        .docs-list
                            a.docs-list__item(href="#")
                                .docs-list__item-title Шаблон договора
                                .docs-list__item-format DOCX (2мб)
                                .docs-list__item-download скачать
                            a.docs-list__item(href="#")
                                .docs-list__item-title Правила посещения клуба
                                .docs-list__item-format PDF (8мб)
                                .docs-list__item-download скачать