extends layouts/default

block content
    .page-kids
        //.page-header(style="background-image:url('f/i/bg-about.jpg')")
        .page-header(style="background-image:url('https://image.shutterstock.com/z/stock-photo-baby-background-happy-infant-learn-to-swim-dive-underwater-with-fun-in-pool-to-keep-fit-diving-721076470.jpg')")
            .page-header__inner
                .page-header__title
                    h1 Дети
                    .breadcrumbs
                        a.breadcrumbs__item(href="#") Дети
                        .breadcrumbs__arrow ›
                        a.breadcrumbs__item(href="#") Секции
                //.page-header__submenu
                    a(href="#about") О клубе
                    a(href="#gallery") Фотогалерея
        .page-content
            .page-content__main.with-sidebar#about
                .page-content__inner
                    .page-content__main-section.page-content__main-section_padding
                        p Новый проект в г.Химки в сфере фитнес индустрии. Семейный фитнес центр "City Sport" предлагает своим клиентам полный комплекс wellness-программ, групповой и индивидуальный тренинг, комфортный тренажёрный зал, отдельная кардиозона, широкий спектр групповых программ, детский и взрослый бассейн, две сауны, детский клуб,  SPA-услуги, фитнес бар и многое другое. Тренажёрный зал полностью укомплектован тренажерами марки FOREMAN и HOIST, одними из лидеров на рынке среди коммерческих тренажёров.
                        form.form-wrapper
                            h2 Оставить заявку
                            .input-wrapper
                                input.input(placeholder="Имя")
                            .input-wrapper
                                input.input(placeholder="Возраст ребенка")
                            .input-wrapper
                                input.input(placeholder="Телефон")
                            input.btn(type="submit" value="Отправить")
                .page-content__main-section
                    .page-content__inner
                        .section-links.bottom
                            a.section-links__item.show-modal(href="#flipbook")
                                .section-links__item-bg(style="background-image:url('https://image.shutterstock.com/z/stock-photo-laughing-preteen-kids-posing-with-sport-equipment-1309879342.jpg')")
                                .section-links__item-title 
                                    .section-links__item-title-bg
                                    .section-links__item-title-text Секции
                            a.section-links__item(href="join.html")
                                .section-links__item-bg(style="background-image:url('f/i/cards.jpg')")
                                .section-links__item-title 
                                    .section-links__item-title-bg
                                    .section-links__item-title-text Развивающие группы
                            a.section-links__item(href="contacts.html")
                                .section-links__item-bg(style="background-image:url('f/i/bg-about.jpg')")
                                .section-links__item-title 
                                    .section-links__item-title-bg
                                    .section-links__item-title-text Лагерь
                            a.section-links__item.show-modal(href="#flipbook")
                                .section-links__item-bg(style="background-image:url('f/i/bg-b-l-1.jpg')")
                                .section-links__item-title 
                                    .section-links__item-title-bg
                                    .section-links__item-title-text Детская комната
                            a.section-links__item(href="join.html")
                                .section-links__item-bg(style="background-image:url('f/i/cards.jpg')")
                                .section-links__item-title 
                                    .section-links__item-title-bg
                                    .section-links__item-title-text Грудничковое плаванье
                            a.section-links__item(href="contacts.html")
                                .section-links__item-bg(style="background-image:url('f/i/bg-about.jpg')")
                                .section-links__item-title 
                                    .section-links__item-title-bg
                                    .section-links__item-title-text Детское расписание
                                    
