extends layouts/default

block content
    .page-header(style="background-image:url('f/i/bg-b-l-1.jpg')")
        .page-header__inner
            .page-header__title
                h1 Команда
            .page-header__submenu
                a(href="#gym") Тренажерный зал
                a(href="#pool") Бассейн
                a(href="#") Детский клуб
                a(href="#") Массаж
    .page-content
        .page-content__main.gray-bg#gym
            .page-content__inner
                .page-content__main-section
                    a.back-link(href='team.html') К списку тренеров
                    h2 ШКУТЯК ЯРОСЛАВ
                    .team-person__subtitle Персональный тренер тренажёрного зала<br>Тренер по Кикбоксингу
                    .team-person
                        .team-person__info
                            .team-person__description
                                p FFA (Федерация фитнеса и аэробики) по направлению Инструктор тренажерного зала. Сертифицированный тренер по работе с беременными. Опыт работы 2 года. Самостоятельный тренинг 5 лет. КМС по Кикбоксингу. Призер России по Кикбоксингу. 
                                p FFA (Федерация фитнеса и аэробики) по направлению Инструктор тренажерного зала. Сертифицированный тренер по работе с беременными. Опыт работы 2 года. Самостоятельный тренинг 5 лет. КМС по Кикбоксингу. Призер России по Кикбоксингу. 
                            a.btn(href="#") Записаться на пробное занятие
                        .team-person__photo(style="background-image:url('f/i/team-1.jpg')")

                    
                            

