extends layouts/default

block content
    .page-header(style="background-image:url('f/i/bg-b-l-1.jpg')")
        .page-header__inner
            .page-header__title
                h1 Команда
            .page-header__submenu
                a(href="#gym") Тренажерный зал
                a(href="#pool") Бассейн
                a(href="#") Детский клуб
                a(href="#") Массаж
    .page-content
        .page-content__main.gray-bg#gym
            .page-content__inner
                .page-content__main-section
                    .page-content__main-title
                        h2 Тренажерный зал
                    .team.grid-view
                        each val in [1, 2, 3, 4, 5, 6, 7, 8]
                            a.team-item(href="team-item.html")
                                .team-item__photo(style="background-image:url('f/i/team-1.jpg')")
                                .team-item__text
                                    .team-item__name Шкутяк Ярослав
                                    .team-item__subtitle Старший тренер
                        a.team-item(href="team-item.html")
                                .team-item__photo(style="background-image:url('f/i/userpic.png')")
                                .team-item__text
                                    .team-item__name Шкутяк Ярослав
                                    .team-item__subtitle Старший тренер
        
        .page-content__main.white-bg#pool
            .page-content__inner
                .page-content__main-section
                    .page-content__main-title
                        h2 Бассейн
                    .team.grid-view
                        each val in [1, 2, 3, 4]
                            a.team-item(href="team-item.html")
                                .team-item__photo(style="background-image:url('f/i/team-1.jpg')")
                                .team-item__text
                                    .team-item__name Шкутяк Ярослав
                                    .team-item__subtitle Старший тренер
                        
                            

