extends layouts/default

block content
    .page-header(style="background-image:url('f/i/bg-b-l-1.jpg')")
        .page-header__inner
            .page-header__title
                h1 Расписание
                p Взрослым
            .page-header__side
                .page-header__submenu
                    a.sublevel(href="#") Взрослым
                    a.sublevel(href="#") Детям
                    a.sublevel(href="#") Мама + малыш
                    a.sublevel(href="#") Секции
                    a.sublevel(href="#") Студия Unicorn
                .page-header__filter
                    .page-header__filter-title Фильтр: 
                    select
                        option(selected disabled) Направление
                        option Все
                        option Бассейн
                        option Групповые
                        option Единоборства
                        option Mind & body
                        option Мама + малыш
                        option Детские развивающие
                        option Секционные

                    select
                        option Тренер
                    select
                        option(selected disabled) Возраст
                        option Все
                        option взрослые
                        option 9-12
                        option 6-8
                        option 3-5
                        option 0-2

    .page-content.timetable-container
        .page-content__main.timetable
            .table-wrapper
                table.fl-table
                    thead
                        //tr.timetable-legend-wrapper
                            th(colspan="8")
                                .timetable-legend
                                    .timetable-legend__item
                                        svg(width="20", height="20")
                                            use(xlink:href="#gym")
                                        .timetable-legend__item-title тренажерный зал
                                    .timetable-legend__item
                                        svg(width="20", height="20")
                                            use(xlink:href="#people")
                                        .timetable-legend__item-title групповой зал
                                    .timetable-legend__item
                                        svg(width="20", height="20")
                                            use(xlink:href="#box")
                                        .timetable-legend__item-title зал единоборств
                                    .timetable-legend__item
                                        svg(width="20", height="20")
                                            use(xlink:href="#swim")
                                        .timetable-legend__item-title бассейн
                                    .timetable-legend__item
                                        svg(width="20", height="20")
                                            use(xlink:href="#child")
                                        .timetable-legend__item-title детский клуб
                                    .timetable-legend__item
                                        svg(width="20", height="20")
                                            use(xlink:href="#tree")
                                        .timetable-legend__item-title улица
                        tr
                            th
                                svg.timetable__icon(width="32", height="32")
                                    use(xlink:href="#calend")
                            th Понедельник
                            th Вторник
                            th Среда
                            th Четверг
                            th Пятница
                            th Суббота
                            th Воскресенье
                    tbody
                        tr
                            td 9:00
                            td 
                            td
                            td
                            td 
                            td 
                            td 
                            td 
                        tr
                            td 9:30
                            td 
                            td
                            td
                            td
                                .timetable-event
                                    .timetable-event__top
                                        a.timetable-event__type(href="#")
                                            svg(width="20", height="20")
                                                use(xlink:href="#gym")
                                            | тренажерный зал
                                        a.timetable-event__title.show-modal(href="#class-1") Миосфитнес модалка
                                    a.timetable-event__lead(href="http://ya.ru")
                                        .timetable-event__lead-photo(style="background-image:url('f/i/team-1.jpg')")
                                        .timetable-event__lead-name Шкутяк Ярослав
                                    .timetable-event__time 9:30 - 11:00
                                    
                                .timetable-event
                                    .timetable-event__top
                                        a.timetable-event__type(href="#")
                                            svg(width="20", height="20")
                                                use(xlink:href="#people")
                                            | групповой зал
                                        a.timetable-event__title(href="#") Миосфитнес
                                        .timetable-event__subtitle 4+

                                    a.timetable-event__lead(href="#")
                                        .timetable-event__lead-photo(style="background-image:url('f/i/team-1.jpg')")
                                        .timetable-event__lead-name Анастасия
                                    .timetable-event__time 9:30 - 11:00
                                    .timetable-event__price
                                        b.price-sign $ 
                                        | платное занятие
                                    .timetable-event__booking
                                        svg(width="12", height="12")
                                            use(xlink:href="#phone")
                                        | требуется запись
                                    
                            td 
                            td 
                            td 
                            
                        tr
                            td 10:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td 
                        tr
                            td 10:30
                            td  
                            td  
                            td  
                                .timetable-event
                                    .timetable-event__top
                                        a.timetable-event__type(href="#")
                                            svg(width="21", height="21")
                                                use(xlink:href="#box")
                                            | зал единоборств
                                        a.timetable-event__title(href="#") Миосфитнес
                                    a.timetable-event__lead(href="#")
                                        .timetable-event__lead-photo(style="background-image:url('f/i/team-1.jpg')")
                                        .timetable-event__lead-name Шкутяк Ярослав
                                    .timetable-event__time 9:30 - 11:00
                                    
                            td  
                            td  
                            td  
                            td 
                        tr
                            td 11:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 11:30
                            td  
                            td  
                            td  
                            td  
                                .timetable-event
                                    .timetable-event__top
                                        a.timetable-event__type(href="#")
                                            svg(width="21", height="21")
                                                use(xlink:href="#swim")
                                            | бассейн
                                        a.timetable-event__title(href="#") Миосфитнес
                                    a.timetable-event__lead(href="#")
                                        .timetable-event__lead-photo(style="background-image:url('f/i/team-1.jpg')")
                                        .timetable-event__lead-name Шкутяк Ярослав
                                    .timetable-event__time 9:30 - 11:00
                                    
                            td  
                            td  
                            td
                        tr
                            td 12:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 12:30
                            td  
                            td  
                            td  
                            td  
                                .timetable-event
                                    .timetable-event__top
                                        a.timetable-event__type(href="#")
                                            svg(width="21", height="21")
                                                use(xlink:href="#tree")
                                            | на улице
                                        a.timetable-event__title(href="#") Миосфитнес
                                    a.timetable-event__lead(href="#")
                                        .timetable-event__lead-photo(style="background-image:url('f/i/team-1.jpg')")
                                        .timetable-event__lead-name Шкутяк Ярослав
                                    .timetable-event__time 9:30 - 11:00
                                    
                            td  
                            td  
                            td
                        tr
                            td 13:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 13:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 14:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                                .timetable-event
                                    .timetable-event__top
                                        a.timetable-event__type(href="#")
                                            svg(width="21", height="21")
                                                use(xlink:href="#child")
                                            | детский клуб
                                        a.timetable-event__title(href="#") Миосфитнес
                                    a.timetable-event__lead(href="#")
                                        .timetable-event__lead-photo(style="background-image:url('f/i/team-1.jpg')")
                                        .timetable-event__lead-name Шкутяк Ярослав
                                    .timetable-event__time 9:30 - 11:00
                                    
                            td
                        tr
                            td 14:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                            td
                        tr
                            td 15:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                            td
                        tr
                            td 15:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                            td
                        tr
                            td 16:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 16:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 17:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 17:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 18:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 18:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 19:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 19:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 20:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 20:30
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td
                        tr
                            td 21:00
                            td  
                            td  
                            td  
                            td  
                            td  
                            td  
                            td


    .modal.modal-classes#class-1
        .modal__close
             svg(width="20", height="20")
                use(xlink:href="#close")
        .modal__content
            h3 МИОСФИТНЕС
            p Сross-Training( 55 мин)интенсивная тренировка, включающая в себя элементы тяжелой атлетики, пауэрлифтинга, гиревого спорта, стронгмена, бега. Занимаясь кросс-тренингом можно развиваться физически неограниченно, прокачивая все группы мышц. Программа тренировок для каждого отдельного человека подбирается сугубо индивидуально, в зависимости от степени физической подготовки.