doctype html
html
	block head
		include head
	block style
	if workUrl
		link(href=workUrl, rel="stylesheet", type="text/css")
	block vars
	body(class=bodyClass)
		.iconset
			include icons.html

		.page-wrapper
			block header
				include header

			.main-content
				block content

		block footer
			include footer
		
		block modals
			include modals

		block foot
			include foot

