.footer(style="background-image:url('f/i/bg1.jpg')")
    .footer__overlay
    .footer__inner
        img.footer__logo(src="f/i/logo.svg")
        .footer__cols
            .footer__col
                .footer__col-item
                    svg.footer__col-item-icon(width="24", height="30")
                        use(xlink:href="#pin")
                    p  г. Химки мкр. Сходня
                    p улица Микояна дом 10 корп. 6
                .footer__col-item
                    svg.footer__col-item-icon(width="24", height="24")
                        use(xlink:href="#time")
                    p Пн-Пт  7:00 - 00:00
                    p Сб-Вс  9:00 - 23:00
                    p отдел продаж 10:00 - 22:00
            .footer__col
                .footer__col-item
                    .footer__map(style="background-image:url('f/i/map.png')")

            .footer__col
                .footer__col-item
                    svg.footer__col-item-icon(width="22", height="22")
                        use(xlink:href="#phone")
                    a.footer__col-item-link(href="tel:+79166640066") +7 (916) 664 0066
                    a.footer__col-item-link(href="tel:+74994040066") +7 (499) 404 0066
                .footer__col-item
                    svg.footer__col-item-icon.footer__col-item-icon_email(width="21", height="21")
                        use(xlink:href="#email")
                    a.footer__col-item-link(href="#") CITYSPORT@LIST.RU
                .footer__col-item.footer__col-item_soc
                    a.footer__social(href="http://instagram.com" target="_blank")
                        svg.footer__social-icon(width="20", height="20")
                            use(xlink:href="#instagram")
                    a.footer__social(href="http://facebook.com" target="_blank")
                        svg.footer__social-icon(width="18", height="18")
                            use(xlink:href="#facebook")
                    a.footer__social(href="http://vk.com" target="_blank")
                        svg.footer__social-icon(width="20", height="20")
                            use(xlink:href="#vk")
                .footer__col-item
                    a.footer__app(href="https://apps.apple.com/ru/app/city-sport/id1058027633")
                        img(src="f/i/ios.svg")
                    a.footer__app(href="https://play.google.com/store/apps/details?id=com.itrack.citysport966727")
                        img(src="f/i/android.svg")
                            
        ul.footer-menu__list
            li.footer-menu__list-item: a.footer-menu__link(href="#") Наш клуб
            li.footer-menu__list-item: a.footer-menu__link(href="#") Клубное членство
            li.footer-menu__list-item: a.footer-menu__link(href="#") Расписание
            li.footer-menu__list-item: a.footer-menu__link(href="#") Команда
            li.footer-menu__list-item: a.footer-menu__link(href="#") Дети
            li.footer-menu__list-item: a.footer-menu__link(href="#") Контакты
            li.footer-menu__list-item: a.footer-menu__link(href="#") Здоровье и питание
            li.footer-menu__list-item: a.footer-menu__link(href="#") SPA-салон
            li.footer-menu__list-item: a.footer-menu__link(href="#") Персональный тренинг
            li.footer-menu__list-item: a.footer-menu__link(href="#") Групповые программы
            li.footer-menu__list-item: a.footer-menu__link(href="#") Outdoor
            li.footer-menu__list-item: a.footer-menu__link(href="#") Новости
    
