head
	meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(content="", name="Description")
	meta(content="", name="Keywords")
	meta(content="yes", name="apple-mobile-web-app-capable")
	meta(name="HandheldFriendly", content="true")
	//meta(name="format-detection" content="telephone=no")
	//meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")

	title CitySport
	link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
	link(href="f/css/libs.css", rel="stylesheet", type="text/css")
	link(href="f/css/main.css", rel="stylesheet", type="text/css")

	//script(src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8")
	//script(src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8")
	//script(src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8")
	//script(src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8")
	
