.header
    .header__inner
        a.header__logo(href="/")
                img.header__logo-image(src="f/i/logo.svg")
                img.header__logo-image.header__logo-image_mobile(src="f/i/logo.png")
                .header__logo-text семейный фитнес-центр
        .header-top
            .header-top__info
                .header-top__info-section
                    svg.header-top__info-item-icon(width="16", height="16")
                        use(xlink:href="#phone")
                    a.header-top__info-item(href="tel:+79166640066") +7 (916) 664 0066
                    a.header-top__info-item(href="tel:+74994040066") +7 (499) 404 0066
                .header-top__info-section.header-top__info-section_time
                    svg.header-top__info-item-icon(width="17", height="17")
                        use(xlink:href="#time")
                    .header-top__info-item пн-пт 7:00 - 00:00
                    .header-top__info-item сб-вт 9:00 - 23:00
                .header-top__info-section
                    a.header-top__info-item(href="http://instagram.com" target="_blank")
                        svg.header-top__info-item-icon(width="20", height="20")
                            use(xlink:href="#instagram")
                    a.header-top__info-item(href="http://facebook.com" target="_blank")
                        svg.header-top__info-item-icon(width="18", height="18")
                            use(xlink:href="#facebook")
                    a.header-top__info-item(href="http://vk.com" target="_blank")
                        svg.header-top__info-item-icon(width="20", height="20")
                            use(xlink:href="#vk")

            .header-top-menu
                .header-top-menu__mobile
                    .header-top-menu__mobile-col
                         a.header-top-menu__mobile-link(href="tel:+74994040066")
                            svg.header-top-menu__mobile-icon(width="16", height="16")
                                use(xlink:href="#phone")
                            | +7 (499) 404 0066
                    .header-top-menu__mobile-col
                        a.header-top-menu__mobile-link(href="http://instagram.com" target="_blank")
                            svg.header-top-menu__mobile-icon(width="20", height="20")
                                use(xlink:href="#instagram")
                        a.header-top-menu__mobile-link(href="http://facebook.com" target="_blank")
                            svg.header-top-menu__mobile-icon(width="18", height="18")
                                use(xlink:href="#facebook")
                        a.header-top-menu__mobile-link(href="http://vk.com" target="_blank")
                            svg.header-top-menu__mobile-icon(width="20", height="20")
                                use(xlink:href="#vk")
                    a.hamburger.hamburger--slider(href="#")
                        .hamburger-box
                            .hamburger-inner


                ul.header-top-menu__list
                    li.header-top-menu__list-item
                        a.header-top-menu__link.dropdown-toggle(href="about.html") Наш клуб
                        ul.header-top-menu__list.dropdown-menu
                            li.header-top-menu__list-item: a.header-top-menu__link(href="about.html#about") О клубе
                            li.header-top-menu__list-item: a.header-top-menu__link(href="about.html#gallery") Фотогалерея
                    li.header-top-menu__list-item
                        a.header-top-menu__link.dropdown-toggle(href="join.html") Клубное членство
                        ul.header-top-menu__list.dropdown-menu
                            li.header-top-menu__list-item: a.header-top-menu__link(href="about.html#about") О клубе
                            li.header-top-menu__list-item: a.header-top-menu__link(href="about.html#gallery") Фотогалерея
                    li.header-top-menu__list-item: a.header-top-menu__link(href="timetable.html") Расписание
                    li.header-top-menu__list-item: a.header-top-menu__link(href="team.html") Команда
                    li.header-top-menu__list-item: a.header-top-menu__link(href="kids.html") Дети
                    li.header-top-menu__list-item: a.header-top-menu__link(href="contacts.html") Контакты
                    li.header-top-menu__list-item
                        a.header-top-menu__link.dropdown-toggle.more(href="#") ...
                        ul.header-top-menu__list.dropdown-menu
                            li.header-top-menu__list-item: a.header-top-menu__link(href="#") SPA
                            li.header-top-menu__list-item
                                a.header-top-menu__link(href="#") 
                                    span Здоровье и питание
                            li.header-top-menu__list-item: a.header-top-menu__link(href="#") Персональный тренинг
                            li.header-top-menu__list-item: a.header-top-menu__link(href="#") Групповые программы
                            li.header-top-menu__list-item: a.header-top-menu__link(href="#") Outdoor
                            li.header-top-menu__list-item: a.header-top-menu__link(href="#") Новости
.mobile-menu
    .mobile-menu__inner
        ul.mobile-menu__list
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Наш клуб
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Клубное членство
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Расписание
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Команда
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Дети
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Контакты
            li.mobile-menu__list-item.dropdown-toggle: a.mobile-menu__link(href="#") ...
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Здоровье и питание
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") SPA
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Персональный тренинг
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Групповые программы
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Outdoor
            li.mobile-menu__list-item: a.mobile-menu__link(href="#") Новости
        .mobile-menu__contacts
            .mobile-menu-col
                p  г. Химки мкр. Сходня
                p улица Микояна дом 10 корп. 6
            .mobile-menu-col
                p Пн-Пт 7:00 - 00:00 
                p Сб-Вс 9:00 - 23:00 
                p отдел продаж 10:00 - 22:00
            .mobile-menu-col
                    a.mobile-menu-link(href="tel:+74994040066")
                        svg.mobile-menu-icon(width="16", height="16")
                            use(xlink:href="#phone")
                        | +7 (499) 404 0066
            .mobile-menu-col
                a.mobile-menu-link(href="http://instagram.com" target="_blank")
                    svg.mobile-menu-icon(width="20", height="20")
                        use(xlink:href="#instagram")
                a.mobile-menu-link(href="http://facebook.com" target="_blank")
                    svg.mobile-menu-icon(width="18", height="18")
                        use(xlink:href="#facebook")
                a.mobile-menu-link(href="http://vk.com" target="_blank")
                    svg.mobile-menu-icon(width="20", height="20")
                        use(xlink:href="#vk")


