<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="arrow-down" viewBox="0 0 31 17">
			<path d="M2 2L15.5 15.5L29 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		</symbol>
		<symbol id="arrow-right" viewBox="0 0 306 306">
			<polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153 		"/>
		</symbol>
		<symbol id="pin" viewBox="0 0 22 26">
				<path d="M18.2259 3.65897C16.3006 1.73367 13.7336 0.664062 11.0001 0.664062C8.26669 0.664062 5.7115 1.72179 3.77432 3.65897C-0.207 7.64029 -0.207 14.1174 3.77432 18.1106L11.0001 25.3364L18.2259 18.1106C22.2073 14.1293 22.2073 7.65218 18.2259 3.65897ZM16.9662 16.8508L11.0001 22.8169L5.03409 16.8508C1.74208 13.5588 1.74208 8.21075 5.03409 4.91873C6.62662 3.3262 8.74207 2.44675 11.0001 2.44675C13.2582 2.44675 15.3736 3.3262 16.9662 4.91873C18.5587 6.51126 19.4263 8.62671 19.4263 10.8848C19.4263 13.1428 18.5587 15.2583 16.9662 16.8508Z" />
				<path d="M11 6.57031C8.61126 6.57031 6.67407 8.50749 6.67407 10.8963C6.67407 13.2851 8.61126 15.2223 11 15.2223C13.3888 15.2223 15.326 13.2851 15.326 10.8963C15.326 8.50749 13.3888 6.57031 11 6.57031ZM11 13.4277C9.59767 13.4277 8.45675 12.2868 8.45675 10.8844C8.45675 9.48203 9.59767 8.34111 11 8.34111C12.4024 8.34111 13.5433 9.48203 13.5433 10.8844C13.5433 12.2868 12.4024 13.4277 11 13.4277Z"  />
		</symbol>
		<symbol id="instagram" viewBox="0 0 24 24">
			<path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
		</symbol>
		<symbol id="facebook" viewBox="0 0 96.124 96.123">
			<path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
		c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
		c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
		c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
		</symbol>
		<symbol id="vk" viewBox="0 0 96.496 96.496">
			<path d="M92.499,65.178c-2.873-3.446-6.254-6.387-9.453-9.51c-2.886-2.815-3.068-4.448-0.748-7.697
		c2.532-3.546,5.255-6.956,7.81-10.486c2.385-3.299,4.823-6.589,6.078-10.539c0.796-2.513,0.092-3.623-2.485-4.063
		c-0.444-0.077-0.903-0.081-1.355-0.081l-15.289-0.018c-1.883-0.028-2.924,0.793-3.59,2.462c-0.899,2.256-1.826,4.51-2.897,6.687
		c-2.43,4.936-5.144,9.707-8.949,13.747c-0.839,0.891-1.767,2.017-3.169,1.553c-1.754-0.64-2.271-3.53-2.242-4.507l-0.015-17.647
		c-0.34-2.521-0.899-3.645-3.402-4.135l-15.882,0.003c-2.12,0-3.183,0.819-4.315,2.145c-0.653,0.766-0.85,1.263,0.492,1.517
		c2.636,0.5,4.121,2.206,4.515,4.849c0.632,4.223,0.588,8.463,0.224,12.703c-0.107,1.238-0.32,2.473-0.811,3.629
		c-0.768,1.817-2.008,2.187-3.637,1.069c-1.475-1.012-2.511-2.44-3.525-3.874c-3.809-5.382-6.848-11.186-9.326-17.285
		c-0.716-1.762-1.951-2.83-3.818-2.859c-4.587-0.073-9.175-0.085-13.762,0.004c-2.76,0.052-3.583,1.392-2.459,3.894
		c4.996,11.113,10.557,21.917,17.816,31.759c3.727,5.051,8.006,9.51,13.534,12.67c6.265,3.582,13.009,4.66,20.112,4.328
		c3.326-0.156,4.325-1.021,4.479-4.336c0.104-2.268,0.361-4.523,1.48-6.561c1.098-2,2.761-2.381,4.678-1.137
		c0.959,0.623,1.767,1.416,2.53,2.252c1.872,2.048,3.677,4.158,5.62,6.137c2.437,2.48,5.324,3.945,8.954,3.646L93.744,75.5
		c2.264-0.148,3.438-2.924,2.138-5.451C94.969,68.279,93.771,66.703,92.499,65.178z"/>
		</symbol>
		<symbol id="phone" viewBox="0 0 348.077 348.077">
			<path d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076
				c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257
				c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194
				C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02
				C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876
				c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029
				C350.631,303.527,350.95,285.795,340.273,275.083z"/>
		</symbol>
		<symbol id="time" viewBox="0 0 97.16 97.16">
			<path d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823
			c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z"/>
			<path d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832
			c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z"/>
		</symbol>
		<symbol id="email" viewBox="0 0 437.676 437.676">
			<polygon points="218.841,256.659 19.744,81.824 417.931,81.824 	"/>
			<polygon points="139.529,218.781 0,341.311 0,96.252 	"/>
			<polygon points="157.615,234.665 218.841,288.427 280.055,234.665 418.057,355.852 19.619,355.852 	"/>
			<polygon points="298.141,218.787 437.676,96.252 437.676,341.311 	"/>
		</symbol>
		<symbol id="callback" viewBox="0 0 513 513">
			<path d="M513,256.5c0,68.38-26.629,132.667-74.98,181.02C389.667,485.871,325.38,512.5,257,512.5  c-52.59,0-103.121-15.831-146.131-45.78C82.215,446.767,58.23,421.541,40,392.438V446.5H0v-120h120v40H70.978  c38.392,65.347,108.17,106,186.022,106c119.103,0,216-96.897,216-216H513z M255,40.5c77.853,0,147.631,40.654,186.022,106H393v40  h119v-120h-40v54.061c-18.23-29.102-42.215-54.329-70.869-74.281C358.121,16.331,307.59,0.5,255,0.5  c-68.341,0-132.465,26.644-180.561,75.022C26.437,123.808,0,188.08,0,256.5h40C40,137.397,136.448,40.5,255,40.5z M179.354,141.5  l-25.857,25.642c-11.558,11.556-12.78,27.601-7.504,43.872c9.132,28.166,18.733,50.284,62.715,94.256  c43.981,43.973,67.283,51.094,94.663,62.379c6.303,2.598,12.257,3.85,17.836,3.85c9.917,0,18.648-3.958,26.045-11.353L373,334.297  l-66.149-66.245l-34.111,33.352c-9.043-6.616-19.285-15.482-31.988-28.182c-12.849-12.846-22.641-23.755-30.036-33.488  l33.113-33.385L179.354,141.5z"/>
		</symbol>
		<symbol id="time2" viewBox="0 0 380 380"> 
				<path d="M190,0C85.232,0,0,85.234,0,190c0,104.766,85.232,190,190,190c104.767,0,190-85.232,190-190C380,85.233,294.767,0,190,0z
				 M269.9,316.893l-8.188-14.084c-0.945-1.625-2.703-2.635-4.587-2.635c-0.938,0-1.828,0.242-2.648,0.719
				c-1.224,0.711-2.096,1.854-2.458,3.222c-0.358,1.367-0.169,2.793,0.542,4.017l8.199,14.102
				c-18.317,9.843-38.906,15.982-60.76,17.43V319.77c0-5.521-4.479-10-10-10c-5.522,0-10,4.479-10,10v19.891
				c-21.531-1.424-41.834-7.411-59.949-17.002l8.111-14.149c0.703-1.226,0.887-2.651,0.517-4.018
				c-0.37-1.364-1.249-2.502-2.475-3.205c-0.814-0.467-1.697-0.704-2.624-0.704c-1.896,0-3.66,1.021-4.603,2.663l-8.102,14.133
				c-18.069-11.266-33.583-26.26-45.447-43.908l17.188-9.923c4.782-2.761,6.421-8.877,3.659-13.66
				c-2.761-4.781-8.877-6.421-13.659-3.658l-17.212,9.937c-9.056-18.349-14.466-38.8-15.284-60.41l16.33-0.05
				c1.414-0.004,2.741-0.559,3.737-1.561c0.996-1.003,1.543-2.334,1.538-3.748c-0.009-2.91-2.384-5.277-5.293-5.277l-16.348,0.05
				c0.699-21.949,6.136-42.72,15.319-61.327l17.212,9.937c1.574,0.909,3.293,1.341,4.989,1.341c3.456,0,6.818-1.793,8.67-5.001
				c2.762-4.783,1.123-10.899-3.659-13.66l-17.188-9.923C77.12,89.141,92.36,74.323,110.098,63.114l8.188,14.084
				c0.474,0.814,1.124,1.463,1.935,1.929c1.618,0.926,3.669,0.936,5.299-0.013c1.224-0.711,2.097-1.856,2.458-3.223
				c0.362-1.366,0.169-2.791-0.541-4.013l-8.198-14.102c18.319-9.843,38.907-15.984,60.76-17.43v19.889c0,5.522,4.478,10,10,10
				c5.521,0,10-4.478,10-10V40.346c21.53,1.424,41.832,7.41,59.947,17.001l-8.111,14.149c-1.451,2.532-0.572,5.773,1.959,7.224
				c0.813,0.466,1.696,0.703,2.624,0.703c1.897,0,3.66-1.02,4.6-2.661l8.104-14.135c18.071,11.265,33.585,26.261,45.449,43.909
				l-17.188,9.923c-4.783,2.761-6.421,8.877-3.659,13.66c1.854,3.208,5.214,5.001,8.67,5.001c1.696,0,3.416-0.432,4.989-1.341
				l17.212-9.938c9.058,18.348,14.466,38.8,15.284,60.41l-16.33,0.05c-1.414,0.004-2.741,0.559-3.735,1.561
				c-0.996,1.003-1.543,2.333-1.538,3.747c0.006,1.887,1.026,3.642,2.668,4.583c0.794,0.455,1.699,0.693,2.623,0.693h0.017
				l16.333-0.05c-0.699,21.949-6.136,42.721-15.319,61.327l-17.212-9.938c-4.784-2.762-10.896-1.122-13.659,3.66
				c-2.762,4.782-1.124,10.898,3.659,13.659l17.188,9.923C302.877,290.863,287.639,305.682,269.9,316.893z"/>
			<path d="M263.906,135.775l-64.142,35.588c-2.92-1.533-6.237-2.412-9.767-2.412c-3.528,0-6.846,0.878-9.766,2.412l-64.141-35.588
				c-6.064-3.366-13.711-1.176-17.078,4.889c-3.364,6.065-1.176,13.711,4.891,17.077l65.443,36.311
				c1.891,9.686,10.412,16.997,20.65,16.997s18.76-7.312,20.65-16.997l65.441-36.311c6.066-3.365,8.254-11.011,4.891-17.077
				C277.618,134.598,269.973,132.409,263.906,135.775z"/>
		</symbol>
		<symbol id="weights" viewBox="0 0 413 413">
			<path d=" M 278.03 5.02 C 288.89 -1.66 303.87 -0.79 313.85 7.17 C 320.33 12.49 325.46 19.23 331.76 24.76 C 336.49 22.04 341.45 19.34 346.97 18.79 C 356.20 17.94 365.83 20.98 372.56 27.44 C 377.14 31.86 381.63 36.38 386.08 40.93 C 392.59 47.62 395.65 57.36 394.45 66.58 C 393.67 71.97 391.28 76.93 388.94 81.78 C 393.90 86.90 399.17 91.73 403.97 97.00 C 408.73 102.14 411.48 108.76 413.00 115.53 L 413.00 122.46 C 411.44 129.44 408.58 136.32 403.50 141.50 C 397.03 148.05 390.63 154.82 382.85 159.86 C 385.51 164.17 388.18 168.60 389.29 173.60 C 391.03 181.62 389.66 190.33 385.28 197.30 C 382.39 201.94 378.25 205.58 374.46 209.45 C 370.27 213.63 366.16 218.16 360.67 220.62 C 350.17 225.36 337.07 224.18 327.86 217.14 C 323.36 213.68 319.61 209.38 315.58 205.42 C 307.75 197.66 300.06 189.76 292.15 182.08 C 255.22 218.63 218.40 255.30 181.77 292.15 C 189.46 300.47 197.74 308.23 205.67 316.33 C 209.76 320.56 214.41 324.31 217.90 329.09 C 225.76 340.07 225.33 356.25 216.70 366.69 C 212.13 372.09 206.98 376.98 201.86 381.84 C 195.50 387.82 186.65 390.92 177.95 390.22 C 171.14 389.90 165.13 386.37 159.42 383.00 C 154.27 391.98 146.45 398.97 138.91 405.89 C 134.48 409.54 128.98 411.58 123.48 413.00 L 113.57 413.00 C 108.83 411.58 104.10 409.82 100.08 406.87 C 93.44 401.56 87.96 394.98 81.86 389.08 C 78.98 390.48 76.10 391.93 73.07 393.01 C 65.38 395.85 56.65 395.09 49.20 391.86 C 41.66 388.53 36.73 381.62 30.72 376.28 C 24.37 370.53 19.31 362.81 18.78 354.05 C 17.81 346.22 20.62 338.64 24.31 331.89 C 18.38 325.12 11.18 319.48 5.91 312.14 C -1.80 300.80 -0.95 284.39 7.94 273.94 C 14.90 266.62 21.68 258.78 30.61 253.79 C 26.83 248.21 23.62 241.92 23.52 235.02 C 22.83 225.78 26.23 216.38 32.90 209.91 C 39.56 203.55 45.47 195.76 54.28 192.25 C 65.85 187.53 79.90 190.45 88.75 199.23 C 99.75 209.72 109.85 221.12 121.00 231.46 C 133.64 219.29 145.85 206.67 158.33 194.33 C 182.64 169.88 207.22 145.71 231.36 121.10 C 220.74 110.24 209.87 99.62 199.14 88.86 C 191.31 80.89 187.88 68.77 191.00 57.96 C 192.77 51.29 197.14 45.73 201.91 40.91 C 205.39 37.41 208.74 33.77 212.51 30.57 C 219.60 24.55 229.45 22.16 238.56 23.70 C 244.11 24.69 249.01 27.66 253.68 30.67 C 256.43 25.93 259.81 21.57 263.78 17.78 C 268.39 13.38 272.56 8.39 278.03 5.02 M 290.33 21.17 C 286.69 22.61 284.15 25.75 281.38 28.38 C 278.45 31.43 274.99 34.09 272.81 37.77 C 270.47 42.33 271.14 48.46 274.91 52.08 C 302.24 79.41 329.62 106.71 356.90 134.10 C 360.52 137.67 364.29 142.59 369.98 142.14 C 376.33 141.99 380.26 136.43 384.45 132.45 C 387.91 128.85 392.60 125.36 392.85 119.92 C 393.31 115.93 391.21 112.24 388.44 109.55 C 359.89 81.11 331.43 52.56 302.93 24.08 C 299.73 20.78 294.65 19.63 290.33 21.17 M 346.73 38.97 C 352.59 46.17 359.72 52.18 366.06 58.94 C 368.61 61.78 371.46 64.34 374.64 66.46 C 374.57 63.20 375.05 59.62 373.22 56.71 C 370.79 52.92 367.13 50.18 363.99 47.02 C 361.21 44.43 358.76 41.36 355.35 39.55 C 352.70 38.08 349.59 38.70 346.73 38.97 M 231.38 43.35 C 226.58 43.94 223.28 47.86 220.05 51.05 C 217.01 54.31 213.35 57.10 211.03 60.97 C 208.40 65.93 210.27 72.10 214.16 75.83 C 242.00 103.66 269.85 131.48 297.66 159.33 C 310.74 171.92 323.53 184.79 336.27 197.72 C 339.07 200.75 342.61 203.69 347.00 203.48 C 351.67 203.75 355.34 200.48 358.36 197.36 C 361.60 193.94 365.29 190.90 368.10 187.10 C 371.45 182.43 370.57 175.51 366.34 171.67 C 324.99 130.35 283.66 89.00 242.33 47.66 C 239.46 44.85 235.52 42.70 231.38 43.35 M 186.83 212.83 C 172.82 226.98 158.27 240.59 144.53 255.00 C 148.95 259.76 153.61 264.30 158.25 268.85 C 195.13 232.07 231.96 195.23 268.75 158.35 C 264.18 153.87 259.74 149.25 255.04 144.89 C 232.05 167.27 209.61 190.23 186.83 212.83 M 62.37 210.49 C 59.17 211.59 56.90 214.25 54.54 216.54 C 51.62 219.63 48.40 222.41 45.66 225.66 C 41.70 230.32 42.55 237.93 47.07 241.94 C 86.60 281.40 126.04 320.96 165.67 360.33 C 169.91 364.22 173.57 370.25 180.00 370.27 C 185.97 370.57 189.81 365.39 193.79 361.79 C 197.94 357.66 203.68 353.54 203.42 347.00 C 203.48 340.51 197.55 336.66 193.58 332.42 C 154.14 292.85 114.71 253.27 75.14 213.84 C 71.92 210.41 66.87 209.01 62.37 210.49 M 39.33 272.18 C 34.83 274.05 31.88 278.16 28.39 281.39 C 24.92 284.92 20.33 288.51 20.49 293.98 C 19.87 300.12 25.00 304.24 28.90 308.10 C 54.27 333.39 79.60 358.73 104.91 384.09 C 108.67 387.73 112.28 392.73 118.01 392.99 C 121.77 393.40 125.33 391.55 127.87 388.89 C 131.47 385.15 135.37 381.70 138.88 377.89 C 142.74 373.85 142.97 366.92 139.34 362.67 C 136.94 359.74 134.07 357.26 131.42 354.58 C 104.92 328.08 78.42 301.58 51.93 275.08 C 48.75 271.72 43.66 270.61 39.33 272.18 M 38.90 346.70 C 38.77 349.86 38.04 353.36 39.81 356.23 C 41.94 359.66 45.15 362.21 47.91 365.10 C 50.79 367.88 53.38 371.06 56.80 373.22 C 59.66 375.05 63.19 374.64 66.42 374.72 C 63.15 369.70 58.42 365.96 54.33 361.67 C 49.18 356.68 44.41 351.30 38.90 346.70 Z"></path>
		</symbol>
		<symbol id="pool" viewBox="0 0 124 106">
			<path d=" M 86.66 0.00 L 93.99 0.00 C 94.01 1.28 94.02 2.57 94.03 3.85 C 89.78 4.38 85.20 4.89 81.79 7.77 C 78.78 10.04 77.49 13.74 76.53 17.23 C 83.87 17.27 91.21 17.29 98.54 17.22 C 99.21 9.06 105.39 2.29 113.11 0.00 L 120.65 0.00 C 120.70 1.22 120.76 2.44 120.81 3.66 C 116.89 4.49 112.56 4.67 109.26 7.20 C 106.05 9.51 103.84 13.16 103.52 17.13 C 102.93 26.67 103.88 36.27 103.03 45.80 C 101.68 45.82 100.34 45.83 98.99 45.84 C 98.69 43.30 98.56 40.73 98.53 38.17 C 91.32 38.07 84.10 38.16 76.89 38.12 C 76.98 40.85 76.96 43.63 75.99 46.22 C 74.81 46.02 73.64 45.77 72.48 45.48 C 71.65 43.07 71.96 40.48 71.90 37.99 C 72.04 30.96 71.75 23.93 72.05 16.91 C 72.46 8.77 79.00 2.05 86.66 0.00 M 76.87 22.12 C 76.87 25.83 76.86 29.55 76.84 33.27 C 84.09 33.24 91.33 33.26 98.58 33.28 C 98.65 29.59 98.62 25.89 98.59 22.20 C 91.35 22.00 84.11 22.20 76.87 22.12 Z" />
			<path d=" M 9.86 54.80 C 15.50 53.21 19.72 47.38 26.03 48.12 C 30.41 48.47 32.99 52.48 36.55 54.47 C 39.31 55.76 42.03 53.66 44.30 52.30 C 47.97 49.87 52.24 46.97 56.87 48.42 C 61.20 49.45 63.41 54.58 67.96 54.88 C 74.04 53.69 78.32 47.05 85.02 48.15 C 89.90 48.65 92.33 54.11 97.00 54.90 C 102.86 54.01 106.83 47.94 113.04 48.06 C 116.51 47.94 119.24 50.37 121.85 52.33 C 121.83 53.48 121.82 54.64 121.81 55.79 C 118.70 56.96 116.63 54.03 113.98 53.06 C 110.71 52.48 108.07 54.92 105.47 56.47 C 101.95 58.85 97.31 61.02 93.17 58.83 C 89.20 57.39 86.79 51.88 82.02 53.17 C 77.18 54.98 73.40 59.40 68.00 59.77 C 63.47 59.96 60.32 56.36 57.04 53.83 C 54.24 51.78 50.86 53.78 48.42 55.43 C 44.71 57.81 40.33 60.92 35.71 59.31 C 31.51 58.28 29.35 53.46 25.01 52.94 C 20.07 53.42 16.80 57.93 12.10 59.21 C 7.63 60.99 3.06 58.19 0.00 55.07 L 0.00 52.61 C 0.51 52.26 1.52 51.56 2.03 51.21 C 4.58 52.44 6.82 55.15 9.86 54.80 Z" />
			<path d=" M 10.83 76.95 C 16.14 74.79 20.67 69.30 26.96 70.71 C 32.05 71.31 34.49 78.35 39.98 76.99 C 45.08 75.08 49.12 70.06 54.99 70.50 C 59.66 70.72 62.37 74.93 66.13 77.01 C 70.21 78.00 73.34 74.57 76.62 72.79 C 80.39 70.18 85.81 69.51 89.56 72.51 C 92.24 74.31 94.46 77.92 98.16 77.11 C 103.11 75.63 106.69 71.00 112.04 70.53 C 115.96 69.98 119.23 72.53 121.91 75.03 C 121.91 75.77 121.91 77.24 121.91 77.97 C 118.18 80.48 115.92 74.49 112.17 75.37 C 106.50 76.88 102.36 82.78 96.02 82.02 C 90.94 81.87 88.53 76.26 83.83 75.29 C 77.67 76.01 73.53 82.74 66.95 82.03 C 62.45 81.93 59.88 77.75 56.25 75.79 C 53.90 74.50 51.37 76.04 49.35 77.24 C 45.59 79.59 41.67 82.76 36.91 81.91 C 32.01 81.61 29.67 76.00 24.99 75.28 C 19.43 76.01 15.77 81.57 10.08 82.00 C 6.11 82.59 2.66 80.11 0.00 77.48 L 0.00 74.64 C 4.18 72.33 6.57 78.80 10.83 76.95 Z" />
			<path d=" M 9.84 99.60 C 15.53 98.07 19.68 92.08 26.08 92.99 C 31.10 93.18 33.47 98.74 38.13 99.68 C 43.71 99.10 47.37 93.57 53.00 92.98 C 56.02 92.55 59.02 93.71 61.21 95.76 C 63.39 97.37 65.52 100.10 68.55 99.58 C 74.28 97.96 78.55 91.96 85.03 93.01 C 89.99 93.34 92.35 99.04 97.11 99.68 C 102.61 98.88 106.25 93.38 111.92 92.96 C 115.95 92.32 119.22 95.07 122.15 97.38 C 122.17 99.56 121.03 101.25 118.69 101.04 C 116.71 99.12 114.16 96.93 111.18 98.03 C 105.84 100.16 101.31 105.67 95.00 104.24 C 89.92 103.62 87.48 96.57 81.97 98.00 C 76.87 99.88 72.88 104.92 67.02 104.44 C 62.37 104.27 59.66 100.09 55.94 98.00 C 52.34 96.96 49.37 99.74 46.53 101.44 C 43.27 103.70 39.06 105.42 35.13 103.89 C 30.90 102.74 28.76 97.13 23.95 97.86 C 18.93 99.21 15.37 103.95 10.00 104.42 C 6.03 104.94 2.59 102.47 0.00 99.75 L 0.00 97.21 C 3.63 94.17 6.06 100.52 9.84 99.60 Z" />
		</symbol>
		<symbol id="punch" viewBox="0 0 166 168">
			<path d=" M 75.97 10.00 C 85.25 3.05 97.21 -0.79 108.78 1.44 C 122.91 4.10 134.90 13.18 144.55 23.45 C 152.04 30.44 158.61 38.51 163.19 47.70 C 166.25 54.06 166.20 61.56 164.09 68.19 C 162.40 73.56 158.66 77.90 156.06 82.82 C 158.58 87.25 161.46 91.76 161.86 96.98 C 163.27 108.28 157.51 119.85 148.14 126.14 C 137.93 133.21 125.51 135.82 113.60 138.54 C 104.74 140.67 94.97 140.78 87.25 146.19 C 78.01 152.61 71.61 162.41 61.72 168.00 L 56.42 168.00 C 40.78 160.84 28.74 148.19 16.98 136.00 C 10.09 127.73 3.29 118.93 0.00 108.53 L 0.00 103.23 C 6.72 95.87 14.04 89.10 21.03 82.01 C 25.67 77.31 28.06 71.03 31.53 65.52 C 43.91 45.29 56.84 24.58 75.97 10.00 M 78.53 26.53 C 65.17 38.90 55.30 54.40 45.67 69.70 C 43.42 73.32 41.09 76.92 39.52 80.91 C 49.92 94.35 61.77 106.86 75.76 116.62 C 74.44 118.34 72.88 119.85 71.18 121.20 C 66.64 124.92 62.43 129.03 57.94 132.81 C 48.34 127.55 41.11 119.17 33.41 111.59 C 29.77 108.01 26.86 103.75 23.04 100.34 C 19.71 102.95 16.72 105.95 14.00 109.20 C 16.91 114.93 21.65 119.36 25.73 124.23 C 32.34 131.61 39.43 138.57 47.00 144.98 C 50.44 148.10 54.04 151.08 58.06 153.44 C 64.59 148.24 69.55 141.33 76.30 136.37 C 81.50 132.43 87.35 129.22 93.78 127.85 C 108.12 124.68 123.11 123.09 136.43 116.49 C 142.42 113.64 147.54 107.94 147.56 101.00 C 148.09 95.15 143.82 90.54 139.75 86.98 C 136.59 88.19 133.52 89.75 130.98 92.00 C 127.99 94.44 127.02 98.34 125.55 101.72 C 124.50 101.78 123.45 101.83 122.40 101.85 C 121.79 97.41 120.72 91.87 124.36 88.39 C 129.95 83.09 137.72 80.71 142.97 74.96 C 147.90 69.87 152.89 62.73 150.85 55.31 C 147.02 46.16 140.00 38.84 133.03 31.97 C 125.81 24.59 117.09 18.01 106.91 15.55 C 96.14 13.29 85.92 19.20 78.53 26.53 Z" />
		</symbol>
		<symbol id="people" viewBox="0 0 80.13 80.13">
				<path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112
				c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984
				c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984
				z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263
				c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833
				C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088
				c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699
				C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276
				c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752
				C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032
				c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265
				c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"/>
		</symbol>
		<symbol id="apple" viewBox="344.2 112 271.3 283">
			<path d="M497.1,130.3c14.1-11.8,32.4-18.5,50.7-18.2c5.8,0.2,10.8,5.6,10.4,11.4c-0.1,5.6-5.2,10.6-10.9,10.4
			c-11.7,0-23.4,3.7-32.9,10.6c-9.2,6.5-16.3,15.8-20.2,26.4c9.8-2.9,20-4.8,30.3-4.2c21,0.7,41.8,8.7,57.6,22.8
			c15.3,13.6,25.5,32.3,30.1,52.1c4.5,19.4,4.4,39.9-0.7,59.1c-5.2,19.9-15,38.4-28,54.3c-9.9,11.8-21.8,22.2-35.3,29.6
			c-9.2,5-19.1,8.6-29.5,9.9c-11,1.3-22.4,0.1-32.9-3.7c-2-0.6-3.9-1.7-6-2.1c-1.8,0.4-3.5,1.3-5.3,1.9c-13.2,4.9-27.9,5.7-41.6,2.4
			c-15.9-3.9-30.4-12.6-42.6-23.4c-13.9-12.3-25.1-27.6-33.2-44.4c-9.1-18.8-13.9-39.9-12.8-60.8c0.9-20.6,6.8-41.2,18.5-58.2
			c8.2-12.1,19.4-22.1,32.3-28.9c14.7-7.8,31.5-11.3,48-10.6c9.5,0.4,18.8,2.7,27.5,6.2C474.6,156.3,484,141.1,497.1,130.3
			 M431.4,188.8c-16.7,1.6-32.7,9.4-44.1,21.7c-12.6,13.6-19.3,31.9-20.8,50.2c-2.3,22.6,4,45.6,15.6,65c8.2,13.6,19,25.8,32,35
			c8,5.5,17.1,9.9,26.7,11.7c11.5,2.1,23.7-0.1,34-5.7c3.3-1.8,7.5-1.7,10.7,0.2c12.1,6.8,27.1,8.1,40.3,3.8
			c14.6-4.7,27.1-14.3,37.3-25.5c12.9-14.2,22.6-31.6,27.4-50.3c4.9-18.8,4.1-39-2.1-57.4c-5.3-15.3-15.2-29.3-29-38
			c-12.1-7.9-26.7-11.7-41.1-11.1c-11.7,0.5-23.1,4.5-32.6,11.2c-3.4,2.4-8.3,2.3-11.7-0.1C461.7,190.9,446.3,186.9,431.4,188.8z"/>
			<path d="M430.9,202c2.9-0.3,5.8-0.6,8.8-0.5c3.3,0.1,6.2,3.2,6.1,6.5c0.1,3.5-3,6.7-6.6,6.5c-6.7,0-13.4,1.3-19.5,4.1
			c-7.7,3.5-14.1,9.7-18.4,16.9c-6.3,10.4-8.9,22.7-9,34.8c0.2,3.2-2.1,6.3-5.4,6.8c-3.8,0.8-7.8-2.4-7.7-6.3
			c-0.1-17.2,4.5-34.8,15.2-48.5C403.2,211,416.6,203.6,430.9,202z"/>
			<path d="M572.8,264.1c3.7-0.9,7.7,2.3,7.7,6.1c0.1,9.1-1.9,18-4.6,26.6c-5.6,16.8-14.7,32.5-27.2,45.1c-9.1,9.1-20.7,16.5-33.7,18
			c-3,0.2-6.7,0.9-9.1-1.3c-3-2.5-2.8-7.7,0.3-10.1c1.4-1.3,3.3-1.5,5.1-1.5c7.1-0.2,13.8-3.1,19.6-7.1c7.2-5,13.2-11.5,18.3-18.6
			c5.6-7.9,10.1-16.5,13.4-25.6c2.9-8,4.8-16.3,4.9-24.8C567.4,267.6,569.8,264.7,572.8,264.1z"/>
		</symbol>
		<symbol id="fog" viewBox="0 0 84 113">
			<path d=" M 5.09 3.18 C 5.69 0.57 9.39 0.31 11.18 1.86 C 16.72 13.12 17.56 26.20 15.53 38.44 C 14.33 46.75 9.71 54.04 8.38 62.32 C 7.56 65.91 7.90 69.65 7.30 73.25 C 6.30 75.85 3.27 75.52 1.14 74.79 C -0.79 66.29 1.65 57.43 4.42 49.38 C 10.15 36.73 11.01 21.88 6.10 8.83 C 5.54 7.01 4.29 5.12 5.09 3.18 Z" />
			<path d=" M 72.65 9.50 C 70.50 5.78 75.65 2.98 78.50 5.36 C 82.01 11.11 83.13 17.93 84.00 24.52 L 84.00 33.41 C 83.45 35.79 82.93 38.18 82.33 40.55 C 80.74 47.20 76.71 53.04 75.71 59.87 C 74.93 63.30 75.45 66.97 74.22 70.29 C 72.27 71.69 68.39 71.78 67.88 68.85 C 67.05 60.30 69.90 51.90 73.38 44.22 C 78.23 33.24 77.65 20.33 72.65 9.50 Z" />
			<path d=" M 39.31 16.02 C 41.04 15.09 43.69 15.53 44.54 17.46 C 51.02 32.57 51.18 50.34 44.60 65.45 C 40.05 76.29 39.33 88.61 42.10 100.00 C 42.73 103.07 44.59 105.80 44.91 108.92 C 45.27 112.88 38.84 113.75 37.85 110.04 C 31.59 95.19 31.49 77.71 37.83 62.87 C 43.16 49.92 43.83 34.81 38.35 21.80 C 37.46 19.92 37.37 17.30 39.31 16.02 Z" />
		</symbol>
		<symbol id="palette" viewBox="0 0 315 300">
			<path d=" M 141.43 1.55 C 173.38 -2.21 206.44 4.67 234.28 20.77 C 273.16 43.04 301.32 82.57 310.76 126.27 C 315.11 145.17 315.54 164.79 313.86 184.05 C 312.32 197.86 308.95 212.62 298.69 222.70 C 291.29 230.32 280.34 233.58 269.91 232.84 C 253.94 232.16 239.58 224.52 224.85 219.15 C 220.18 217.58 215.28 215.78 210.27 216.41 C 207.40 216.74 205.88 219.54 204.96 221.97 C 201.92 230.23 202.61 239.22 200.82 247.74 C 198.06 262.10 189.90 275.40 178.13 284.11 C 163.25 295.21 144.38 299.98 126.00 299.73 C 106.72 299.90 87.32 295.17 70.64 285.39 C 39.72 267.68 16.92 237.15 6.89 203.13 C -10.55 146.01 8.42 79.68 53.47 40.46 C 78.01 19.09 109.13 5.41 141.43 1.55 M 145.43 25.61 C 105.87 29.87 68.13 51.93 46.65 85.67 C 29.46 112.40 21.54 145.29 26.07 176.86 C 30.11 207.20 45.61 236.20 69.75 255.25 C 84.17 267.08 102.27 274.61 121.01 275.22 C 137.02 276.05 154.72 273.27 166.68 261.70 C 174.05 254.86 177.50 244.83 178.03 234.98 C 178.94 222.27 181.52 208.33 191.33 199.31 C 197.78 193.00 207.30 191.19 216.02 192.15 C 231.15 193.76 244.61 201.44 258.89 206.08 C 264.89 207.84 271.43 209.50 277.60 207.58 C 281.92 206.25 284.65 202.21 286.14 198.16 C 289.25 189.80 289.87 180.79 290.26 171.96 C 291.26 151.12 288.14 130.00 280.51 110.54 C 269.97 83.35 250.75 59.43 225.86 44.10 C 202.10 29.25 173.30 22.48 145.43 25.61 Z" />
			<path d=" M 181.39 41.59 C 191.75 39.97 202.77 43.37 210.31 50.67 C 222.01 61.77 224.00 81.45 214.55 94.56 C 206.91 105.93 192.02 111.61 178.73 108.29 C 166.90 105.59 156.79 96.09 153.78 84.27 C 150.42 71.88 154.38 57.60 164.32 49.30 C 169.16 45.22 175.13 42.52 181.39 41.59 M 183.32 56.33 C 174.33 57.58 167.31 66.06 167.36 75.06 C 167.16 83.80 173.79 91.88 182.19 93.92 C 190.85 96.25 200.51 91.13 204.10 83.05 C 206.83 77.13 206.24 69.82 202.55 64.43 C 198.54 58.18 190.56 55.02 183.32 56.33 Z" />
			<path  d=" M 98.38 60.51 C 112.98 57.03 129.18 64.67 136.00 77.97 C 141.16 87.78 141.14 100.18 135.80 109.90 C 130.94 118.65 122.28 125.37 112.38 127.24 C 104.35 128.66 95.73 127.53 88.70 123.25 C 80.36 118.14 74.01 109.53 72.41 99.80 C 71.53 94.11 71.81 88.17 73.70 82.71 C 77.45 71.78 87.03 62.95 98.38 60.51 M 100.38 75.34 C 91.21 77.75 85.02 87.68 86.85 96.99 C 88.26 106.75 98.10 114.33 107.93 112.90 C 118.69 111.97 126.98 100.76 124.72 90.19 C 122.97 79.38 110.80 71.97 100.38 75.34 Z" />
			<path d=" M 231.35 98.37 C 242.49 95.65 254.84 98.95 263.04 106.98 C 272.50 115.88 275.76 130.34 271.55 142.55 C 268.57 151.32 261.80 158.65 253.40 162.50 C 242.22 167.59 228.23 166.10 218.56 158.43 C 206.70 149.52 202.22 132.53 207.81 118.85 C 211.74 108.74 220.79 100.86 231.35 98.37 M 235.38 112.59 C 225.16 114.41 218.19 125.54 220.67 135.56 C 222.44 145.04 232.20 151.91 241.72 150.52 C 251.93 149.46 259.97 139.16 258.36 128.97 C 257.37 118.16 245.92 110.06 235.38 112.59 Z" />
			<path d=" M 63.39 130.46 C 74.04 127.82 85.88 130.57 94.14 137.84 C 106.67 148.47 109.18 168.54 100.10 182.13 C 92.64 193.77 77.69 199.84 64.22 196.67 C 52.10 194.09 41.81 184.29 38.81 172.25 C 35.52 159.92 39.58 145.72 49.54 137.56 C 53.54 134.19 58.29 131.67 63.39 130.46 M 68.43 144.57 C 61.30 145.71 55.08 151.12 53.12 158.10 C 50.60 166.27 54.38 176.00 61.98 180.03 C 68.43 183.71 76.93 183.30 82.96 178.96 C 89.30 174.56 92.15 166.07 90.23 158.66 C 88.09 149.21 77.87 142.83 68.43 144.57 Z" />
			<path d=" M 134.39 184.61 C 150.78 181.68 168.03 192.99 171.87 209.18 C 176.29 224.74 167.29 242.40 152.29 248.25 C 137.94 254.49 119.77 248.81 111.50 235.54 C 104.53 225.12 104.42 210.64 111.11 200.06 C 116.13 191.85 124.87 186.04 134.39 184.61 M 136.36 209.27 C 130.40 211.16 128.53 219.63 133.13 223.86 C 137.57 228.66 146.59 226.44 148.09 220.01 C 150.32 213.41 142.78 206.48 136.36 209.27 Z" />
		</symbol>
		<symbol id="heart" viewBox="0 0 930 835">
			<path d=" M 114.59 57.62 C 155.77 26.45 205.52 6.67 256.90 1.30 C 265.57 0.48 274.29 0.57 283.00 0.59 C 308.77 0.09 334.50 4.41 359.12 11.89 C 393.81 22.49 426.48 39.59 455.11 61.87 C 458.35 64.48 461.55 67.16 465.00 69.51 C 477.42 59.95 489.91 50.41 503.42 42.41 C 537.65 21.48 576.13 7.05 616.05 2.26 C 632.25 0.04 648.64 0.50 664.95 0.75 C 729.60 4.69 791.28 33.80 839.00 76.98 C 864.37 100.30 885.27 128.38 900.91 159.06 C 917.01 190.36 926.98 224.88 929.23 260.04 C 929.30 263.89 929.43 267.74 930.00 271.55 L 930.00 282.45 C 929.06 288.30 929.42 294.23 928.86 300.11 C 925.28 335.22 914.48 369.54 897.47 400.45 C 884.16 424.77 867.27 447.08 847.86 466.86 C 837.89 475.87 828.67 485.67 819.09 495.09 C 716.26 597.93 613.40 700.74 510.58 803.58 C 505.17 809.17 499.34 814.34 493.92 819.92 C 490.10 823.79 486.34 827.95 481.38 830.38 C 477.25 832.39 472.75 833.44 468.45 835.00 L 461.57 835.00 C 456.36 833.09 450.77 831.98 446.02 828.99 C 441.11 826.04 437.39 821.62 433.34 817.67 C 354.41 738.59 275.42 659.58 196.42 580.58 C 157.59 541.09 118.15 502.19 79.12 462.90 C 58.21 441.11 40.28 416.36 26.83 389.29 C 13.78 362.94 5.04 334.42 1.63 305.19 C 0.74 298.97 0.92 292.66 0.00 286.44 L 0.00 268.56 C 0.63 264.08 0.73 259.55 1.08 255.04 C 3.17 230.70 9.01 206.71 17.94 183.98 C 37.41 133.83 71.97 90.18 114.59 57.62 M 252.84 73.69 C 183.74 84.73 121.75 131.45 91.21 194.28 C 80.38 216.69 73.45 241.09 71.97 265.98 C 69.72 302.04 79.40 338.43 97.40 369.61 C 108.80 389.43 123.51 407.21 139.91 423.09 C 223.90 507.09 307.91 591.09 391.91 675.09 C 416.32 699.33 440.43 723.88 465.00 747.96 C 470.07 743.38 474.67 738.32 479.58 733.58 C 584.57 628.56 689.62 523.61 794.60 418.58 C 807.57 405.35 819.52 391.03 829.26 375.24 C 846.32 347.90 857.18 316.32 858.12 283.97 C 859.28 259.62 854.42 235.36 846.54 212.41 C 835.68 183.56 818.21 157.33 796.41 135.60 C 771.08 110.38 739.90 90.75 705.58 80.45 C 673.01 70.47 637.81 68.76 604.58 76.49 C 568.48 84.69 535.34 103.38 507.43 127.42 C 470.92 163.92 434.38 200.38 397.87 236.87 C 394.31 240.33 391.03 244.37 386.34 246.33 C 378.41 249.89 368.46 247.81 362.56 241.46 C 356.46 235.53 354.99 225.86 358.08 218.10 C 359.93 213.33 364.15 210.17 367.58 206.59 C 390.01 184.02 412.71 161.71 434.98 138.99 C 432.08 135.56 428.57 132.75 425.23 129.76 C 409.34 115.81 391.86 103.61 372.99 94.02 C 344.66 79.50 312.92 71.19 281.00 71.63 C 271.57 71.41 262.18 72.52 252.84 73.69 Z" />
		</symbol>
		<symbol id="lense" viewBox="0 0 28.931 28.932">
			<path d="M28.344,25.518l-6.114-6.115c1.486-2.067,2.303-4.537,2.303-7.137c0-3.275-1.275-6.355-3.594-8.672
		C18.625,1.278,15.543,0,12.266,0C8.99,0,5.909,1.275,3.593,3.594C1.277,5.909,0.001,8.99,0.001,12.266
		c0,3.276,1.275,6.356,3.592,8.674c2.316,2.316,5.396,3.594,8.673,3.594c2.599,0,5.067-0.813,7.136-2.303l6.114,6.115
		c0.392,0.391,0.902,0.586,1.414,0.586c0.513,0,1.024-0.195,1.414-0.586C29.125,27.564,29.125,26.299,28.344,25.518z M6.422,18.111
		c-1.562-1.562-2.421-3.639-2.421-5.846S4.86,7.983,6.422,6.421c1.561-1.562,3.636-2.422,5.844-2.422s4.284,0.86,5.845,2.422
		c1.562,1.562,2.422,3.638,2.422,5.845s-0.859,4.283-2.422,5.846c-1.562,1.562-3.636,2.42-5.845,2.42S7.981,19.672,6.422,18.111z"/>
		</symbol>
		<symbol id="checked" viewBox="0 0 286.054 286.054">
				<path style="fill:#3DB39E;" d="M143.031,0C64.027,0,0.004,64.04,0.004,143.027c0,78.996,64.031,143.027,143.027,143.027
				c78.987,0,143.018-64.031,143.018-143.027C286.049,64.049,222.018,0,143.031,0z M143.031,259.236
				c-64.183,0-116.209-52.026-116.209-116.209S78.857,26.818,143.031,26.818s116.2,52.026,116.2,116.209
				S207.206,259.236,143.031,259.236z M199.241,82.187c-6.079-3.629-13.847-1.475-17.342,4.827l-47.959,86.147l-26.71-32.512
				c-4.836-5.569-11.263-8.456-17.333-4.827c-6.079,3.638-8.591,12.39-4.657,18.004l37.169,45.241c2.78,3.611,5.953,5.775,9.27,6.392
				l0.027,0.054l0.34,0.018c0.751,0.116,11.979,2.19,16.815-6.463l55.048-98.876C207.402,93.879,205.32,85.825,199.241,82.187z"/>
		</symbol>
		<symbol id="calend" viewBox="0 0 489.2 489.2" >
				<path d="M177.8,238.1c0,4.5-3.6,8.1-8.1,8.1h-30.4c-4.5,0-8.1-3.6-8.1-8.1v-30.4c0-4.5,3.6-8.1,8.1-8.1h30.4
				c4.5,0,8.1,3.6,8.1,8.1V238.1z M241.3,207.8c0-4.5-3.6-8.1-8.1-8.1h-30.4c-4.5,0-8.1,3.6-8.1,8.1v30.4c0,4.5,3.6,8.1,8.1,8.1h30.4
				c4.5,0,8.1-3.6,8.1-8.1V207.8z M304.8,207.8c0-4.5-3.6-8.1-8.1-8.1h-30.4c-4.5,0-8.1,3.6-8.1,8.1v30.4c0,4.5,3.6,8.1,8.1,8.1h30.4
				c4.5,0,8.1-3.6,8.1-8.1V207.8z M177.8,269.6c0-4.5-3.6-8.1-8.1-8.1h-30.4c-4.5,0-8.1,3.6-8.1,8.1V300c0,4.5,3.6,8.1,8.1,8.1h30.4
				c4.5,0,8.1-3.6,8.1-8.1V269.6z M241.3,269.6c0-4.5-3.6-8.1-8.1-8.1h-30.4c-4.5,0-8.1,3.6-8.1,8.1V300c0,4.5,3.6,8.1,8.1,8.1h30.4
				c4.5,0,8.1-3.6,8.1-8.1V269.6z M296.7,261.5h-30.4c-4.5,0-8.1,3.6-8.1,8.1V300c0,4.5,3.6,8.1,8.1,8.1h30.4c4.5,0,8.1-3.6,8.1-8.1
				v-30.4C304.8,265.1,301.2,261.5,296.7,261.5z M106.1,323.3H75.8c-4.5,0-8.1,3.6-8.1,8.1v30.4c0,4.5,3.6,8.1,8.1,8.1h30.4
				c4.5,0,8.1-3.6,8.1-8.1v-30.4C114.3,326.9,110.6,323.3,106.1,323.3z M114.3,269.6c0-4.5-3.6-8.1-8.1-8.1H75.8
				c-4.5,0-8.1,3.6-8.1,8.1V300c0,4.5,3.6,8.1,8.1,8.1h30.4c4.5,0,8.1-3.6,8.1-8.1V269.6z M233.2,323.3h-30.4c-4.5,0-8.1,3.6-8.1,8.1
				v30.4c0,4.5,3.6,8.1,8.1,8.1h30.4c4.5,0,8.1-3.6,8.1-8.1v-30.4C241.3,326.9,237.7,323.3,233.2,323.3z M169.7,323.3h-30.4
				c-4.5,0-8.1,3.6-8.1,8.1v30.4c0,4.5,3.6,8.1,8.1,8.1h30.4c4.5,0,8.1-3.6,8.1-8.1v-30.4C177.8,326.9,174.2,323.3,169.7,323.3z
				 M360.2,246.3c4.5,0,8.1-3.6,8.1-8.1v-30.4c0-4.5-3.6-8.1-8.1-8.1h-30.4c-4.5,0-8.1,3.6-8.1,8.1v30.4c0,4.5,3.6,8.1,8.1,8.1H360.2
				z M47.7,435.9h230.7c-3.7-11.6-5.8-24-5.9-36.8H47.7c-6,0-10.8-4.9-10.8-10.8V171h361.7v101.1c12.8,0.1,25.2,2,36.8,5.7V94.9
				c0-26.3-21.4-47.7-47.7-47.7h-53.4V17.8c0-9.6-7.8-17.4-17.4-17.4h-27.1c-9.6,0-17.4,7.8-17.4,17.4v29.5H163V17.8
				c0-9.6-7.8-17.4-17.4-17.4h-27.1c-9.6,0-17.4,7.8-17.4,17.4v29.5H47.7C21.4,47.3,0,68.7,0,95v293.3C0,414.5,21.4,435.9,47.7,435.9
				z M489.2,397.7c0,50.3-40.8,91.1-91.1,91.1S307,448,307,397.7s40.8-91.1,91.1-91.1S489.2,347.4,489.2,397.7z M444.1,374.1
				c0-2.9-1.1-5.7-3.2-7.7c-4.3-4.3-11.2-4.3-15.5,0L385.8,406l-15.2-15.2c-4.3-4.3-11.2-4.3-15.5,0c-2.1,2.1-3.2,4.8-3.2,7.7
				c0,2.9,1.1,5.7,3.2,7.7l22.9,22.9c4.3,4.3,11.2,4.3,15.5,0l47.3-47.3C443,379.8,444.1,377,444.1,374.1z"/>
		</symbol>
		<symbol id="swim" viewBox="0 0 31.39 31.39">
				<path d="M27.851,21.77c-0.327,0.375-0.803,0.591-1.304,0.591c-0.498,0-0.975-0.215-1.301-0.591
				c-1.033-1.184-2.543-1.933-4.244-1.933c-1.686,0-3.184,0.733-4.216,1.897c-0.328,0.37-0.797,0.581-1.292,0.581
				c-0.494,0-0.965-0.21-1.294-0.58c-1.034-1.164-2.528-1.898-4.215-1.898c-1.685,0-3.183,0.733-4.214,1.898
				c-0.33,0.37-0.799,0.58-1.295,0.58l0,0c-0.492,0-0.965-0.21-1.292-0.579C2.369,20.816,1.259,20.182,0,19.948v3.414
				c0.27,0.134,0.519,0.315,0.728,0.552c0.951,1.07,2.316,1.684,3.749,1.684c1.432,0,2.799-0.613,3.747-1.686
				c0.456-0.512,1.083-0.794,1.762-0.794c0.681,0,1.307,0.282,1.76,0.795c0.95,1.071,2.316,1.686,3.749,1.686
				c1.431,0,2.798-0.615,3.746-1.686c0.455-0.513,1.082-0.795,1.763-0.795c0.926,0,1.507,0.508,1.771,0.809
				c0.95,1.09,2.325,1.716,3.778,1.716c1.448-0.002,2.824-0.627,3.772-1.716c0.188-0.215,0.545-0.529,1.065-0.694v-3.319
				C29.982,20.092,28.738,20.755,27.851,21.77z"/>
			<circle cx="24.374" cy="14.518" r="4.047"/>
			<path d="M15.018,21.01c0.24,0.268,0.708,0.27,0.949-0.001c1.035-1.165,2.436-1.919,3.949-2.168
				c0.104-0.617,0.072-1.267-0.15-1.898c-0.117-0.331-1.404-4.654-1.404-4.654c-0.002-0.009-0.156-0.9,0.391-1.701
				c0.542-0.793,1.677-1.337,3.277-1.577c0.896-0.134,1.514-0.968,1.381-1.864c-0.131-0.896-0.959-1.515-1.866-1.381
				c-2.562,0.382-4.415,1.381-5.501,2.968c-1.352,1.975-0.936,4.049-0.875,4.31l0.348,1.41c-0.212,0.037-0.426,0.08-0.634,0.154
				l-6.62,2.337c-1.484,0.524-2.438,1.868-2.543,3.341c1.195-0.984,2.7-1.543,4.268-1.543C11.907,18.741,13.741,19.569,15.018,21.01z
				"/>
		</symbol>
		<symbol id="gym" viewBox="0 0 511.999 511.999">
			<path d="M503.058,157.279l-42.338-42.338l31.827-31.815c2.814-2.811,4.396-6.62,4.396-10.604c0-3.984-1.582-7.793-4.395-10.605
				l-42.612-42.612c-5.625-5.625-15.586-5.625-21.211,0L396.91,51.132L354.566,8.786c-11.715-11.715-30.71-11.715-42.426,0
				c-11.717,11.715-11.717,30.71,0,42.426l148.491,148.493c11.717,11.715,30.712,11.715,42.427,0
				C514.773,187.99,514.773,168.995,503.058,157.279z"/>

			<path d="M199.86,460.786L51.369,312.293c-11.717-11.715-30.71-11.715-42.427,0c-11.715,11.717-11.715,30.712,0,42.427
				l42.345,42.345l-31.765,31.752c-2.813,2.813-4.395,6.621-4.395,10.605s1.582,7.793,4.395,10.605l42.612,42.598
				c2.929,2.931,6.767,4.396,10.605,4.396s7.676-1.465,10.605-4.395l31.752-31.752l42.338,42.339
				c11.715,11.715,30.71,11.715,42.426,0C211.577,491.496,211.577,472.501,199.86,460.786z"/>

			<polygon points="269.713,178.492 178.647,269.868 242.287,333.508 333.353,242.13 		"/>

			<path d="M460.632,242.131L269.713,51.212c-11.715-11.715-30.711-11.715-42.426,0c-11.717,11.717-11.717,30.71,0,42.427
				l190.919,190.919c11.715,11.715,30.71,11.715,42.426,0C472.349,272.843,472.349,253.848,460.632,242.131z"/>

			<path d="M284.714,418.36L93.794,227.44c-11.715-11.715-30.71-11.715-42.425,0c-11.717,11.717-11.717,30.712,0,42.427
				l190.919,190.919c11.715,11.715,30.71,11.715,42.426,0C296.431,449.071,296.431,430.076,284.714,418.36z"/>
		</symbol>
		<symbol id="box" viewBox="0 0 440.002 440.002">
				<path d="M177.409,321.722c-0.03,0.029-0.067,0.063-0.104,0.096l4.118,23.45l23.446,4.11c0.035-0.029,0.064-0.063,0.099-0.103
				l-4.476-23.077L177.409,321.722z"/>
			<path d="M385.05,141.638c-91.001-90.996-143.231-44.24-151.66-12.499c-4.029,15.169-3.643,21.474-3.643,21.474
				c-13.679-6.735-48.593-16.202-78.575,93.825l-64.485,79.39c14.452,24.943,31.029,46.754,50.223,65.952
				c19.196,19.189,41.013,35.77,65.949,50.222l79.388-64.483c25.762-11.971,67.64-16.711,94.414-43.492
				C431.551,277.132,467.419,224.005,385.05,141.638z M256.426,336.993c-5.412,5.409-14.182,5.409-19.592,0
				c-1.28-1.278-2.25-2.752-2.921-4.323l-16.925-3.28l3.277,16.923c1.569,0.682,3.044,1.65,4.323,2.929
				c5.412,5.409,5.412,14.18,0,19.592c-5.411,5.411-14.18,5.411-19.591,0c-1.22-1.22-2.147-2.616-2.817-4.103l-17.89-3.133
				l3.138,17.888c1.485,0.666,2.882,1.592,4.101,2.817c5.41,5.409,5.41,14.181-0.001,19.592c-5.411,5.411-14.181,5.409-19.591,0
				c-5.411-5.411-5.411-14.183,0-19.592c0.045-0.05,0.097-0.084,0.143-0.132l-4.116-23.445l-23.448-4.12
				c-0.043,0.049-0.083,0.098-0.128,0.146c-5.412,5.411-14.181,5.411-19.593-0.002c-5.41-5.409-5.411-14.181,0-19.59
				c5.412-5.411,14.181-5.411,19.593,0c1.22,1.216,2.149,2.614,2.816,4.098l17.895,3.142l-3.144-17.891
				c-1.483-0.667-2.878-1.601-4.098-2.818c-5.409-5.41-5.412-14.181,0-19.592c5.411-5.41,14.181-5.41,19.591,0
				c1.283,1.281,2.25,2.749,2.924,4.326l16.926,3.275l-3.282-16.921c-1.569-0.679-3.041-1.646-4.324-2.929
				c-5.409-5.412-5.408-14.182,0-19.592c5.41-5.412,14.181-5.41,19.591,0c5.4,5.401,5.409,14.144,0.034,19.558l4.473,23.078
				l23.081,4.477c5.414-5.38,14.158-5.36,19.555,0.03C261.835,322.811,261.836,331.581,256.426,336.993z"/>
			<path d="M114.849,266.931l-5.869-7.562l-22.614,6.435c-0.013,0.05-0.033,0.09-0.046,0.14l14.067,18.791L114.849,266.931z"/>
			<path d="M62.978,292.715c1.64,0.537,3.097,1.36,4.368,2.387l17.376-5.287l-10.885-14.54c-1.624,0.072-3.289-0.121-4.929-0.662
				c-7.271-2.383-11.234-10.205-8.852-17.478c2.383-7.273,10.207-11.237,17.479-8.852c1.719,0.563,3.252,1.444,4.561,2.536
				l16.579-4.723l-10.571-13.613c-1.703,0.108-3.457-0.087-5.177-0.653c-7.271-2.382-11.233-10.206-8.851-17.479
				c2.383-7.271,10.207-11.231,17.478-8.852c7.25,2.372,11.211,10.169,8.862,17.427l14.42,18.576l22.61-6.443
				c0.706-2.123,1.884-3.95,3.369-5.432c12.748-41.831,26.184-64.664,26.184-64.664s-13.867-37.052-56.108-20.553
				c50.016-23.697,13.685-61.604,13.685-61.604s43.011,32.745,84.565,50.609c2.049-0.306,4.12-0.476,6.216-0.476
				c0.892,0,1.78,0.028,2.668,0.086c0.496-2.266,1.096-4.756,1.82-7.485c5.794-21.813,25.602-45.086,56.508-50.058
				c-10.275-23.054-34.829-47.343-86.113-64.145C79.545-24.931,48.354,31.076,24.18,104.837
				c-11.788,35.991,2.898,75.493,3.864,103.884L6.385,308.675c24.16,15.718,48.8,27.687,74.597,36.139
				c0.871,0.289,1.746,0.557,2.62,0.835c-3.091-4.801-6.103-9.729-9.041-14.8l-4.843-8.358L82.47,306.79l-10.591,3.22
				c-0.021,0.058-0.029,0.122-0.05,0.182c-2.383,7.273-10.207,11.234-17.48,8.85c-7.27-2.382-11.233-10.204-8.85-17.476
				C47.88,294.292,55.707,290.328,62.978,292.715z"/>
		</symbol>
		<symbol viewBox="0 0 16 16" id="cardio">
				<path d="m5.2832 6 1.2002 2.00049 2.54004-4.57178 1.28564 2.57129h3.36761c.206299-.637512.323303-1.30029.323303-2 0-1.43555-1.33691-4-4-4-1.14258 0-2.1958.463379-3 1.28564-.804199-.822266-1.85742-1.28564-3-1.28564-2.66309 0-4 2.56445-4 4 0 .699707.117004 1.36249.323303 2h4.9599z" transform="translate(1 1)"/><path d="m8.95697 1.42871-.714355-1.42871-2.45996 4.42822-1.7998-2.99951h-3.98285c1.20593 2.46295 3.73236 4.58698 6.26605 7 2.53369-2.41302 5.06012-4.53705 6.26605-7h-3.57513z" transform="translate(1.734 6.571)"/>
		</symbol>
		<symbol id="leafs" viewBox="0 0 978.673 978.673">
				<path d="M64.126,214.123c35.6,82.801,95.7,164.7,179.8,200.001c9.6,4,20.5,7,31.7,9.5c22.4-33.4,48.1-60.501,78.2-82.7
		c25.899-19,53-33.9,80.899-45.601c-8-5.6-16.399-10.7-25.2-15.3c-35-18.3-72.899-34.4-109.8-51.7c34.7,9.4,74.5,12.9,107.7,25
		c20.7,7.601,39.8,18.101,57.6,30.601c53.101-18.101,108.601-26.801,164-33.4c-44.899-74.6-140.7-134.5-212.9-161.6
		c-75.4-28.301-160.8-31.801-244.7-40.5c-51.4-5.301-107.3-24.5-148.2-46.9c-9.3-5.1-19.2,3.4-16,13.7
		C27.326,79.523,37.526,152.323,64.126,214.123z"/>
			<path d="M950.627,204.323c-94.601,51.4-203.101,57.7-309.4,69.9c-51.899,6-103.3,13.399-152.201,28.2
		c-10.6,3.199-21.199,6.8-31.6,10.8c-30.9,11.8-60.7,27.3-88.8,48c-26.4,19.399-48,42.4-66.2,67.7
		c-29,40.399-49.2,86.899-65.8,135.2c-30.3,87.699-44.2,180.899-41.5,273.6c1.1,37.6,1.7,76.7,11,113.4
		c2.1,8.1,4.1,18.399,10.4,24.399c8.2,7.9,22.9-0.2,19.6-11.7c-23.8-81.1-9-175.899,23.9-253.399
		c37.8-89.101,110.8-142.101,200-174.4c23.7-8.6,47.901-16.1,72.5-23.2c0.5-0.199,1-0.199,1.5-0.199c4.9,0,7,7.199,1.9,9.5
		c-29,13.1-57.8,26.3-85.201,40.6c-134.2,70-192.8,233-142.5,233c4.101,0,8.9-1.1,14.4-3.4c77.6-32.1,169.8-32.399,255.1-48.199
		c30-5.5,59.2-13,86.601-24.4c108.8-45.4,186.6-134.2,232.899-241c34.5-79.7,47.9-173.8,74-256.601c3.4-10.6-4.1-19.699-13.3-19.699
		C955.627,202.323,953.127,202.924,950.627,204.323z"/>
		</symbol>
		<symbol id="child" viewBox="0 0 512.703 512.703">
				<path d="m468.64 268.32h-13.591c-18.432-89.348-95.612-157.432-189.139-161.798-.501-.185-1.015-.348-1.545-.482-18.363-4.622-31.188-22.595-31.188-43.707 0-17.828 14.468-32.333 32.252-32.333 12.573 0 22.802 10.258 22.802 22.866 0 8.284 6.716 15 15 15s15-6.716 15-15c0-29.15-23.687-52.866-52.802-52.866-34.326 0-62.252 27.962-62.252 62.333 0 17.876 5.828 34.443 15.769 47.432-80.698 15.127-144.725 78.25-161.291 158.555h-13.591c-24.103 0-43.712 19.596-43.712 43.683 0 24.086 19.609 43.682 43.712 43.682h14.692c20.935 89.871 101.582 157.018 197.596 157.018s176.66-67.148 197.596-157.018h14.692c24.103 0 43.712-19.596 43.712-43.682 0-24.087-19.609-43.683-43.712-43.683zm-265.054 55.257c-8.284-.024-14.981-6.758-14.958-15.043.007-2.337-.708-13.999-15.481-14.041-.026 0-.053 0-.08 0-14.697 0-15.475 11.62-15.481 13.953-.023 8.284-6.75 15.007-15.043 14.957-8.284-.024-14.98-6.759-14.957-15.043.038-13.322 5.349-25.101 14.955-33.166 8.223-6.904 19.065-10.702 30.543-10.702h.148c11.534.033 22.412 3.896 30.63 10.876 9.559 8.12 14.803 19.928 14.765 33.25-.023 8.27-6.735 14.957-14.999 14.957-.013.002-.027.002-.042.002zm52.766 129.374c-26.485 0-48.033-21.533-48.033-48.002 0-8.284 6.716-15 15-15s15 6.716 15 15c0 9.926 8.089 18.002 18.033 18.002s18.033-8.076 18.033-18.002c0-8.284 6.716-15 15-15s15 6.716 15 15c-.001 26.469-21.548 48.002-48.033 48.002zm113.765-129.374c-.015 0-.029 0-.044 0-8.284-.024-14.98-6.759-14.957-15.043.016-5.445-1.993-9.263-6.14-11.673-5.407-3.142-13.27-3.165-18.695-.053-4.161 2.387-6.191 6.193-6.207 11.638-.023 8.27-6.735 14.957-14.999 14.957-.015 0-.029 0-.043 0-8.284-.024-14.981-6.758-14.958-15.043.046-16.149 7.802-29.845 21.281-37.576 14.814-8.497 33.929-8.443 48.695.138 13.434 7.807 21.112 21.547 21.066 37.696-.023 8.271-6.735 14.959-14.999 14.959z"/><
		</symbol>
		<symbol id="snow" viewBox="0 0 463.229 463.229">
			<path d="M418.193,245.165l-84.252,22.564l-32.476-18.734v-35.156l32.105-18.436l84.621,22.674c1.701,0.454,3.41,0.678,5.104,0.678
		c8.692,0,16.646-5.805,18.995-14.598c2.815-10.508-3.415-21.307-13.922-24.119l-46.391-12.43l42.766-24.553
		c9.426-5.414,12.688-17.449,7.273-26.879c-5.433-9.43-17.444-12.697-26.874-7.27l-42.854,24.611l12.427-46.407
		c2.812-10.505-3.409-21.306-13.921-24.118c-10.442-2.739-21.285,3.422-24.101,13.92l-22.58,84.256l-32.306,18.553l-30.625-17.707
		V124.86l61.931-61.93c7.688-7.692,7.688-20.151,0-27.844c-7.69-7.691-20.146-7.691-27.842,0l-34.089,34.088V19.688
		C251.183,8.816,242.365,0,231.492,0c-10.871,0-19.688,8.815-19.688,19.688V68.93l-33.841-33.844c-7.691-7.691-20.15-7.691-27.843,0
		c-7.691,7.692-7.691,20.151,0,27.844l61.684,61.683v37.544l-30.393,17.534l-32.306-18.536l-22.564-84.242
		c-2.811-10.498-13.603-16.676-24.1-13.92C91.935,65.805,85.7,76.606,88.515,87.111l12.426,46.399l-42.852-24.604
		c-9.447-5.428-21.472-2.168-26.878,7.275c-5.411,9.432-2.148,21.459,7.281,26.873l42.762,24.553l-46.392,12.43
		c-10.507,2.812-16.74,13.611-13.926,24.119c2.355,8.793,10.307,14.598,19,14.598c1.693,0,3.403-0.224,5.109-0.678l84.632-22.682
		l32.069,18.412l0.033,35.188l-32.486,18.768l-84.248-22.598c-10.433-2.738-21.291,3.43-24.109,13.924
		c-2.814,10.504,3.419,21.306,13.926,24.103l46.222,12.397l-42.641,24.616c-9.413,5.441-12.643,17.472-7.199,26.886
		c3.647,6.336,10.263,9.844,17.06,9.844c3.337,0,6.724-0.83,9.827-2.646l42.857-24.732l-12.473,46.577
		c-2.815,10.522,3.42,21.29,13.926,24.119c1.701,0.461,3.41,0.679,5.104,0.679c8.689,0,16.641-5.814,18.996-14.613l22.676-84.605
		l32.252-18.609l30.335,17.504v38.025l-61.684,61.685c-7.691,7.69-7.691,20.147,0,27.842c3.846,3.846,8.875,5.752,13.921,5.752
		c5.029,0,10.076-1.906,13.922-5.752l33.841-33.842v49.225c0,10.892,8.817,19.689,19.688,19.689
		c10.873,0,19.691-8.799,19.691-19.689v-49.471l34.089,34.088c3.845,3.846,8.874,5.752,13.921,5.752s10.076-1.906,13.921-5.752
		c7.688-7.693,7.688-20.15,0-27.842l-61.931-61.931V300.76l30.595-17.658l32.243,18.609l22.676,84.605
		c2.352,8.799,10.304,14.613,18.992,14.613c1.688,0,3.402-0.218,5.107-0.679c10.512-2.829,16.732-13.597,13.921-24.119
		l-12.487-46.577l42.873,24.732c3.104,1.814,6.49,2.646,9.828,2.646c6.797,0,13.411-3.508,17.059-9.844
		c5.443-9.414,2.215-21.443-7.199-26.886L382.15,295.59l46.221-12.398c10.507-2.797,16.737-13.6,13.922-24.102
		C439.495,248.594,428.682,242.413,418.193,245.165z M262.087,248.995l-30.472,17.599l-30.45-17.6l-0.034-35.219l30.484-17.587
		l30.472,17.613V248.995z"/>
		</symbol>
		<symbol id="info" viewBox="0 0 490 490" >
			<g>
				<g>
					<path d="M245,490C109.9,490,0,380.1,0,245S109.9,0,245,0s245,109.9,245,245S380.1,490,245,490z M245,62C144.1,62,62,144.1,62,245
						s82.1,183,183,183s183-82.1,183-183S345.9,62,245,62z"/>
				</g>
				<g>
					<g>
						<circle cx="241.3" cy="159.2" r="29.1"/>
					</g>
					<g>
						<polygon points="285.1,359.9 270.4,359.9 219.6,359.9 204.9,359.9 204.9,321 219.6,321 219.6,254.8 205.1,254.8 205.1,215.9 
							219.6,215.9 263.1,215.9 270.4,215.9 270.4,321 285.1,321 				"/>
					</g>
				</g>
			</g>
		</symbol>
		<symbol id="view-list" viewBox="0 0 511.626 511.627">
				<path d="M118.771,200.999H27.406c-7.611,0-14.084,2.664-19.414,7.994C2.663,214.32,0,220.791,0,228.407v54.823
				c0,7.61,2.663,14.078,7.992,19.406c5.33,5.329,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.665,19.414-7.994
				c5.33-5.328,7.992-11.796,7.992-19.406v-54.823c0-7.616-2.662-14.087-7.992-19.414S126.382,200.999,118.771,200.999z"/>
			<path d="M118.771,54.814H27.406c-7.611,0-14.084,2.663-19.414,7.993C2.663,68.137,0,74.61,0,82.221v54.821
				c0,7.616,2.663,14.091,7.992,19.417c5.33,5.327,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.667,19.414-7.994
				s7.992-11.798,7.992-19.414V82.225c0-7.611-2.662-14.084-7.992-19.417C132.855,57.48,126.382,54.814,118.771,54.814z"/>
			<path d="M118.771,347.177H27.406c-7.611,0-14.084,2.662-19.414,7.994C2.663,360.502,0,366.974,0,374.585v54.826
				c0,7.61,2.663,14.086,7.992,19.41c5.33,5.332,11.803,7.991,19.414,7.991h91.365c7.611,0,14.084-2.663,19.414-7.991
				c5.33-5.324,7.992-11.8,7.992-19.41v-54.826c0-7.611-2.662-14.083-7.992-19.411S126.382,347.177,118.771,347.177z"/>
			<path d="M484.215,200.999H210.131c-7.614,0-14.084,2.664-19.414,7.994s-7.992,11.798-7.992,19.414v54.823
				c0,7.61,2.662,14.078,7.992,19.406c5.327,5.329,11.8,7.994,19.414,7.994h274.091c7.61,0,14.085-2.665,19.41-7.994
				c5.332-5.328,7.994-11.796,7.994-19.406v-54.823c0-7.616-2.662-14.087-7.997-19.414
				C498.3,203.663,491.833,200.999,484.215,200.999z"/>
			<path d="M484.215,347.177H210.131c-7.614,0-14.084,2.662-19.414,7.994c-5.33,5.331-7.992,11.8-7.992,19.41v54.823
				c0,7.611,2.662,14.089,7.992,19.417c5.327,5.328,11.8,7.987,19.414,7.987h274.091c7.61,0,14.085-2.662,19.41-7.987
				c5.332-5.331,7.994-11.806,7.994-19.417v-54.823c0-7.61-2.662-14.085-7.997-19.41C498.3,349.846,491.833,347.177,484.215,347.177z
				"/>
			<path d="M503.629,62.811c-5.329-5.327-11.797-7.993-19.414-7.993H210.131c-7.614,0-14.084,2.663-19.414,7.993
				s-7.992,11.803-7.992,19.414v54.821c0,7.616,2.662,14.083,7.992,19.414c5.327,5.327,11.8,7.994,19.414,7.994h274.091
				c7.61,0,14.078-2.667,19.41-7.994s7.994-11.798,7.994-19.414V82.225C511.626,74.613,508.964,68.141,503.629,62.811z"/>
		</symbol>
		<symbol id="view-grid" viewBox="0 0 511.626 511.627">
				<path d="M301.492,347.177h-91.361c-7.614,0-14.084,2.662-19.414,7.994c-5.33,5.331-7.992,11.8-7.992,19.41v54.823
				c0,7.611,2.662,14.089,7.992,19.417c5.327,5.328,11.8,7.987,19.414,7.987h91.361c7.618,0,14.086-2.662,19.418-7.987
				c5.325-5.331,7.994-11.806,7.994-19.417v-54.823c0-7.61-2.662-14.085-7.994-19.41S309.11,347.177,301.492,347.177z"/>
			<path d="M118.771,347.177H27.406c-7.611,0-14.084,2.662-19.414,7.994C2.663,360.502,0,366.974,0,374.585v54.826
				c0,7.61,2.663,14.086,7.992,19.41c5.33,5.332,11.803,7.991,19.414,7.991h91.365c7.611,0,14.084-2.663,19.414-7.991
				c5.33-5.324,7.992-11.8,7.992-19.41v-54.826c0-7.611-2.662-14.083-7.992-19.411S126.382,347.177,118.771,347.177z"/>
			<path d="M118.771,54.814H27.406c-7.611,0-14.084,2.663-19.414,7.993C2.663,68.137,0,74.61,0,82.221v54.821
				c0,7.616,2.663,14.091,7.992,19.417c5.33,5.327,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.667,19.414-7.994
				s7.992-11.798,7.992-19.414V82.225c0-7.611-2.662-14.084-7.992-19.417C132.855,57.48,126.382,54.814,118.771,54.814z"/>
			<path d="M301.492,200.999h-91.361c-7.614,0-14.084,2.664-19.414,7.994s-7.992,11.798-7.992,19.414v54.823
				c0,7.61,2.662,14.078,7.992,19.406c5.327,5.329,11.8,7.994,19.414,7.994h91.361c7.618,0,14.086-2.665,19.418-7.994
				c5.325-5.328,7.994-11.796,7.994-19.406v-54.823c0-7.616-2.662-14.087-7.994-19.414S309.11,200.999,301.492,200.999z"/>
			<path d="M118.771,200.999H27.406c-7.611,0-14.084,2.664-19.414,7.994C2.663,214.32,0,220.791,0,228.407v54.823
				c0,7.61,2.663,14.078,7.992,19.406c5.33,5.329,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.665,19.414-7.994
				c5.33-5.328,7.992-11.796,7.992-19.406v-54.823c0-7.616-2.662-14.087-7.992-19.414S126.382,200.999,118.771,200.999z"/>
			<path d="M503.632,62.811c-5.332-5.327-11.8-7.993-19.41-7.993h-91.365c-7.61,0-14.086,2.663-19.417,7.993
				c-5.325,5.33-7.987,11.803-7.987,19.414v54.821c0,7.616,2.662,14.083,7.987,19.414c5.331,5.327,11.807,7.994,19.417,7.994h91.365
				c7.61,0,14.078-2.667,19.41-7.994s7.994-11.798,7.994-19.414V82.225C511.626,74.613,508.964,68.141,503.632,62.811z"/>
			<path d="M301.492,54.818h-91.361c-7.614,0-14.084,2.663-19.414,7.993s-7.992,11.803-7.992,19.414v54.821
				c0,7.616,2.662,14.083,7.992,19.414c5.327,5.327,11.8,7.994,19.414,7.994h91.361c7.618,0,14.086-2.664,19.418-7.994
				c5.325-5.327,7.994-11.798,7.994-19.414V82.225c0-7.611-2.662-14.084-7.994-19.414C315.578,57.484,309.11,54.818,301.492,54.818z"
				/>
			<path d="M484.222,200.999h-91.365c-7.61,0-14.086,2.664-19.417,7.994c-5.325,5.33-7.987,11.798-7.987,19.414v54.823
				c0,7.61,2.662,14.078,7.987,19.406c5.331,5.329,11.807,7.994,19.417,7.994h91.365c7.61,0,14.085-2.665,19.41-7.994
				c5.332-5.328,7.994-11.796,7.994-19.406v-54.823c0-7.616-2.662-14.087-7.994-19.414
				C498.3,203.663,491.833,200.999,484.222,200.999z"/>
			<path d="M484.222,347.177h-91.365c-7.61,0-14.086,2.662-19.417,7.994c-5.325,5.331-7.987,11.8-7.987,19.41v54.823
				c0,7.611,2.662,14.089,7.987,19.417c5.331,5.328,11.807,7.987,19.417,7.987h91.365c7.61,0,14.085-2.662,19.41-7.987
				c5.332-5.331,7.994-11.806,7.994-19.417v-54.823c0-7.61-2.662-14.085-7.994-19.41S491.833,347.177,484.222,347.177z"/>
		</symbol>
		<symbol id="fight" viewBox="0 0 57.88 57.88">
				<path d="M14.357,12.993c-0.423-0.027-0.959-0.052-1.553-0.052c-3.02,0-5.149,0.63-6.329,1.872
				c-0.744,0.784-1.091,1.772-1.032,2.888v7.652c0,1.014,0.371,1.988,1.037,2.738l9.209,10.565C15.885,38.88,16.161,39,16.445,39
				c0.132,0,0.265-0.026,0.392-0.08c0.399-0.17,0.643-0.577,0.604-1.009L15.29,13.902C15.245,13.411,14.849,13.024,14.357,12.993z"
				/>
			<path d="M34.444,29c-3.856,0-6.994,2.911-6.994,6.49l-0.006,20.39c0,0.457,0.557,0.977,1,1.089c2.537,0.647,4.216,0.911,6,0.911
				c1.771,0,3.175-0.349,6-1c0.454-0.104,1-0.534,1-1V35.605C41.444,31.963,38.304,29,34.444,29z M38.151,52.173
				c0.391,0.391,0.391,1.023,0,1.414c-0.195,0.195-0.451,0.293-0.707,0.293s-0.512-0.098-0.707-0.293l-2.293-2.293l-2.293,2.293
				c-0.195,0.195-0.451,0.293-0.707,0.293s-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l2.293-2.293l-2.293-2.293
				c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l2.293,2.293l2.293-2.293c0.391-0.391,1.023-0.391,1.414,0
				s0.391,1.023,0,1.414l-2.293,2.293L38.151,52.173z M38.151,40.293c0.391,0.391,0.391,1.023,0,1.414
				C37.956,41.902,37.7,42,37.444,42s-0.512-0.098-0.707-0.293l-2.293-2.293l-2.293,2.293C31.956,41.902,31.7,42,31.444,42
				s-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414L33.03,38l-2.293-2.293c-0.391-0.391-0.391-1.023,0-1.414
				s1.023-0.391,1.414,0l2.293,2.293l2.293-2.293c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L35.858,38L38.151,40.293z"/>
			<path d="M48.966,41.052c-0.296-0.181-0.668-0.195-0.977-0.036c-0.835,0.428-2.368,1.1-4.544,1.674v14.647
				c0,0.122-0.016,0.24-0.03,0.358c3.659-1.039,5.551-2.495,5.647-2.571c0.242-0.189,0.383-0.479,0.383-0.787V41.906
				C49.444,41.557,49.263,41.234,48.966,41.052z"/>
			<path d="M25.449,42.663c-2.137-0.58-3.696-1.252-4.561-1.68c-0.31-0.152-0.677-0.135-0.971,0.047
				c-0.294,0.183-0.473,0.504-0.473,0.85v12.457c0,0.346,0.179,0.667,0.472,0.85c0.109,0.068,2.211,1.355,5.549,2.401
				c-0.007-0.084-0.021-0.166-0.021-0.251L25.449,42.663z"/>
			<path d="M48.517,2.18C46.593,0.754,44.198,0,41.593,0H25.511c-0.485,0-0.956,0.06-1.401,0.177
				c-1.913,0.503-8.155,2.714-8.151,10.109l2.49,27.803c0.028,0.309,0.197,0.587,0.458,0.754c0.115,0.073,2.414,1.515,6.542,2.557
				l0.002-5.91c0-4.681,4.035-8.489,8.994-8.489c4.962,0,9,3.86,9,8.605v5.815c4.263-1.043,6.459-2.522,6.567-2.597
				c0.25-0.172,0.408-0.448,0.43-0.752l2.002-27.874C52.444,6.856,51.086,4.084,48.517,2.18z M46.444,17c-0.552,0-1-0.447-1-1
				c0-4.963-4.038-9-9-9c-0.552,0-1-0.447-1-1s0.448-1,1-1c6.065,0,11,4.935,11,11C47.444,16.553,46.996,17,46.444,17z"/>
		</symbol>
		<symbol id="tree" viewBox="0 0 92.925 92.925">
				<path d="M55.513,72.889c6.368,0,11.662-4.466,12.963-10.435c6.338-1.01,11.194-6.447,11.194-13.072
				c0-2.738-0.832-5.284-2.263-7.4c0.746-1.651,1.171-3.474,1.171-5.4c0-5.701-3.607-10.526-8.662-12.412
				c1.058-1.903,1.711-4.062,1.711-6.393c0-7.33-5.943-13.276-13.284-13.276c-2.614,0-5.048,0.787-7.108,2.094
				C48.928,2.667,44.71,0,39.822,0c-6.283,0-11.51,4.374-12.898,10.229c-5.713,0.887-10.402,5.407-11.151,11.432
				c-0.39,3.164,0.406,6.167,1.987,8.668c-2.736,2.437-4.504,5.944-4.504,9.897c0,4.702,2.461,8.807,6.148,11.168
				c-0.561,1.469-0.905,3.053-0.905,4.716c0,5.729,3.645,10.568,8.73,12.43c2.431,2.655,5.889,4.35,9.77,4.35
				c2.334,0,4.492-0.654,6.398-1.701v19.391h-25.42v2.347h55.136v-2.347h-25.44V70.277C49.876,71.899,52.576,72.889,55.513,72.889z"
				/>
		</symbol>
		<symbol id="close" viewBox="0 0 15 15">
			<g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-width="1.8">
				<path d="M1.49 13.51L13.51 1.49M1.49 1.49l12.02 12.02"/>
			</g>
		</symbol>
		<symbol id="massage" viewBox="0 0 945.405 945.405" >
			<path d="M615.6,894.153H0v-57.4c11.2,8.9,25.5,14.301,40.9,14.301h532.2L615.6,894.153z M266.4,51.252c-33,0-59.8,26.8-59.8,59.8
		c0,20.5,10.3,38.6,26.1,49.4c6.8-18.8,17.8-36.1,32.4-50.7s31.9-25.6,50.7-32.4C305,61.553,286.9,51.252,266.4,51.252z
		 M249.3,207.953c0,63,51.101,114,114,114c62.9,0,114-51.1,114-114c0-63-51.1-114-114-114c-13.399,0-26.2,2.3-38.1,6.5
		c-32.3,11.5-58,37.1-69.4,69.4C251.6,181.853,249.3,194.652,249.3,207.953z M187.4,365.252c-26.7,59.2-84.9,210.5-100.9,248.6
		h198.6c4.4-10.799,9.301-21.299,14.7-31.199c18.7-34.9,77.101-52.201,63.2-100.9c-0.1-0.4-0.3-0.801-0.4-1.301l52.301,49.602
		c3.899,3.699,8.6,6.699,13.6,8.6l143,54.6c4.8,1.801,9.8,2.699,14.7,2.699c16.6,0,32.2-10.1,38.399-26.5
		c8.101-21.199-2.5-45-23.8-53.1L474.4,468.053c-5.9-2.3-11.301-5.7-15.9-10c0,0-111.3-105.6-111.4-105.7
		c-4.699-4.5-10.8-7.4-17.199-9.5c-1.5-0.5-3.101-1-4.7-1.4c-1.7-0.5-3.5-1-5.3-1.4c-27.801-7.4-58.7-13.7-87.3-11.2
		c-9.4,0.8-19.7,3.2-27.7,8.7C195.7,344.152,191.9,355.353,187.4,365.252z M40.9,826.053h542.6l52,52.699c4.9,5,10.8,8.9,17.1,11.5
		c6.2,2.5,12.801,3.9,19.601,3.9h221.6c28.8,0,52-23.6,51.601-52.4c-0.5-28.301-24.101-50.699-52.4-50.699H693.8L558.4,653.653
		c-10.5-10.701-16.7-15.1-35.5-15.1c-32.4,0-482,0.299-482,0.299c-22.6,0-40.9,18.301-40.9,40.9v94.801v10.6
		C0,807.752,18.3,826.053,40.9,826.053z M871,637.452c0-65.299-53-118.299-118.3-118.299s-118.3,53-118.3,118.299
		c0,65.301,53,118.301,118.3,118.301S871,702.852,871,637.452z"/>
		</symbol>
		<symbol id="diet" viewBox="0 0 512 512.01007">
<path d="m73.148438 237.722656h27.4375v27.429688h-27.4375zm0 0"/><path d="m73.148438 320.011719h27.4375v27.425781h-27.4375zm0 0"/><path d="m73.148438 155.4375h27.4375v27.429688h-27.4375zm0 0"/><path d="m274.289062 91.4375c5.050782 0 9.144532-4.09375 9.144532-9.140625v-36.574219c0-5.046875-4.09375-9.140625-9.144532-9.140625h-55.769531c-2.238281-.144531-4.367187-.996093-6.089843-2.433593-.308594-.300782-.597657-.625-.859376-.96875-.429687-.507813-.804687-1.0625-1.113281-1.652344-.203125-.425782-.375-.863282-.515625-1.308594-.144531-.316406-.273437-.640625-.382812-.96875-3.476563-17.023438-18.453125-29.25-35.832032-29.25-17.375 0-32.351562 12.226562-35.828124 29.25-.105469.289062-.226563.574219-.367188.847656-.171875.582032-.40625 1.144532-.703125 1.675782-.828125 1.511718-2.074219 2.753906-3.585937 3.582031-.53125.289062-1.089844.523437-1.671876.695312-.546874.164063-1.113281.277344-1.683593.339844-.316407.082031-.640625.144531-.96875.191406h-55.769531c-5.050782 0-9.144532 4.09375-9.144532 9.140625v36.574219c0 5.046875 4.09375 9.140625 9.144532 9.140625zm-137.140624-36.570312h118.855468c5.050782 0 9.144532 4.09375 9.144532 9.144531 0 5.046875-4.09375 9.140625-9.144532 9.140625h-118.855468c-5.050782 0-9.144532-4.09375-9.144532-9.140625 0-5.050781 4.09375-9.144531 9.144532-9.144531zm-45.714844 0h9.144531c5.046875 0 9.140625 4.09375 9.140625 9.144531 0 5.046875-4.09375 9.140625-9.140625 9.140625h-9.144531c-5.050782 0-9.144532-4.09375-9.144532-9.140625 0-5.050781 4.09375-9.144531 9.144532-9.144531zm0 0"/><path d="m330.976562 274.480469c.238282 0 .402344.191406.628907.253906 2.453125-.226563 4.921875-.402344 7.425781-.402344h19.804688.199218c4.785156.011719 9.527344.847657 14.027344 2.476563.914062.339844 1.761719.824218 2.648438 1.21875-1.019532-7.488282-2.730469-14.863282-5.109376-22.035156-7.414062-21.664063-27.699218-36.285157-50.597656-36.472657h-.15625c-5.871094-.019531-11.738281.304688-17.570312.980469-1.179688 12.652344-1.601563 47.917969 28.699218 53.980469zm0 0"/><path d="m347.433594 207.085938v-143.074219c0-5.050781-4.09375-9.144531-9.144532-9.144531h-36.570312v18.285156h9.144531c10.097657 0 18.285157 8.1875 18.285157 18.285156v110.628906c6.285156.871094 12.433593 2.558594 18.285156 5.019532zm0 0"/><path d="m36.578125 493.722656c-10.101563 0-18.289063-8.183594-18.289063-18.285156v-384c0-10.097656 8.1875-18.285156 18.289063-18.285156h9.140625v-18.285156h-36.570312c-5.050782 0-9.14453175 4.09375-9.14453175 9.144531v438.855469c0 5.050781 4.09374975 9.144531 9.14453175 9.144531h305.371093c-8.144531-5.191407-15.644531-11.332031-22.34375-18.289063zm0 0"/><path d="m305.027344 282.160156c-21.765625-17.566406-23.402344-50.890625-20.1875-69.699218.84375-3.757813 2.40625-10.328126 26.023437-11.171876v-109.851562h-10.828125c-3.859375 10.921875-14.164062 18.238281-25.746094 18.285156h-201.140624c-11.582032-.046875-21.886719-7.363281-25.746094-18.285156h-10.824219v384h241.09375c-14.207031-21.742188-21.738281-47.167969-21.667969-73.140625v-39.589844c-.429687-34.019531 18.609375-65.300781 49.023438-80.546875zm-158.738282-117.578125h128c5.050782 0 9.144532 4.09375 9.144532 9.140625 0 5.050782-4.09375 9.144532-9.144532 9.144532h-128c-5.046874 0-9.140624-4.09375-9.140624-9.144532 0-5.046875 4.09375-9.140625 9.140624-9.140625zm-27.425781 265.140625c0 10.101563-8.1875 18.289063-18.285156 18.289063h-27.429687c-10.097657 0-18.285157-8.1875-18.285157-18.289063v-27.425781c0-10.101563 8.1875-18.285156 18.285157-18.285156h27.429687c10.097656 0 18.285156 8.183593 18.285156 18.285156zm0-82.285156c0 10.101562-8.1875 18.285156-18.285156 18.285156h-27.429687c-10.097657 0-18.285157-8.183594-18.285157-18.285156v-27.425781c0-10.101563 8.1875-18.289063 18.285157-18.289063h27.429687c10.097656 0 18.285156 8.1875 18.285156 18.289063zm0-82.285156c0 10.097656-8.1875 18.285156-18.285156 18.285156h-27.429687c-10.097657 0-18.285157-8.1875-18.285157-18.285156v-27.429688c0-10.097656 8.1875-18.285156 18.285157-18.285156h27.429687c10.097656 0 18.285156 8.1875 18.285156 18.285156zm0-82.285156c0 10.097656-8.1875 18.285156-18.285156 18.285156h-27.429687c-10.097657 0-18.285157-8.1875-18.285157-18.285156v-27.429688c0-10.097656 8.1875-18.285156 18.285157-18.285156h27.429687c10.097656 0 18.285156 8.1875 18.285156 18.285156zm109.714844 246.855468h-82.289063c-5.046874 0-9.140624-4.089844-9.140624-9.140625s4.09375-9.144531 9.140624-9.144531h82.289063c5.046875 0 9.140625 4.09375 9.140625 9.144531s-4.09375 9.140625-9.140625 9.140625zm0-82.285156h-82.289063c-5.046874 0-9.140624-4.09375-9.140624-9.140625 0-5.050781 4.09375-9.144531 9.140624-9.144531h82.289063c5.046875 0 9.140625 4.09375 9.140625 9.144531 0 5.046875-4.09375 9.140625-9.140625 9.140625zm18.285156-82.285156h-100.574219c-5.046874 0-9.140624-4.09375-9.140624-9.140625 0-5.050781 4.09375-9.144531 9.140624-9.144531h100.574219c5.046875 0 9.140625 4.09375 9.140625 9.144531 0 5.046875-4.09375 9.140625-9.140625 9.140625zm0 0"/><path d="m447.300781 292.582031h-20.1875c-2.484375.03125-4.949219.4375-7.3125 1.195313l-.441406.128906c-10.605469 4.300781-17.414063 14.746094-17.070313 26.1875l-.519531 1.050781c-1.828125-26.84375 1.070313-82.726562 50.863281-112.121093 4.207032-2.625 5.554688-8.128907 3.03125-12.402344-2.519531-4.273438-7.988281-5.753906-12.320312-3.339844-53.03125 31.296875-60.664062 87.507812-60.070312 120.546875-1.699219-9.011719-7.917969-16.515625-16.457032-19.855469-2.460937-.882812-5.054687-1.347656-7.671875-1.371094h-20.148437c-35.675782-.019531-64.707032 31.457032-64.707032 70.105469v39.589844c0 60.488281 45.660157 109.714844 101.769532 109.714844h34.175781c56.109375 0 101.769531-49.207031 101.769531-109.714844v-39.589844c0-38.648437-29.027344-70.125-64.703125-70.125zm-115.199219 36.039063c-1.015624.402344-21.238281 8.082031-21.238281 37.101562 0 5.050782-4.09375 9.144532-9.144531 9.144532s-9.140625-4.09375-9.140625-9.144532c0-42.667968 32.300781-53.941406 33.679687-54.390625 3.097657-1.046875 6.515626-.363281 8.96875 1.796875 2.453126 2.15625 3.570313 5.457032 2.929688 8.660156-.640625 3.203126-2.941406 5.824219-6.035156 6.871094zm51.902344-1.179688c.121094 1.261719.238282 2.433594.359375 3.53125-.183593-.59375-.304687-1.203125-.359375-1.820312zm0 0"/><path d="m73.148438 402.296875h27.4375v27.425781h-27.4375zm0 0"/>
		</symbol>
		<symbol id="cosm" viewBox="0 0 56 56">
			<g id="010---Citrus-Face-Rub" transform="translate(-1)"><path id="Shape" d="m6.073 31.583c.094-3.092-.627-4.312-1.077-9.165-.02820625-.0328279-.05362756-.0679495-.076-.105-.384946-1.0032412-1.45444878-1.5651689-2.499-1.313-1.02.338-1.5 1.645-1.412 3.882.134 3.23 2.181 5.354 5.064 6.701z"/><path id="Shape" d="m6.883 20.671c2.317-4.111 7.175-10.307 15.965-11.659 4.458-.686 10.424-2.6 11.114-7.045-.7650668-.36831161-1.5542069-.6843686-2.362-.946-2.588 2.756-6.93 4.012-10.667 4.587-5.9637714.99040914-11.15435124 4.6372072-14.108 9.912-.039 1.672-.043 2.929.058 5.151z"/><path id="Shape" d="m46.182 39.593 5.62-2.324c-.9250621-1.7322196-2.341827-3.1521158-4.072-4.081l-2.33 5.625c.2961112.2218613.5593812.484458.782.78z"/><path id="Shape" d="m21.733 52.629c-2.0577414-.6544-3.994385-1.64147-5.733-2.922v5.273c0 .5522847.4477153 1 1 1h14c.5522847 0 1-.4477153 1-1v-1.38c-.8057963-.7635805-1.5297162-1.6091591-2.16-2.523-1.141646.619557-2.334763 1.1391619-3.566 1.553-1.4729624.496781-3.0682566.4964297-4.541-.001z"/><path id="Shape" d="m40.476 26.219c.272-1.5.315-1.908.449-3.064-3.8855276-6.4816012-10.4280491-10.9233902-17.886-12.143-10.532 1.688-14.856 11.102-15.793 13.5.47146476 2.2620088.75046225 4.559891.834 6.869-.09662071 1.161311-.05331011 2.3300258.129 3.481.939 5.91 4.831 10.583 9.875 13.848 1.3378688.8532497 2.7787434 1.533028 4.288 2.023 1.0583608.3549805 2.2036392.3549805 3.262 0 1.0945021-.3669672 2.1562365-.8252458 3.174-1.37-2.375593-4.5554403-2.4127971-9.9759732-.0999581-14.5635928 2.3128389-4.5876196 6.6928436-7.7812258 11.7679581-8.5804072z"/><path id="Shape" d="m20.629 3.632c3-.462 6.285-1.334 8.665-3.227-2.447-.512-2.694-.385-7.964-.385-.511.024-13.251.738-14.337 11.743 3.3148173-4.38067846 8.2061435-7.29732362 13.636-8.131z"/><path id="Shape" d="m45.575 21c-1.0453222-.2540223-2.1164419.3089582-2.5 1.314-.0232805.0367609-.0486557.0721527-.076.106-.124 1.337-.132 1.573-.463 3.6 1.4134539-.0408188 2.8260086.1078358 4.2.442.449-1.695.503-4.911-1.161-5.462z"/><path id="Shape" d="m31.748 8.082c-1.3288608.83077885-2.763828 1.47829684-4.266 1.925 5.4842169 1.7539913 10.2705126 5.2027852 13.67 9.85.069-1.82.05-3.179.025-4.29-2.4760672-3.2359496-5.7156792-5.80764282-9.429-7.485z"/><path id="Shape" d="m41.049 12.329c-.1139865-3.78328444-2.0854808-7.26725531-5.27-9.313-.4057946 1.41285813-1.1892389 2.68828883-2.266 3.689 2.8260488 1.41226654 5.3779132 3.3166834 7.536 5.624z"/><path id="Shape" d="m45.4 45.185 2.33 5.615c1.7274728-.9263335 3.143242-2.3417548 4.07-4.069l-5.621-2.331c-.2216402.296842-.4838673.5610888-.779.785z"/><path id="Shape" d="m42.444 45.948-2.328 5.624c1.8809901.5665782 3.8875891.5637947 5.767-.008l-2.336-5.616c-.3640431.0730006-.7389569.0730006-1.103 0z"/><path id="Shape" d="m43.555 38.045 2.328-5.623c-1.8796761-.5681263-3.8853239-.5681263-5.765 0l2.324 5.619c.3693648-.0506724.7440089-.049326 1.113.004z"/><path id="Shape" d="m39.812 44.4c-3.6 1.49-2.022.841-5.617 2.335.9259119 1.7309182 2.3429915 3.1493895 4.073 4.077l2.332-5.629c-.2979699-.2228896-.5632183-.4864549-.788-.783z"/><path id="Shape" d="m30.062 36.639c-2.3607933 5.6952024-.7181574 12.2644181 4.0453632 16.1781819 4.7635205 3.9137638 11.5266016 4.2507829 16.6556193.8299859 5.1290177-3.4207971 7.4166107-9.7941609 5.6337159-15.6958523s-7.2165871-9.942463-13.3816984-9.9513155c-5.6671284-.0038104-10.7789034 3.4054866-12.953 8.639zm14.587-6.515c1.0096763.1390134 1.9984285.4016507 2.944.782 6.0968464 2.5585093 8.9943521 9.5510732 6.494 15.672v.014l-.012.02c-1.8648686 4.4614505-6.2253278 7.3677034-11.060848 7.3720725-4.8355203.0043691-9.2012242-2.8939993-11.074152-7.3520725-3.654-8.165 3.312-17.813 12.709-16.508z"/><path id="Shape" d="m46.947 42.555 5.623 2.328c.5691408-1.879526.5691408-3.885474 0-5.765l-5.619 2.323c.051679.3696321.050332.7447485-.004 1.114z"/><path id="Shape" d="m39.048 42.547c-.0509143-.3648992-.0509143-.7351008 0-1.1l-5.628-2.33c-.5665557 1.8806529-.5637721 3.8869265.008 5.766.53-.22 4.214-1.754 5.62-2.336z"/><path id="Shape" d="m44.848 42.763c.4109424-1.0225208-.0712225-2.185938-1.085-2.618-1.0204536-.420131-2.1883601.0656715-2.6098152 1.085579-.421455 1.0199075.0628313 2.1884435 1.0821909 2.6112219 1.0193597.4227785 2.1885232-.0599908 2.6126243-1.0788009z"/><path id="Shape" d="m40.594 38.81-2.324-5.62c-1.7348053.9261519-3.1562991 2.3455579-4.085 4.079l5.623 2.331c.2231858-.2992963.4878405-.5652978.786-.79z"/></g>
		</symbol>
	</defs>
</svg>