
.modal-fade
.modal#guest
    .modal__close
        svg(width="20", height="20")
            use(xlink:href="#close")
    .modal__content
        form
            h2 Записаться на гостевой визит
            .input-wrapper
                input.input(placeholder="Ваше имя")
            .input-wrapper
                input.input(placeholder="Телефон")
            input.btn(type="submit" value="Отправить")

.modal#callmeback
    .modal__close
        svg(width="20", height="20")
            use(xlink:href="#close")
    .modal__content
        form
            h2 Заказать обратный звонок
            .input-wrapper
                input.input(placeholder="Ваше имя")
            .input-wrapper
                input.input(placeholder="Телефон")
            input.btn(type="submit" value="Отправить")


.modal#ways
    .modal__close
        svg(width="20", height="20")
            use(xlink:href="#close")
    .modal__content
        h3 Мкр Планерная - ЖД Сходня
        p маршрут №873
        h3 Жд Сходня-Клуб
        ol 
            li автобус №7 до остановки детский сад (от туда 5 минут пешком) или 13, 35, 44  до остановки «школа», далее пешком 8 минут (750м) до Клуба.
            li Пешком 15-20 минут спокойным шагом
        h3 Речной вокзал – ЖД Сходня автобус
        p №482 идет до станции Сходня, оттуда автобус №7 до остановки «детский сад» (5 минут пешком до клуба) или на 482 до ост «школа».
        h3 Метро планерная – ЖД Сходня 
        p пешком с южного выхода м. Планерная до ул. Фомичевой метров 500 и там проходящая маршрутка №873 (м. Сходненская - ст. Сходня)
        h3 Подрезково – ЖД Сходня
        ol
            li автобус №13 до остановки «школа», далее 8 минут пешком
            li на электричке до станции Сходня


